<div class="fr-notice fr-notice--alert">
	<div class="fr-container">
		<div class="fr-notice__body">
			<p>
				<span class="fr-notice__title">Vous avez déjà fait une demande de lien. Veuillez attendre quelques minutes pour faire une nouvelle demande.</span>
			</p>
		</div>
	</div>
</div>

