<div class="fr-alert fr-alert--info">
	<p>
		Si un signalement correspond aux informations saisies, un e-mail contenant le lien vers votre page de suivi sera envoyé.
		<br>
		Consultez votre boîte mail et n'oubliez de regarder dans les e-mails indésirables (spam).
	</p>
</div>

