{% if motifRefusDoublon is defined and motifRefusDoublon %}
	<h2 class="fr-mt-5w">Vous avez déposé un autre signalement ?</h2>
	<p>
		Pour recevoir le lien vers la page de suivi de votre signalement, remplissez les champs ci-dessous. 
		Un e-mail avec le lien vers votre page de suivi vous sera alors envoyé.
	</p>
{% else %}
	<h2 class="fr-mt-5w">J'ai déposé un signalement et je veux accéder à mon suivi</h2>
	<p>
		Après le dépôt de votre signalement, vous avez reçu un e-mail contenant le lien vers votre page de suivi. 
		N'hésitez pas à consulter votre boîte mail et vos courriers indésirables (spam) pour retrouver votre lien !
		<br>
		Vous pouvez aussi demander un nouveau lien vers votre page de suivi en remplissant les champs ci-dessous. 
		Un e-mail avec le lien vers votre page de suivi vous sera alors envoyé.
	</p>
{% endif %}
