<div class="fr-table__wrapper">
    <div class="fr-table__container">
        <div class="fr-table__content">
            <table class="sortable fr-cell--multiline" aria-label="{{ tableLabel }}" aria-describedby="desc-table">
                <thead>
                    <tr>
                        {{tableHead}}
                    </tr>
                </thead>
                <tbody>
                    {{tableBody}}
                </tbody>
            </table>
        </div>
    </div>
</div>
