<dialog aria-labelledby="fr-user-edit-title" id="fr-modal-user-edit" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                       <button class="fr-btn--close fr-btn" aria-controls="fr-modal-user-edit">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-user-edit-title" class="fr-modal__title">Chargement en cours...</h1>   
                        <span class="fr-mb-3v">Tous les champs sont obligatoires</span>
                        <div id="fr-modal-user-edit-form-container">Chargement en cours...</div>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-icon-check-line" form="fr-modal-user-edit-form" type="submit">
                                    Enregistrer
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-btn--secondary fr-icon-close-line" aria-controls="fr-modal-user-edit" type="button">
                                    Annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>