<dialog aria-labelledby="modal-dpe-title" id="modal-dpe" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button" class="fr-btn--close fr-btn" aria-controls="modal-dpe">Fermer</button>
                    </div>
                    <div class="fr-modal__content" id="modal-dpe-content">
                        <h1 id="modal-dpe-title" class="fr-modal__title">
                            Consulter le(s) DPE
                        </h1>
                        <h4>Aucun DPE connu pour ce logement</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>