<dialog aria-labelledby="fr-modal-title-modal-delete-file" id="fr-modal-delete-file" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md  fr-text--left">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">

                    {% set action_route = app.request.get('_route') in ['front_suivi_signalement', 'front_suivi_signalement_messages', 'front_suivi_signalement_documents'] 
                        ? path('signalement_delete_file', { code: signalement.codeSuivi }) 
                        : path('back_signalement_delete_file', { uuid: signalement.uuid }) 
                    %}
                    <form method="POST" id="form-delete-file" action="{{ action_route }}">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-delete-file">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-delete-file" class="fr-modal__title">
                                Supprimer le document</span>
                            </h1>

                            <div class="fr-select-group">
                                Vous êtes sur le point de supprimer le document <b><span class="fr-modal-file-delete-filename"></span></b>. <br>
                                Une fois supprimé, le fichier ne sera plus visible dans le signalement. <br>
                                {% if app.request.get('_route') not in ['front_suivi_signalement', 'front_suivi_signalement_messages', 'front_suivi_signalement_documents'] %}
                                    Si vous avez partagé le document à l'usager, il n'y aura plus accès.
                                {% endif %}
                            </div>
                            <div class="fr-alert fr-alert--info">
                                <p>Voulez-vous vraiment supprimer le document ?</p>
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_delete_file_'~signalement.id) }}">
                            <input type="hidden" name="file_id" id="file-delete-fileid">
                            <input type="hidden" name="hash_src" id="file-delete-hash-src">
                        </div>
                        
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button class="fr-btn fr-icon-check-line" type="submit" form="form-delete-file"
                                        id="form-delete-file-submit">
                                        Oui, supprimer
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-delete-file">
                                        Non, annuler
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</dialog>