<dialog aria-labelledby="modal-photos-restrictions-title" role="dialog"
        id="modal-photos-restrictions" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <a href="#" class="fr-link--close fr-link" title="Fermer la fenêtre modale"
                           aria-controls="modal-photos-restrictions" target="_self">Fermer
                        </a>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="modal-photos-restrictions-title" class="fr-modal__title"><span
                                    class="fr-fi-arrow-right-line fr-fi--sm"></span>Règlementation
                            des photos</h1>
                        <div class="fr-container">
                            <div class="fr-grid-row">
                                <div class="fr-col-12">
                                    <strong>Comment bien prendre vos photos ?</strong>
                                    <small class="fr-hint-text">Quelques conseils pour bien prendre
                                        vos photos</small>
                                    <ul class="fr-list">
                                        <li>Evitez de prendre en photo des personnes ou des objets
                                            personnels
                                        </li>
                                        <li>Lorsque vous prenez votre photo, assurez-vous que la
                                            luminosité soit suffisante.
                                            <br> N’hésitez pas à activer le flash si besoin.
                                        </li>
                                        <li>Assurez-vous que votre photo n’est pas floue.</li>
                                        <li>Votre photo doit permettre de rendre compte de la
                                            situation globale. Évitez donc les photos prises en gros
                                            plan ou les photos qui ne permettent pas de bien évaluer
                                            la situation.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="fr-grid-row">
                                <div class="fr-col-12">
                                    <strong>Rappel concernant les interdictions de
                                        photographie</strong>
                                    <small class="fr-hint-text">Sont interdites les photographies
                                        des parties communes présentant un élément
                                        d'identification</small>
                                    <ul class="fr-list">
                                        <li>d'une personne</li>
                                        <li>d'une ou plusieurs boîtes aux lettres</li>
                                        <li>d'éléments extérieurs</li>
                                        <li>de numéros d'appartements</li>
                                        <li>de noms de propriétaires ou locataires de logements</li>
                                        <li>de plaque d’immatriculation de véhicules</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <a href="#" class="fr-btn fr-fi-close-line"
                                   aria-controls="modal-photos-restrictions"
                                   target="_self" title="Fermer la fenêtre modale">
                                    Fermer
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>