<dialog aria-labelledby="fr-modal-add-file-documents" id="fr-modal-add-file-documents" class="fr-modal" role="dialog" >
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-add-file-documents">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-add-file-documents-title" class="fr-modal__title">
                            <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                            Titre de la modale
                        </h1>
                        <p>Contenu de la modale.</p>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <button class="fr-btn fr-icon-checkbox-line fr-btn--icon-left" aria-controls="fr-modal-add-file-documents">
                                Valider
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>