<button class="fr-hidden" data-fr-opened="false" aria-controls="fr-modal-form-bo-quit-validation" ></button>
<dialog aria-labelledby="fr-modal-form-bo-quit-validation-title" id="fr-modal-form-bo-quit-validation" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                       <button class="fr-btn--close fr-btn" aria-controls="fr-modal-form-bo-quit-validation">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-form-bo-quit-validation-title" class="fr-modal__title">Finir plus tard</h1>   
                        <p>
                            Les partenaires sélectionnés ne seront pas enregistrés.
                        </p>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <a href="{{path('back_signalement_drafts')}}" class="fr-btn fr-btn--secondary fr-icon-check-line" aria-controls="fr-modal-form-bo-quit-validation">
                              Ok
                            </a>
                            <button class="fr-btn fr-icon-close-line" aria-controls="fr-modal-form-bo-quit-validation">
                              Annuler
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>