<dialog aria-labelledby="fr-modal-subscriptions-choice-title" id="fr-modal-subscriptions-choice" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-situation-foyer">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-subscriptions-choice-title" class="fr-modal__title">
                            La gestion des dossiers sur Signal Logement évolue !
                        </h1>
                        <p>
                            Signal Logement passe d'une gestion des dossiers par Partenaire à une gestion des dossiers par Agent.
                            <br>
                            Jusqu'à présent, les dossiers étaient gérés par partenaire. Cela signifie que vous receviez des notifications pour tous les dossiers affectés à votre partenaire, même ceux gérés par vos collègues !
                        </p>
                        <p>
                            Avec la gestion des dossiers par agent, voici ce qui change pour les nouveaux dossiers : 
                        </p>
                        <ul>
                            <li>Chaque dossier est rattaché à un ou plusieurs agents au sein de votre partenaire</li>
                            <li>Vous pouvez désormais choisir de rejoindre ou quitter un dossier</li>
                            <li>Vous pouvez voir lequel vos collègues intervient sur chaque dossier</li>
                            <li>Vous ne recevrez plus de notifications ni d'e-mails concernant les dossiers sur lesquels vous n'intervenez pas</li>
                            <li>Sur votre nouveau tableau de bord, les dossiers mis en avant sont ceux sur lesquels vous intervenez (vous pourrez toujours consulter la liste de tous les dossiers affectés à votre partenaire)</li>
                        </ul>

                        <p>
                            <strong>Pour terminer le paramétrage de votre plateforme, veuillez choisir quels dossiers existants nous devons vous attribuer.</strong>
                            <br>
                            <span class="fr-hint-text">
                                <span class="fr-icon-warning-line" aria-hidden="true"></span> 
                                Ce choix concerne uniquement les dossiers ouverts existants (en cours). Les nouveaux dossiers seront gérés par le nouveau système.
                            </span>
                        </p>

                        <form class="signalement-form-only-choice no-max-width" id="subscriptions-choice-form" method="post" action="{{ path('subscriptions_choice') }}">
                            <div class="fr-input-group">
                                <span class="no-field-errors"></span>
                            </div>
                            <div class="fr-fieldset fr-fieldset__element">
                                <div class="fr-radio-group">
                                    <input id="subscriptions_choice_all" type="radio" name="subscriptions_choice" class="fr-input" value="0">
                                    <label class="fr-label" for="subscriptions_choice_all">
                                        Tous les dossiers en cours de mon partenaire
                                        <span class="fr-hint-text">
                                            Tous les dossiers en cours de votre partenaire vous seront attribués. 
                                            Cela signifie que vous continuerez à recevoir toutes les notifications concernant ces dossiers, ils apparaîtront tous sur votre tableau de bord.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="fr-fieldset fr-fieldset__element">
                                <div class="fr-radio-group">
                                    <input id="subscriptions_choice_picked" type="radio" name="subscriptions_choice" class="fr-input" value="1">
                                    <label class="fr-label" for="subscriptions_choice_picked">
                                        Uniquement les dossiers sur lesquels j'ai effectué une action
                                        <span class="fr-hint-text">
                                            Seuls les dossiers sur lesquels vous avez déjà effectué une action (accepté le dossier, ajouté un suivi ou un document, modifié des informations, etc.) vous seront attribués. 
                                            Vous recevrez uniquement les notifications de ces dossiers, ils seront mis en avant sur votre tableau de bord.
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('subscriptions_choice') }}">
                        </form>

                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <button class="fr-btn fr-icon-check-line" type="submit" form="subscriptions-choice-form">Valider mon choix</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>