<dialog aria-labelledby="fr-modal-edit-nde-title" id="fr-modal-edit-nde" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                            <h1 id="fr-modal-edit-nde-title" class="fr-modal__title">
                                Non décence énergétique
                            </h1>
                            <button class="fr-link--close fr-link" aria-controls="fr-modal-edit-nde">Fermer</button>
                     </div>
                    <div class="fr-modal__content">
                        <p>
                            Validez les informations pour savoir si le logement dépasse le seuil de non décence énergétique ou non.
                            <br>
                            Les champs marqués d'un astérisque sont obligatoires.
                        </p>    
                        <p class="fr-mt-3v fr-alert fr-alert--warning">
                            Si le dernier bail a été établi avant 2023, le logement n'est pas concerné par 
                            la nouvelle législation sur la non décence énergétique. Vous n'aurez plus accès à ces infos.
                        </p>

                        <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-h-100 fr-hidden fr-mt-5w"
                             id="signalement-edit-nde-loader-row">
                            <div class="fr-col-12 fr-text--center">
                                <div class="lds-histologe">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <form method="POST" name="signalement-edit-nde" id="signalement-edit-nde-form" enctype="application/json"
                        action="{{ path('back_signalement_qualification_editer',{uuid:signalement.uuid, signalement_qualification:signalementQualificationNDE.id}) }}">
                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-my-3w"
                                id="signalement-edit-nde-form-row">
                                <div class="fr-col-6">
                                    <fieldset class="fr-fieldset fr-fieldset--inline">
                                        <legend class="fr-fieldset__legend fr-text--regular" id='signalement-edit-nde-date-entree-legend'>
                                            Entrée dans le logement*
                                        </legend>
                                        <p id="signalement-edit-nde-date-entree-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser la date d'entrée dans le logement.
                                        </p>
                                        <div class="fr-fieldset__content">
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-date-entree-before" name="dateEntree" value="1970-01-01" {% if signalement.dateEntree and signalement.dateEntree|date('Y')<2023 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-date-entree-before">Avant 2023
                                                </label>
                                            </div>
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-date-entree-after" name="dateEntree" value="2023-01-02" {% if signalement.dateEntree and signalement.dateEntree|date('Y')>=2023 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-date-entree-after">A partir de 2023
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="fr-col-6">
                                    <fieldset class="fr-fieldset fr-fieldset--inline">
                                        <legend class="fr-fieldset__legend fr-text--regular" id='signalement-edit-nde-dpe-legend'>
                                            DPE Disponible ?*
                                        </legend>
                                        <p id="signalement-edit-nde-dpe-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser la disponibilité du DPE.
                                        </p>
                                        <div class="fr-fieldset__content">
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-dpe-1" name="dpe" value='1' {% if signalementQualificationNDE.details and signalementQualificationNDE.details.DPE == 1 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-dpe-1">Oui
                                                </label>
                                            </div>
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-dpe-0" name="dpe" value='0' {% if signalementQualificationNDE.details and signalementQualificationNDE.details.DPE == 0 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-dpe-0">Non
                                                </label>
                                            </div>
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-dpe-2" name="dpe" value='null' {% if signalementQualificationNDE.details and signalementQualificationNDE.details.DPE is null %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-dpe-2">Ne sais pas
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="fr-grid-row fr-grid-row--gutters fr-my-3w"
                                id="signalement-edit-nde-form-row">
                                <div class="fr-col-6">
                                    <fieldset class="fr-fieldset fr-fieldset--inline">
                                        <legend class="fr-fieldset__legend fr-text--regular" id='signalement-edit-nde-dernier-bail-legend'>
                                            Date du dernier bail*
                                        </legend>
                                        <p id="signalement-edit-nde-dernier-bail-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser la date du dernier bail.
                                        </p>
                                        <div class="fr-fieldset__content">
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-dernier-bail-before" name="dateDernierBail" value="1970-01-01" {% if signalementQualificationNDE.dernierBailAt and signalementQualificationNDE.dernierBailAt|date('Y')<2023 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-dernier-bail-before">Avant 2023
                                                </label>
                                            </div>
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-dernier-bail-after" name="dateDernierBail" value="2023-01-02" {% if signalementQualificationNDE.dernierBailAt and signalementQualificationNDE.dernierBailAt|date('Y')>=2023 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-dernier-bail-after">A partir de 2023
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="fr-col-6">
                                    <fieldset class="fr-fieldset fr-fieldset--inline">
                                        <legend class="fr-fieldset__legend fr-text--regular" id='signalement-edit-nde-dpe-date-legend'>
                                            Date du dernier DPE
                                        </legend>
                                        <div class="fr-fieldset__content">
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-dpe-date-before" name="dateDernierDPE" value="1970-01-01" {% if signalementQualificationNDE.details.date_dernier_dpe and signalementQualificationNDE.details.date_dernier_dpe|date('Y')<2023 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-dpe-date-before">Avant 2023
                                                </label>
                                            </div>
                                            <div class="fr-radio-group">
                                                <input type="radio" id="signalement-edit-nde-dpe-date-after" name="dateDernierDPE" value="2023-01-02" {% if signalementQualificationNDE.details.date_dernier_dpe and signalementQualificationNDE.details.date_dernier_dpe|date('Y')>=2023 %}checked{% endif %}>
                                                <label class="fr-label" for="signalement-edit-nde-dpe-date-after">A partir de 2023
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-my-3w"
                                id="signalement-edit-nde-form-row">
                                {# Si date de DPE à partir du 01/01/2023 -> On affiche un champ unique kWh/m²/an sur toute la largeur #}
                                {% set isDPE2023 = signalementQualificationNDE.details.date_dernier_dpe and signalementQualificationNDE.details.date_dernier_dpe|date('Y') >= '2023' %}
                                <div class="{% if isDPE2023 %}fr-col-12{% else %}fr-col-6{% endif %} field-nde-conso-energie">
                                    <div class="fr-input-group">
                                        <label class="fr-label" for="signalement-edit-nde-conso-energie">
                                            Consommation énergétique
                                        </label>
                                        <input class="fr-input fr-col-10" style="display: inline;" pattern="[0-9]*" inputmode="numeric" type="number" id="signalement-edit-nde-conso-energie" name="consommationEnergie" value="{{ signalementQualificationNDE.details.consommation_energie }}">
                                        kWh<span class="{% if not isDPE2023 %}fr-hidden{% endif %} field-nde-conso-energie-unity">/m²</span>/an
                                    </div>
                                </div>
                                <div class="{% if isDPE2023 %}fr-hidden{% else %}fr-col-6{% endif %} field-nde-superficie">
                                    <div class="fr-input-group">
                                        <label class="fr-label" for="signalement-edit-nde-superficie">
                                            Superficie du logement
                                        </label>
                                        <input class="fr-input fr-col-10" style="display: inline;" pattern="[0-9]*" type="number" id="signalement-edit-nde-superficie" name="superficie" value="{{signalement.superficie}}"> m²
                                    </div>
                                </div>
                            </div>                            
                            <input type="hidden" name="_token" id="signalement-edit-nde-token" value="{{ csrf_token('signalement_edit_nde_'~signalement.id) }}">
                        </form>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-fi-checkbox-line" type="submit"
                                        id="signalement-edit-nde-form-submit">
                                    Valider
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-fi-checkbox-line fr-btn--secondary"
                                        aria-controls="fr-modal-edit-nde">
                                    Annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>