<dialog aria-labelledby="fr-user-delete-title" id="fr-modal-user-delete" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                       <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-user-delete">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-user-delete-title" class="fr-modal__title">
                            Suppression du compte de <span class="fr-modal-user-delete_username"></span> 
                        </h1>   
                        <form action="{{ path('back_partner_user_delete', {id:partner.id}) }}" name="user_delete"
                              id="user_delete_form" method="POST">
                            <div class="fr-select-group">
                                Vous êtes sur le point de supprimer le compte utilisateur de <span class="fr-modal-user-delete_username"></span> (<span class="fr-modal-user-delete_useremail"></span>). Une fois le compte supprimé :
                                <ul class="fr-list">
                                    <li><span class="fr-modal-user-delete_username"></span> ne pourra plus traiter des signalements sur le territoire.</li>
                                    <li>S'il s'agit du dernier compte utilisateur du partenaire, les signalements affectés ne pourrons plus être pris en charge par le partenaire.</li>
                                </ul>
                            </div>
                            <div class="fr-alert fr-alert--info">
                                <p>Si vous souhaitez transférer ce compte utilisateur vers un autre partenaire, cliquez sur le bouton de transfert (bouton orange) et sélectionnez le nouveau partenaire ou contactez votre responsable de territoire.</p>
                            </div>
                            <input type="hidden" name="user_id" id="fr-modal-user-delete_userid">
                            <input type="hidden" name="_token" value="{{ csrf_token('partner_user_delete') }}">
                        </form>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-icon-check-line" form="user_delete_form"
                                        id="user_delete_form_submit">
                                    Oui, supprimer
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-btn--secondary fr-icon-close-line"
                                        aria-controls="fr-modal-user-delete" type="button">
                                    Non, annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>