
<button class="fr-btn fr-hidden"  data-fr-opened="{% if autoopen == '1' %}true{% else %}false{% endif %}" aria-controls="fr-modal-closed-territory"></button>
<dialog aria-labelledby="fr-modal-title-modal-closed-territory" role="dialog" id="fr-modal-closed-territory" class="fr-modal" open="true">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-closed-territory">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-closed-territory" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Avertissement</h1>
                        <div id="fr-modal-closed-territory-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>