<dialog aria-labelledby="fr-modal-closed-territory-title" id="fr-modal-closed-territory" class="fr-modal {% if autoopen == '1' %}autoopen{% endif %}" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <h1 id="fr-modal-closed-territory-title" class="fr-modal__title">
                            <span class="fr-fi-arrow-right-line"></span>
                            Avertissement
                        </h1>
                        <button class="fr-link--close fr-link" aria-controls="fr-modal-closed-territory">Fermer</button>
                    </div>
                    <div class="fr-modal__content ">
                        <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle fr-h-100 fr-mt-5w">
                            <div class="fr-col-12">
                               <p>Nous ne pouvons malheureusement pas traiter votre demande. <br>
                                   Le service Histologe n'est pas encore ouvert dans votre département... Nous faisons tout pour le rendre disponible dès que possible !
                                   <br>
                                   En attendant, nous vous invitons à contacter gratuitement le service "Info logement indigne" au numéro suivant :</p>
                            </div>
                            <div class="fr-col-12">
                                <p class="fr-text--center">
                                    <a href="tel:01480808080" class="fr-link">
                                        <span class="fr-fi-phone"></span>
                                        +33 1 48 08 08 08
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>