<dialog aria-labelledby="reopen-all-signalement-modal-title" id="reopen-all-signalement-modal" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <form action="{{ path('back_signalement_reopen',{uuid:signalement.uuid}) }}" class="fr-mb-3v fr-w-100">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <h1 id="reopen-all-signalement-modal-title" class="fr-modal__title">
                                Rouvrir pour tous les partenaires
                            </h1>
                            <a href="#" class="fr-link--close fr-link" aria-controls="reopen-all-signalement-modal">Fermer</a>
                        </div>

                        <div class="fr-modal__content fr-text--left">
                            <div class="fr-select-group">
                                <label class="fr-label" for="publicSuivi">
                                    Un suivi de ré-ouverture va être créé. Souhaitez-vous qu'il soit partagé à l'usager ?
                                </label>
                                <select class="fr-select" id="publicSuivi" name="publicSuivi">
                                    <option value="1" selected>Oui</option>
                                    <option value="0">Non</option>
                                </select>
                            </div>
                        </div>

                        <div class="fr-modal__footer">
                            <button type="submit"
                                class="fr-btn fr-btn--success fr-icon-lock-fill fr-btn--icon-left fr-w-100 reopen"
                                name="signalement-action[reopenAll]" value="1">
                                Rouvrir le signalement pour tous
                            </button>
                            <input type="hidden" name="_token"
                                value="{{ csrf_token('signalement_reopen_'~signalement.id) }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>