<header class="fr-callout bg-light fr-mb-5v">
    <p class="fr-callout__title">Consommation d'énergie</p>
    <p class="fr-callout__text fr-mb-5v">
        Vous avez sélectionné des désordres concernant le chauffage et / ou la consommation 
        d'énergie de votre logement. Depuis le 1er janvier 2023, la législation concernant 
        la consommation d'énergie a évolué ! En effet, les logements consommant le plus 
        d'énergie peuvent être qualifiés de "non décents". Répondez aux questions suivantes 
        pour savoir si votre logement est concerné et nous permettre de vous accompagner au mieux !
    </p>
    <em class="fr-fi-information-line fr-text--bold">
        Les champs marqués d'un astérisque (*) sont obligatoires.
    </em>
</header>

<form action="#" name="signalement" class="needs-validation" id="signalement-step-3b" novalidate>
    <div id="form-nde" class="fr-form-group">
        <fieldset class="fr-fieldset fr-fieldset--inline">
            <legend class="fr-fieldset__legend fr-text--regular">
                <label class="fr-label required">Quelle est la date d'entrée dans le logement ?</label>
            </legend>
            <div class="fr-fieldset__content">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_dateEntree_0" name="signalement[dateEntree]" value="2023-01-02">
                    <label for="signalement_dateEntree_0">En 2023</label>
                </div>
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_dateEntree_1" name="signalement[dateEntree]" value="1970-01-01">
                    <label for="signalement_dateEntree_1">Avant 2023</label>
                </div>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez préciser la date d'entrée.
            </p>
        </fieldset>

        <fieldset class="fr-fieldset fr-fieldset--inline fr-mt-3w fr-hidden display-if-entree-before-2023">
            <legend class="fr-fieldset__legend fr-text--regular">
                <label class="fr-label required">Savez-vous à quelle date votre bail a été renouvelé pour la dernière fois ?</label>
            </legend>
            <div class="fr-fieldset__content">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_dateBail_0" name="signalement[dateBail]" value="2023-01-02">
                    <label for="signalement_dateBail_0">En 2023</label>
                </div>
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_dateBail_1" name="signalement[dateBail]" value="1970-01-01">
                    <label for="signalement_dateBail_1">Avant 2023</label>
                </div>
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_dateBail_2" name="signalement[dateBail]" value="Je ne sais pas">
                    <label for="signalement_dateBail_2">Je ne sais pas</label>
                </div>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez préciser la date de renouvellement de bail.
            </p>
        </fieldset>

        <fieldset class="fr-fieldset fr-fieldset--inline fr-mt-3w fr-hidden display-if-entree-2023">
            <legend class="fr-fieldset__legend fr-text--regular">
                <label class="fr-label required">Avez-vous un DPE (diagnostic de performance énergétique) pour votre logement ?</label>
            </legend>
            <div class="fr-fieldset__content">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_hasDPE_0" name="signalement[hasDPE]" value="1">
                    <label for="signalement_hasDPE_0">Oui</label>
                </div>
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_hasDPE_1" name="signalement[hasDPE]" value="0">
                    <label for="signalement_hasDPE_1">Non</label>
                </div>
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_hasDPE_2" name="signalement[hasDPE]" value="">
                    <label for="signalement_hasDPE_2">Je ne sais pas</label>
                </div>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez préciser si vous disposez d'un DPE.
            </p>
        </fieldset>

        <fieldset class="fr-fieldset fr-fieldset--inline fr-mt-3w fr-hidden display-if-has-dpe">
            <legend class="fr-fieldset__legend fr-text--regular">
                <label class="fr-label required">Quand le DPE de votre logement a-t-il été réalisé ?</label>
            </legend>
            <div class="fr-fieldset__content">
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_dateDPE_0" name="signalement[dateDPE]" value="2023-01-02">
                    <label for="signalement_dateDPE_0">En 2023</label>
                </div>
                <div class="fr-radio-group">
                    <input type="radio" id="signalement_dateDPE_1" name="signalement[dateDPE]" value="1970-01-01">
                    <label for="signalement_dateDPE_1">Avant 2023</label>
                </div>
            </div>
            <p class="fr-error-text fr-hidden">
                Veuillez préciser la date de votre DPE.
            </p>
        </fieldset>

        <dialog aria-labelledby="fr-modal-title-modal-dpe-2023" role="dialog" id="fr-modal-dpe-2023" class="fr-modal">
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                                <button type="button" class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-dpe-2023">Fermer</button>
                            </div>
                            <div class="fr-modal__content">
                                <h1 id="fr-modal-title-modal-dpe-before-2023" class="fr-modal__title">
                                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>Trouver les informations sur votre DPE
                                </h1>
                                <p>
                                    Sur la première page de votre DPE, cherchez la <strong>consommation d'énergie primaire</strong>,
                                    indiquée en kWh/m²/an. Le nombre est situé sur la première page, à côté de l'indice performance
                                    du logement (une lettre de A à G).    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>

        <fieldset class="fr-fieldset fr-fieldset--inline fr-my-3w fr-hidden display-if-dpe-2023">
            <legend class="fr-fieldset__legend fr-text--regular">
                <label class="fr-label required">Quelle est la consommation en énergie finale indiquée sur votre DPE ?</label>
            </legend>
            <div class="fr-alert fr-alert--info fr-mb-3w">
                <p><a href="#" data-fr-opened="false" aria-controls="fr-modal-dpe-2023">Comment trouver l'information sur mon DPE ?</a></p>
            </div>
            <div class="fr-fieldset__content">
                <label class="fr-label" for="signalement[consoSizeYear]">Nombre de kWh/m²/an</label>
                <input class="fr-input" type="text" name="signalement[consoSizeYear]">
                <button class="fr-btn fr-btn--secondary calculate-conso fr-mt-3w" type="button">OK</button>
            </div>
            <p class="fr-error-consoSizeYear fr-hidden fr-mt-3w">
                Veuillez préciser votre consommation énergétique avec un nombre entier
            </p>
        </fieldset>

        <dialog aria-labelledby="fr-modal-title-modal-dpe-before-2023" role="dialog" id="fr-modal-dpe-before-2023" class="fr-modal">
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                                <button type="button" class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-dpe-before-2023">Fermer</button>
                            </div>
                            <div class="fr-modal__content">
                                <h1 id="fr-modal-title-modal-dpe-before-2023" class="fr-modal__title">
                                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>Trouver les informations sur votre DPE
                                </h1>
                                <p>
                                    Vous devez récupérer deux informations sur votre DPE :
                                    <br>
                                    <ul>
                                        <li>
                                            La <strong>surface habitable</strong> de votre logement, indiquée en m²
                                        </li>
                                        <li>
                                            La <strong>consommation en énergie finale</strong> de votre logement,
                                            indiquée en kWh avec la mention "é.f" (kWhef ou kWhef/an ou kWh é.f.)
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>

        <fieldset class="fr-fieldset fr-fieldset--inline fr-mt-3w fr-hidden display-if-dpe-before-2023">
            <legend class="fr-fieldset__legend fr-text--regular">
                <label class="fr-label required">Quelle est la consommation en énergie finale indiquée sur votre DPE ?</label>
            </legend>
            <div class="fr-alert fr-alert--info fr-mb-3w">
                <p><a href="#" data-fr-opened="false" aria-controls="fr-modal-dpe-before-2023">Comment trouver l'information sur mon DPE ?</a></p>
            </div>
            <div class="fr-fieldset__content">
                <label class="fr-label" for="signalement[consoSize]">Nombre de m²</label>
                <input class="fr-input" type="text" name="signalement[consoSize]">

                <label class="fr-label fr-mt-3w" for="signalement[consoYear]">Nombre de kWh/an</label>
                <input class="fr-input" type="text" name="signalement[consoYear]">

                <button class="fr-btn fr-btn--secondary calculate-conso fr-mt-3w" type="button">OK</button>
            </div>
            <p class="fr-error-consoSizePlusYear fr-hidden fr-mt-3w">
                Veuillez préciser votre consommation énergétique avec un nombre entier
            </p>
        </fieldset>

        <p class="fr-hidden display-if-conso-complete fr-mt-3w">
            La consommation d'énergie finale de votre logement est de <span></span> kWh/m²/an.
        </p>

        <p class="fr-hidden display-if-bail-before-2023 fr-mt-3w">
            Votre logement n'est pas concerné par les changements de législation concernant la consommation énergétique.
            Cliquez sur le bouton "Continuer" pour compléter votre signalement sur {{ platform.name }} !
        </p>

        <p class="fr-hidden display-if-missing-info fr-mt-3w">
            Il nous manque des informations pour déterminer la consommation énergétique de votre logement !
            Ces informations pourront vous être demandées plus tard.
            <br>
            Cliquez sur le bouton "Continuer" pour compléter votre signalement et le déposer sur {{ platform.name }}.
        </p>

        <p class="fr-hidden display-if-not-nde fr-mt-3w">
            D'après les informations renseignées, votre logement n'est pas concerné par la non décence énergétique.
            Cliquez sur le bouton "Continuer" pour compléter votre signalement et le déposer sur {{ platform.name }}.
        </p>

        <p class="fr-hidden display-if-nde fr-mt-3w">
            D'après les informations renseignées, votre logement est en situation de non décence énergétique.
            Vous allez bénéficier d'un accompagnement spécifique sur les problèmes de consommation énergétique dans votre logement.
            Cliquez sur le bouton "Continuer" pour compléter votre signalement et le déposer sur {{ platform.name }} !
        </p>

        <div class="fr-grid-row fr-hidden display-if-finished fr-mt-3w">
            <div class="fr-col-12 fr-text--center">
                <button class="fr-btn fr-fi-arrow-right-line fr-btn--icon-right">Continuer</button>
            </div>
        </div>
    </div>
</form>
