<strong class="fr-ws-nowrap">{{ photo.uploadedBy.nomComplet ?? 'N/R' }}</strong>
<hr class="fr-pb-1v">
<span class="fr-ws-nowrap">{{ photo.createdAt is defined ? photo.createdAt|date('d.m.Y') : 'N/R' }}</span>