<table>
    <tr>
        <td class="fr-text--right">Transmis par : </td>
        <th>{{ photo.uploadedBy.nomComplet ?? 'N/R' }}</th>
    </tr>
    {% if photo.createdAt %}
        <tr>
            <td class="fr-text--right">Transmis le : </td>
            <th>{{ photo.createdAt|date('d/m/Y') }}</th>
        </tr>
    {% endif %}
    {% if photo.datePriseDeVue %}
        <tr>
            <td class="fr-text--right">Pris le : </td>
            <th>{{ photo.datePriseDeVue|date('d/m/Y') }}</th>
        </tr>
    {% endif %}
</table>