<fieldset class="fr-fieldset" id="radio-rich-hint-inline" aria-labelledby="radio-rich-hint-inline-legend radio-rich-hint-inline-messages">
	<legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-rich-hint-inline-legend">
		Sélectionnez le format du fichier qui vous sera envoyé par e-mail.
	</legend>
	<div class="fr-fieldset__element fr-fieldset__element--inline">
		<div class="fr-radio-group fr-radio-rich">
			<input value="xlsx" type="radio" id="radio-rich-hint-inline-xls" name="file-format">
			<label class="fr-label" for="radio-rich-hint-inline-xls">
				Fichier Excel (.xls)
			</label>
			<div class="fr-radio-rich__pictogram">
				<img src="{{ asset('img/picto-dsfr/file-xls.svg') }}" class="img-mw-100" alt="Fichier Excel">
			</div>
		</div>
	</div>
	<div class="fr-fieldset__element fr-fieldset__element--inline">
		<div class="fr-radio-group fr-radio-rich">
			<input value="csv" type="radio" id="radio-rich-hint-inline-csv" name="file-format">
			<label class="fr-label" for="radio-rich-hint-inline-csv">
				Fichier CSV
			</label>
			<div class="fr-radio-rich__pictogram">
				<img src="{{ asset('img/picto-dsfr/file-csv.svg') }}" class="img-mw-100" alt="Fichier CSV">
			</div>
		</div>
	</div>
	<div class="fr-messages-group" id="radio-rich-hint-inline-messages" aria-live="polite">
	</div>
</fieldset>