{% set columns = [
    { class: 'fr-col-md-3', title: 'Profil déclarant' },
    { class: 'fr-col-md-4', title: 'Référence' },
    { class: 'fr-col-md-2', title: 'Déposé le' },
    { class: 'fr-col-md-2', title: 'Parc' }
] %}
<section class="fr-mb-5v">
    <header class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-9">
            <h3 class="fr-text-label--blue-france tab-panel-title-with-press-card-icon">Dossiers déposés depuis le formulaire usager ({{ count }})</h3>
        </div>
        <div class="fr-select-group fr-col-12 fr-col-md-3">
            <label class="fr-label" for="orderType">
                Trier par
            </label>
            <select id="orderType" name="orderType" class="fr-select">
                <option value="p.nom-ASC" selected="selected">Date la plus récente (du plus récent au plus ancien) = tri par défaut</option>
                <option value="p.nom-DESC">Date la plus ancienne (de la plus ancienne à la plus récente)</option>
                <option value="p.id-ASC">Ordre alphabétique (A > Z) = sur le nom associé au dossier</option>
                <option value="p.id-DESC">Ordre alphabétique (Z > A)</option>
            </select>
        </div>
    </header>
    <hr class="hr--blue-france">
    <section class="fr-container--fluid">
        {% for item in items %}
            {% include 'back/dashboard/components/_card.html.twig' with {
                columns: columns,
                data: [
                    '<span class="fr-badge fr-badge--no-icon fr-badge--yellow-tournesol">' ~ item.profilDeclarant ~ '</span>',
                    '<div class="fr-text-label--blue-france">
                        <div><strong class="text--xl">' ~ item.reference ~ '</strong></div>
                        <div>' ~ item.adresse ~ '</div>
                    </div>',
                    '<div>' ~ item.depotAt ~ '</div>',
                    '<span class="fr-badge fr-badge--info fr-badge--no-icon">' ~ item.parc ~ '</span>'
                ],
                link: item.lien
            } %}
        {% else %}
            <p>Aucun dossier trouvé.</p>
        {% endfor %}
        {% include 'back/dashboard/components/_footer_link.html.twig' %}

    </section>
</section>


