<style>
    @page {margin: 1cm;}
    div {box-sizing: border-box;}
</style>
<div style="font-family: Arial, sans-serif; font-size: 14px;">
    {% include 'back/signalement-injonction/_courrier-bailleur-header.html.twig' %}
    {% block content %}{% endblock %}
</div>
