<dialog aria-labelledby="fr-config-service-secours-route-delete-title" id="fr-modal-config-service-secours-route-delete" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                       <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-config-service-secours-route-delete">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-config-service-secours-route-delete-title" class="fr-modal__title">
                            Suppression d'une route de service secours
                        </h1>   
                        <form 
                            action="#" 
                            name="config_service_secours_route_delete" 
                            id="config_service_secours_route_delete_form" 
                            method="POST" 
                            data-submit-type="formData"
                            >
                            <div>
                                Vous êtes sur le point de supprimer la route <span class="fr-modal-config-service-secours-route-delete-name"></span> 
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('config_service_secours_route_delete') }}">
                            <input type="hidden" name="search_params" value="{{ app.request.query.all|url_encode }}">
                        </form>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-icon-check-line" form="config_service_secours_route_delete_form" id="config_service_secours_route_delete_form_submit" type="submit">
                                    Oui, supprimer
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-btn--secondary fr-icon-close-line"
                                        aria-controls="fr-modal-config-service-secours-route-delete">
                                    Non, annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>