<div class="fr-col-12 fr-col-md-6 fr-mb-6v fr-text--center">
    <div class="fr-connect-group">
        <form action="{{ path('app_user_proconnect_login') }}" method="post">
            <button class="fr-connect">
                <span class="fr-connect__login">S’identifier avec</span>
                <span class="fr-connect__brand">ProConnect</span>
            </button>
        </form>
        <p>
            <a href="https://www.proconnect.gouv.fr/"
               target="_blank"
               rel="noopener"
               title="Qu’est ce que ProConnect ? - nouvelle fenêtre">Qu’est ce que ProConnect ?
            </a>
        </p>
    </div>
</div>
<div class="fr-col-12 fr-text--center">
    <p class="fr-hr-or">ou</p>
</div>
