<div class="fr-grid-row fr-grid-row--gutters">
<div class="fr-col-12 ">
    <h2 class="fr-col-12 fr-mb-4v">Se connecter avec ProConnect</h2>
    {# <div class="fr-col-12 fr-col-md-6"> #}
        <p>
            <strong>ProConnect</strong> est la solution proposée par l’État pour sécuriser et simplifier la connexion aux services en ligne.
        </p>
    {# </div> #}

    {# <div class="fr-col-12 fr-col-md-6 fr-mb-6v fr-text--center"> #}
        <div class="fr-connect-group">
            <form action="{{ path('app_user_proconnect_login') }}" method="post">
                <button class="fr-connect" aria-label="S’identifier avec ProConnect">
                    <span class="fr-connect__login">S’identifier avec</span>
                    <span class="fr-connect__brand">ProConnect</span>
                </button>
            </form>
            <p>
                <a href="https://www.proconnect.gouv.fr/"
                   target="_blank"
                   rel="noopener"
                   title="Qu’est-ce que ProConnect ? - nouvelle fenêtre">Qu’est-ce que ProConnect ?
                </a>
            </p>
        </div>
    </div>
</div>

<div class="fr-col-12 fr-text--center">
    <p class="fr-hr-or">ou</p>
</div>
