{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <main class="fr-container fr-py-5w">
        <section class="fr-grid-row fr-grid-row--center">
            <header class="fr-callout bg-light fr-col-12">
                <p class="fr-callout__title">Création de votre mot de passe</p>
                <p class="fr-callout__text fr-mb-5v">
                    Vous avez demander la récupération ou la création de votre mot de passe
                </p>
                <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france"> C'est votre première
                    connexion, ou vous avez demander la récuperation de mot de passe, vous devez donc créer un nouveau
                    mot de passe</em>
            </header>
            <form class="needs-validation fr-mt-5v fr-col-md-6" name="login-creation-mdp-form" method="POST"
                  novalidate="">
                <dialog aria-labelledby="fr-modal-cgu-bo-title" id="fr-modal-cgu-bo" class="fr-modal" role="dialog">
                    <div class="fr-container fr-container--fluid fr-container-md">
                        <div class="fr-grid-row fr-grid-row--center">
                            <div class="fr-col-12 fr-col-md-8">
                                <div class="fr-modal__body">
                                    <div class="fr-modal__header">
                                        <h1 id="fr-modal-cgu-bo-title" class="fr-modal__title">
                                            <span class="fr-fi-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                                            Conditions Générales d'Utilisation
                                        </h1>
                                        <button class="fr-link--close fr-link" aria-controls="fr-modal-2">Fermer
                                        </button>
                                    </div>
                                    <div class="fr-modal__content">
                                        {{ include('back/cgu_bo.html.twig') }}
                                    </div>
                                    <div class="fr-modal__footer">
                                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                            <li>
                                                <button class="fr-btn fr-fi-checkbox-line">
                                                    Accepter et continuer
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dialog>
                <div class="fr-input-group">
                    <label class="fr-label" for="login-email">
                        Courriel
                        <span class="fr-hint-text">Adresse utilisée lors de la création de votre compte</span>
                    </label>
                    <div class="fr-input">{{ app.user.userIdentifier }}</div>
                </div>
                <div class="fr-input-group fr-grid-row fr-grid-row--middle">
                    <label class="fr-label fr-col-12" for="login-password">
                        Mot de passe
                        <span class="fr-hint-text">Choisissez un mot de passe <u>fort et unique</u> <em>(minimum 8 caratères)</em></span>
                    </label>
                    <input class="fr-input fr-col-11" aria-describedby="login-password-error-desc-error" type="password"
                           id="login-password" name="password" required minlength="8">
                    <span class="fr-btn fr-fi-eye-off-fill fr-col-1 fr-mt-2v fr-password-toggle"
                          title="Afficher/Cacher le mot de passe"></span>
                    <p id="login-password-error-desc-error" class="fr-error-text fr-hidden fr-col-12">
                        Veuillez saisir votre mot de passe.
                    </p>
                </div>
                <div class="fr-input-group fr-grid-row fr-grid-row--middle">
                    <label class="fr-label fr-col-12" for="login-password-repeat">
                        Confirmation du mot de passe
                        <span class="fr-hint-text">Saisissez à nouveau votre mot de passe</span>
                    </label>
                    <input class="fr-input fr-col-11" aria-describedby="login-password-error-desc-error" type="password"
                           id="login-password-repeat" name="password-repeat" required minlength="8">
                    <span class="fr-btn fr-fi-eye-off-fill fr-col-1 fr-mt-2v fr-password-toggle"
                          title="Afficher/Cacher le mot de passe"></span>
                    <p id="login-password-error-desc-error" class="fr-error-text fr-hidden fr-col-12">
                        Veuillez confirmer votre mot de passe.
                    </p>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('create_password_'~app.user.id) }}">
                <div class="fr-form-group fr-hidden" id="password-match-error">
                    <p class="fr-error-text fr-col-12">
                        Les mots de passes ne correspondent pas.
                    </p>
                </div>
                <div class="fr-form-group">
                    <button class="fr-btn fr-fi-checkbox-circle-fill fr-btn--icon-right" disabled
                            aria-controls="fr-modal-cgu-bo" data-fr-opened="false" id="submitter">
                        Connexion
                    </button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
