{% extends 'base.html.twig' %}

{% block title %}Activation de votre compte{% endblock %}

{% block body %}
    <main class="fr-container fr-py-5w" id="content">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 fr-background-alt--blue-france fr-p-4w fr-radius--lg">
                <h1 class="fr-text--center fr-mb-6v">Activation de votre compte</h1>
                <p class="fr-mb-5v">
                    Entrez votre adresse courriel et laissez-vous guider.<br>                    
                    Vous recevrez un courriel avec un lien vous pemettant de créer votre mot de passe afin d'activer votre compte.
                </p>
                <form action="{{ path('login_activation') }}" class="needs-validation fr-mt-5v"
                    name="login-activation-form" method="POST" novalidate="">
                    <div class="fr-input-group">
                        <label class="fr-label" for="login-email">
                            Courriel
                            <span class="fr-hint-text">Adresse utilisée lors de la création de votre compte. Format attendu : nom@domaine.fr</span>
                        </label>
                        <input class="fr-input" aria-describedby="login-email-error-desc-error" type="email"
                            id="login-email" name="email" required>
                        <p id="login-email-error-desc-error" class="fr-error-text fr-hidden">
                            Veuillez saisir un courriel correct.
                        </p>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('activation') }}">
                    <ul class="fr-btns-group fr-mt-5v">
                        <li>
                            <button class="fr-btn fr-btn--lg fr-btn--primary">
                                Activer mon compte
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
