{% extends 'base.html.twig' %}

{% block title %}Accéder à mon dossier bailleur{% endblock %}

{% block body %}
    <main class="fr-container fr-py-5w" id="content">
        <section class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 fr-background-alt--blue-france fr-p-4w fr-radius--lg">
                <h1 class="fr-text--center fr-mb-6v">Accéder à mon dossier bailleur</h1>
                <p class="fr-mb-5v">
                    Merci de renseigner les informations demandées pour accéder au dossier !<br>
                    Tous les champs sont obligatoires.
                </p>
                <form class="needs-validation fr-mt-5v fr-col-12" name="login-bailleur-form" method="POST" novalidate="">
                    {% if error %}
                        <div class="fr-notice fr-notice--alert fr-mb-5v">
                            <div class="fr-container">
                                <div class="fr-notice__body">
                                    <p>
                                        <span class="fr-notice__title">Connexion impossible</span>
                                        <span class="fr-notice__desc">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="fr-input-group">
                        <label class="fr-label" for="login-bailleur-reference">
                            Référence du dossier
                        </label>
                        <input class="fr-input" type="text" id="login-bailleur-reference" name="bailleur_reference" required>
                    </div>
                    <div class="fr-input-group">
                        <label class="fr-label" for="login-bailleur-code">
                            Code de connexion
                            <span class="fr-hint-text">Format attendu : XXXX-XXXX-XXXX-XXXX</span>
                        </label>
                        <input class="fr-input" type="text" id="login-bailleur-code" name="bailleur_code" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('activation') }}">
                    <ul class="fr-btns-group fr-mt-5v">
                        <li>
                            <button class="fr-btn fr-btn--lg fr-btn--primary"
                                data-matomo-clickable-event-category="Espace bailleur"
                                data-matomo-clickable-event-action="clickButton"
                                data-matomo-clickable-event-name="Connexion"
                                >Se connecter</button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
