{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="fr-container fr-py-5w">
        <section class="fr-grid-row fr-grid-row--center">
            <header class="fr-callout bg-light fr-col-12">
                <p class="fr-callout__title">Lien de connexion envoyé</p>
                <p class="fr-callout__text fr-mb-5v">
                    Vous allez recevoir un courriel contenant votre lien de connexion unique
                </p>
                <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france">Ce courriel à été envoyé à
                    l'adresse: {{ email }}</em>
            </header>
        </section>
    </main>
{% endblock %}
