{% extends 'base.html.twig' %}

{% block title %}Activation de votre compte{% endblock %}

{% block body %}
    <main class="fr-container fr-py-5w">
        <section class="fr-grid-row fr-grid-row--center">
            <header class="fr-callout bg-light fr-col-12">
                <p class="fr-callout__title">Activation de votre compte</p>
                <p class="fr-callout__text fr-mb-5v">
                    Entrez votre adresse courriel et laissez-vous guider.
                </p>
                <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france fr-icon--sm">
                    Vous recevrez un courriel avec un lien vous pemettant de créer votre mot de passe afin d'activer votre compte.
                </em>
            </header>
            <form action="{{ path('login_activation') }}" class="needs-validation fr-mt-5v fr-col-md-6"
                  name="login-activation-form" method="POST" novalidate="">
                <div class="fr-input-group">
                    <label class="fr-label" for="login-email">
                        Courriel
                        <span class="fr-hint-text">Adresse utilisée lors de la création de votre compte</span>
                    </label>
                    <input class="fr-input" aria-describedby="login-email-error-desc-error" type="email"
                           id="login-email" name="email" required>
                    <p id="login-email-error-desc-error" class="fr-error-text fr-hidden">
                        Veuillez saisir un courriel correct.
                    </p>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('activation') }}">
                <div class="fr-form-group">
                    <button class="fr-btn fr-icon-checkbox-circle-fill fr-btn--icon-right">
                        Activer mon compte
                    </button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
