{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="fr-container fr-py-5w">
        <section class="fr-grid-row fr-grid-row--center">
            <header class="fr-callout bg-light fr-col-12">
                <p class="fr-callout__title">Aucun compte correspondant</p>
                <p class="fr-callout__text fr-mb-5v">
                    Aucun utilisateur ne correspond à l'adresse e-mail {{ email }}.
                </p>
            </header>
        </section>
    </main>
{% endblock %}
