{% extends 'base.html.twig' %}

{% block title %}Suivre mon signalement #{{ signalement.reference }}{% endblock %}

{% block body %}
    <main class="fr-container fr-py-5w" id="content">
        <section class="fr-grid-row fr-grid-row--center">
            <header class="fr-callout bg-light fr-col-12">
                <p class="fr-callout__title">Suivre mon signalement</p>
                <p class="fr-callout__text fr-mb-5v">
                    Saisissez les informations suivantes pour accéder au signalement.
                </p>
                <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france disabled-link"
                    >Toutes les informations sont obligatoires</em>
            </header>
            <form class="needs-validation fr-mt-5v fr-col-md-6" name="login-form" method="POST" novalidate="">
                {% if error %}
                    <div role="alert" class="fr-alert fr-alert--error fr-alert--sm fr-mb-5w">
                        <p class="fr-alert__title">Connexion impossible</p>
                        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    </div>
                {% endif %}
                <div class="fr-input-group">
                    <label class="fr-label" for="login-first-letter-prenom">
                        Initiale du prénom du déclarant ou de l'occupant
                        <span class="fr-hint-text">Première lettre du prénom de la personne qui a déclaré le signalement ou de celle qui occupe le logement</span>
                    </label>
                    <input class="fr-input" aria-describedby="login-first-letter-prenom-error-desc-error" type="text" maxlength="1"
                           id="login-first-letter-prenom" name="login-first-letter-prenom" required>
                    <p id="login-first-letter-prenom-error-desc-error" class="fr-error-text fr-hidden">
                        Veuillez saisir une lettre.
                    </p>
                </div>
                <div class="fr-input-group">
                    <label class="fr-label" for="login-first-letter-nom">
                        Initiale du nom de famille du déclarant ou de l'occupant
                        <span class="fr-hint-text">Première lettre du nom de famille de la personne qui a déclaré le signalement ou de celle qui occupe le logement</span>
                    </label>
                    <input class="fr-input" aria-describedby="login-first-letter-nom-error-desc-error" type="text" maxlength="1"
                           id="login-first-letter-nom" name="login-first-letter-nom" required>
                    <p id="login-first-letter-nom-error-desc-error" class="fr-error-text fr-hidden">
                        Veuillez saisir une lettre.
                    </p>
                </div>
                <div class="fr-input-group">
                    <label class="fr-label" for="login-code-postal">
                        Code postal du logement
                    </label>
                    <input class="fr-input" aria-describedby="login-code-postal-error-desc-error" type="text" maxlength="5"
                           id="login-code-postal" name="login-code-postal" required>
                    <p id="login-code-postal-error-desc-error" class="fr-error-text fr-hidden">
                        Veuillez saisir un code postal.
                    </p>
                </div>
                <input type="hidden" name="from_email" value="{{ fromEmail }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="fr-form-group">
                    <button class="fr-btn fr-icon-checkbox-circle-fill fr-btn--icon-right" aria-label="Accéder au signalement">
                        Accéder au signalement
                    </button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
