{% extends 'base.html.twig' %}

{% block title %} Création de votre mot de passe. {% endblock %}

{% block body %}

    <main class="fr-container fr-py-5w">
        <section class="fr-grid-row fr-grid-row--center">
            <header class="fr-callout bg-light fr-col-12">
                <p class="fr-callout__title">Création de votre mot de passe</p>
                {% if user.statut is same as constant('App\\Entity\\User::STATUS_INACTIVE')  %}
                    <p class="fr-callout__text fr-mb-5v">
                        Vous avez demandé l'activation de votre compte
                    </p>
                    <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france"> 
                        Créez votre mot de passe pour activer votre compte
                    </em>
                {% else %}
                    <p class="fr-callout__text fr-mb-5v">
                        Vous avez demandé la réinitialisation de votre mot de passe
                    </p>
                    <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france"> 
                        Vous avez perdu votre mot de passe et vous souhaitez le réinitialiser
                    </em>
                {% endif %}
            </header>
            <form class="fr-mt-5v fr-col-md-6" name="login-creation-mdp-form" method="POST"
                  novalidate="">
                <dialog aria-labelledby="fr-modal-cgu-bo-title" id="fr-modal-cgu-bo" class="fr-modal" role="dialog">
                    <div class="fr-container fr-container--fluid fr-container-md">
                        <div class="fr-grid-row fr-grid-row--center">
                            <div class="fr-col-12 fr-col-md-8">
                                <div class="fr-modal__body">
                                    <div class="fr-modal__header">
                                        <h1 id="fr-modal-cgu-bo-title" class="fr-modal__title">
                                            <span class="fr-fi-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                                            Conditions Générales d'Utilisation
                                        </h1>
                                        <button class="fr-link--close fr-link" aria-controls="fr-modal-cgu-bo">Fermer
                                        </button>
                                    </div>
                                    <div class="fr-modal__content">
                                        {{ include('back/cgu_bo.html.twig') }}
                                    </div>
                                    <div class="fr-modal__footer">
                                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                            <li>
                                                <button class="fr-btn">
                                                    Accepter et continuer
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dialog>
                <div class="fr-input-group">
                    <label class="fr-label" for="login-email">
                        Courriel
                        <span class="fr-hint-text">Adresse utilisée lors de la création de votre compte</span>
                    </label>
                    <div class="fr-input">{{ user.email }}</div>
                </div>
                <div class="fr-input-group fr-input-group-password fr-grid-row fr-grid-row--middle">
                    <label class="fr-label fr-col-12" for="login-password">
                        Mot de passe
                        <span class="fr-hint-text">Choisissez un mot de passe <u>fort et unique</u></span>
                    </label>
                    <input class="fr-input fr-col-11" type="password" id="login-password" name="password" required minlength="8">
                    <span class="fr-btn fr-fi-eye-off-fill fr-col-1 fr-mt-2v fr-password-toggle" title="Afficher/Cacher le mot de passe"></span>
                    <div class="fr-messages-group" id="password-input-messages" aria-live="assertive">
                        <p class="fr-message">Votre mot de passe doit contenir :</p>
                        <p class="message-password fr-message fr-message--info" id="password-input-message-info-length">8 caractères minimum</p>
                        <p class="message-password fr-message fr-message--info" id="password-input-message-info-maj">1 caractère majuscule minimum</p>
                        <p class="message-password fr-message fr-message--info" id="password-input-message-info-min">1 caractère minuscule minimum</p>
                        <p class="message-password fr-message fr-message--info" id="password-input-message-info-nb">1 chiffre minimum</p>
                        <p class="message-password fr-message fr-message--info" id="password-input-message-info-special">1 caractère spécial minimum</p>
                    </div>
                </div>
                <div class="fr-input-group fr-input-group-password-repeat fr-grid-row fr-grid-row--middle">
                    <label class="fr-label fr-col-12" for="login-password-repeat">
                        Confirmation du mot de passe
                        <span class="fr-hint-text">Saisissez à nouveau votre mot de passe</span>
                    </label>
                    <input class="fr-input fr-col-11" type="password" id="login-password-repeat" name="password-repeat" required minlength="8">
                    <span class="fr-btn fr-fi-eye-off-fill fr-col-1 fr-mt-2v fr-password-toggle" title="Afficher/Cacher le mot de passe"></span>
                    <p id="password-match-error" class="fr-error-text fr-hidden fr-col-12">
                        Les mots de passes ne correspondent pas.
                    </p>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('create_password_'~ user.uuid) }}">
                <div class="fr-form-group">
                    <button class="fr-btn fr-icon-checkbox-circle-fill fr-btn--icon-right" disabled
                            {% if user.statut is same as constant('App\\Entity\\User::STATUS_INACTIVE')  %}
                            aria-controls="fr-modal-cgu-bo" data-fr-opened="false" type="button"
                            {% else %}
                            type="submit" 
                            {% endif %}
                             id="submitter" 
                            >
                        Confirmer
                    </button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
