{% extends 'base.html.twig' %}

{% block title %} Création de votre mot de passe. {% endblock %}

{% block body %}
    <main class="fr-container fr-py-5w" id="content">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 fr-background-alt--blue-france fr-p-4w fr-radius--lg">
                <h1 class="fr-text--center fr-mb-6v">Création de votre mot de passe</h1>
                {% if user.statut is not same as enum('App\\Entity\\Enum\\UserStatus').ACTIVE %}
                    <p class="fr-mb-5v">
                        Vous avez demandé l'activation de votre compte
                    </p>
                    <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france"> 
                        Créez votre mot de passe pour activer votre compte
                    </em>
                {% else %}
                    <p class="fr-mb-5v">
                        Vous avez demandé la réinitialisation de votre mot de passe
                    </p>
                    <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france"> 
                        Vous avez perdu votre mot de passe et vous souhaitez le réinitialiser
                    </em>
                {% endif %}
                <form class="fr-mt-5v" name="login-creation-mdp-form" method="POST"
                    novalidate="">
                    <dialog aria-labelledby="fr-modal-cgu-bo-title" id="fr-modal-cgu-bo" class="fr-modal">
                        <div class="fr-container fr-container--fluid fr-container-md">
                            <div class="fr-grid-row fr-grid-row--center">
                                <div class="fr-col-12 fr-col-md-8">
                                    <div class="fr-modal__body">
                                        <div class="fr-modal__header">
                                        </div>
                                        <div class="fr-modal__content">
                                            <h1 id="fr-modal-cgu-bo-title" class="fr-modal__title">
                                                <span class="fr-fi-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                                                Conditions Générales d'Utilisation
                                            </h1>
                                            {{ include('back/cgu/cgu_bo.html.twig') }}
                                        </div>
                                        <div class="fr-modal__footer">
                                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                                <li>
                                                    <button class="fr-btn fr-icon-check-line">
                                                        Accepter et continuer
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dialog>
                    <div class="fr-input-group">
                        <label class="fr-label" for="login-email">
                            Courriel
                            <span class="fr-hint-text">Adresse utilisée lors de la création de votre compte. Format attendu : nom@domaine.fr</span>
                        </label>
                        <div class="fr-input">{{ user.email }}</div>
                    </div>
                    <div class="fr-input-group fr-input-group-password fr-grid-row fr-grid-row--middle">
                        <label class="fr-label fr-col-12" for="login-password">
                            Mot de passe
                            <span class="fr-hint-text">Choisissez un mot de passe <u>fort et unique</u></span>
                        </label>
                        <input class="fr-input fr-col-11" type="password" id="login-password" name="password" required minlength="12">
                        <button class="fr-btn fr-fi-eye-off-fill fr-col-1 fr-mt-2v fr-password-toggle"
                            type="button" title="Afficher/Cacher le mot de passe"></button>
                        <div class="fr-messages-group" id="password-input-messages" aria-live="assertive">
                            <p class="fr-message">Votre mot de passe doit contenir :</p>
                            <p class="message-password fr-message fr-message--info" id="password-input-message-info-length">12 caractères minimum</p>
                            <p class="message-password fr-message fr-message--info" id="password-input-message-info-maj">1 caractère majuscule minimum</p>
                            <p class="message-password fr-message fr-message--info" id="password-input-message-info-min">1 caractère minuscule minimum</p>
                            <p class="message-password fr-message fr-message--info" id="password-input-message-info-nb">1 chiffre minimum</p>
                            <p class="message-password fr-message fr-message--info" id="password-input-message-info-special">1 caractère spécial minimum</p>
                        </div>
                    </div>
                    <div class="fr-input-group fr-input-group-password-repeat fr-grid-row fr-grid-row--middle">
                        <label class="fr-label fr-col-12" for="login-password-repeat">
                            Confirmation du mot de passe
                            <span class="fr-hint-text">Saisissez à nouveau votre mot de passe</span>
                        </label>
                        <input class="fr-input fr-col-11" type="password" id="login-password-repeat" name="password-repeat" required minlength="12">
                        <button class="fr-btn fr-fi-eye-off-fill fr-col-1 fr-mt-2v fr-password-toggle"
                            type="button" title="Afficher/Cacher le mot de passe"></button>
                        <p id="password-match-error" class="fr-error-text fr-hidden fr-col-12">
                            Les mots de passe ne correspondent pas.
                        </p>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('create_password_'~ user.uuid) }}">
                    <ul class="fr-btns-group fr-mt-5v">
                        <li>
                            <button class="fr-btn fr-btn--lg fr-btn--primary" disabled
                                    {% if user.statut is same as enum('App\\Entity\\Enum\\UserStatus').INACTIVE %}
                                    aria-controls="fr-modal-cgu-bo" data-fr-opened="false" type="button"
                                    {% else %}
                                    type="submit" 
                                    {% endif %}
                                    id="submitter" 
                                    >
                                Confirmer
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
