{% extends 'back/base_bo.html.twig' %}

{% block title %}Créer un signalement{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Liste des signalements',
            'level2Link': path('back_signalement_index'),
            'level2Label': 'Retour à la liste des signalements',
            'level3Title': 'Créer un signalement',
            'level3Link': '',
        } %}
        <header>
            <div class="fr-grid-row">
                <div class="fr-text--left">
                    <h1 class="fr-h1 fr-mb-1v">Créer un signalement</h1>
                    <p>
                       Ajoutez un signalement en complétant le formulaire ci-dessous. <br>
                       Vous pouvez choisir les partenaires à affecter à la dernière étape. Le signalement sera validé automatiquement.
                    </p>
                </div>
            </div>
        </header>
    </section>
    <section class="fr-container--fluid">
        <div class="fr-tabs">
            <ul class="fr-tabs__list" role="tablist" aria-label="Informations du signalement">
                <li role="presentation">
                    <button id="tabpanel-adresse" class="fr-tabs__tab"
                        tabindex="0" role="tab" aria-selected="false" aria-controls="tabpanel-adresse-panel">Adresse</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-logement" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-logement-panel">Logement</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-situation" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-situation-panel">Situation</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-coordonnees" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-coordonnees-panel">Coordonnées</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-desordres" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-desordres-panel">Désordres</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-validation" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-validation-panel">Validation</button>
                </li>
            </ul>
            <div id="tabpanel-adresse-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-adresse" tabindex="0">
                {% include 'back/signalement_create/tabs/tab-adresse.html.twig' %}
            </div>
            <div id="tabpanel-logement-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-logement" tabindex="0">
                {% include 'back/signalement_create/tabs/tab-logement.html.twig' %}
            </div>
            <div id="tabpanel-situation-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-situation" tabindex="0">
                {% include 'back/signalement_create/tabs/tab-situation.html.twig' %}
            </div>
            <div id="tabpanel-coordonnees-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-coordonnees" tabindex="0">
                {% include 'back/signalement_create/tabs/tab-coordonnees.html.twig' %}
            </div>
            <div id="tabpanel-desordres-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-desordres" tabindex="0">
                {% include 'back/signalement_create/tabs/tab-desordres.html.twig' %}
            </div>
            <div id="tabpanel-validation-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-validation" tabindex="0">
                {% include 'back/signalement_create/tabs/tab-validation.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
