twig:
    default_path: '%kernel.project_dir%/templates'
    globals:
        platform:
            name: '%platform_name%'
            logo: '%platform_logo%'
            logo145: '%platform_logo%'
            url: '%host_url%'
            cgu_current_version: '%cgu_current_version%'

        gitbook:
            documentation: https://documentation.signal-logement.beta.gouv.fr
            faq: https://faq.signal-logement.beta.gouv.fr
        maintenance:
            banner_enable: '%maintenance_banner_enable%'
            banner_message: '%maintenance_banner_message%'
            enable: '%maintenance_enable%'
        display_staging_notice: '%env(DISPLAY_STAGING_NOTICE)%'
        mise_en_berne: '%env(MISE_EN_BERNE_ENABLE)%'
        sites_faciles_url: '%env(resolve:SITES_FACILES_URL)%'
        feature_new_document_space: '%env(bool:FEATURE_NEW_DOCUMENT_SPACE)%'
        feature_injonction_bailleur: '%env(bool:FEATURE_INJONCTION_BAILLEUR)%'
        feature_injonction_bailleur_depts: '%env(resolve:FEATURE_INJONCTION_BAILLEUR_DEPTS)%'
        feature_annuaire: '%env(bool:FEATURE_ANNUAIRE)%'
        MAX_ITEMS_LIST: !php/const App\Service\DashboardTabPanel\TabDossier::MAX_ITEMS_LIST
    paths:
        # point this wherever your images live
        '%kernel.project_dir%/public/img': images
    form_themes: ['form/dsfr_theme.html.twig']
    
when@test:
    twig:
        strict_variables: true
        globals:
            matomo:
                enable: 0 # matomo is useless in test env

when@dev:
    twig:
        globals:
            matomo:
                url: http://localhost:8083/
                cdn: http://localhost:8083/matomo.js
                site_id: 1
                enable: '%matomo_enable%'

when@prod:
    twig:
        globals:
            matomo:
                url: https://stats.beta.gouv.fr/
                cdn: https://stats.beta.gouv.fr/matomo.js
                site_id: '%matomo_site_id%'
                enable: '%matomo_enable%'
