# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

APP_ENV=dev
APP_SECRET=
MAILER_DSN=smtp://histologe_mailer:1025
# MAILER_DSN=sendinblue+api://KEY@default
# MAILER_DSN=sendinblue+smtp://USERNAME:PASSWORD@default
DATABASE_URL="mysql://histologe:histologe@histologe_mysql:3307/histologe_db?serverVersion=8.0&charset=utf8"
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
HISTOLOGE_URL=http://localhost:8080
WIREMOCK_HOSTNAME=histologe_wiremock
WIREMOCK_PORT=8080
FEATURE_OILHI_ENABLE=1
FEATURE_ASK_VISITE_ENABLE=1
FEATURE_DOCUMENTS_ENABLE=1
CRON_ENABLE=1
MAIL_ENABLE=1
ESABORA_CRON_CLOCK_SLEEP_INTERVAL=60 #second
ESABORA_CRON_SCHEDULE_SYNC_SISH='*/2 * * * *'
ESABORA_CRON_SCHEDULE_SYNC_SISH_INTERVENTION='*/3 * * * *'
MATOMO_ENABLE=0
MATOMO_SITE_ID=1
ZAPIER_OILHI_TOKEN=
ZAPIER_OILHI_ID=
ZAPIER_OILHI_CREATE_AIRTABLE_RECORD_ZAP_ID=
SECURITY_CSP_HEADER_VALUE="default-src 'self' https://interfaces.zapier.com https://tibot-histologe.zapier.app; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.matomo.cloud https://unpkg.com https://interfaces.zapier.com; style-src 'self' 'unsafe-inline' https://unpkg.com; img-src 'self' data: blob: https://voxusagers.numerique.gouv.fr https://*.tile.openstreetmap.org https://unpkg.com https://jedonnemonavis.numerique.gouv.fr; connect-src 'self' https://api-adresse.data.gouv.fr https://cdn.matomo.cloud https://koumoul.com https://sentry.incubateur.net; font-src 'self'; frame-src 'none'; object-src 'none';"
CHATBOT_ENABLE=0
MAINTENANCE_ENABLE=0
MAINTENANCE_BANNER_ENABLE=0
MAINTENANCE_BANNER_MESSAGE="Une opération de maintenance est prévu le XX/XX/XXXX à XX:XX. Le site sera indisponible pendant la durée de l'opération."
AXIOS_TIMEOUT=30000
LIMIT_DAILY_RELANCES_BY_REQUEST=275
FEATURE_LIST_FILTER_ENABLE=0

###> knplabs/knp-snappy-bundle ###
WKHTMLTOPDF_PATH=wkhtmltopdf
WKHTMLTOIMAGE_PATH=wkhtmltoimage
###< knplabs/knp-snappy-bundle ###

### histologe ###
ADMIN_EMAIL=support@histologe.beta.gouv.fr
NOTIFICATIONS_EMAIL=notifications@histologe.beta.gouv.fr
CONTACT_EMAIL=contact@histologe.beta.gouv.fr
USER_SYSTEM_EMAIL=admin@histologe.net
WIDGET_DATA_KPI_CACHE_EXPIRED_AFTER=3600 #second
WIDGET_AFFECTATION_PARTNER_CACHE_EXPIRED_AFTER=30 #second
WIDGET_SIGNALEMENT_ACCEPTED_NO_SUIVI_CACHE_EXPIRED_AFTER=30 #second
WIDGET_SIGNALEMENT_TERRITOIRE_CACHE_EXPIRED_AFTER=30 #second
WIDGET_ESABORA_EVENTS_CACHE_EXPIRED_AFTER=3600 #second
### histologe ###

### object storage S3 ###
S3_ENDPOINT=
S3_KEY=
S3_SECRET=
S3_BUCKET=
S3_URL_BUCKET=
### object storage S3 ###

###> sentry/sentry-symfony ###
SENTRY_DSN=
SENTRY_DSN_FRONT=
SENTRY_ENVIRONMENT=
SENTRY_TRACES_SAMPLE_RATE=
###< sentry/sentry-symfony ###

###> symfony/messenger ###
# Choose one of the transports below
MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###

### redis
REDIS_URL=redis://histologe_redis:6379
###

###> symfony/brevo-mailer ###
# MAILER_DSN=brevo+api://KEY@default
# MAILER_DSN=brevo+smtp://USERNAME:PASSWORD@default
###< symfony/brevo-mailer ###
