# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

APP_ENV=dev
APP_SECRET=
APP_URL=http://localhost:8080
MAILER_DSN=smtp://signal_logement_mailer:1025
# MAILER_DSN=sendinblue+api://KEY@default
# MAILER_DSN=sendinblue+smtp://USERNAME:PASSWORD@default
DATABASE_URL="mysql://signal_logement:signal_logement@signal_logement_mysql:3307/signal_logement_db?serverVersion=8.0.40&charset=utf8"
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
HISTOLOGE_URL=http://localhost:8080
WIREMOCK_HOSTNAME=signal_logement_wiremock
WIREMOCK_PORT=8080
FEATURE_OILHI_ENABLE=1
FEATURE_BO_SIGNALEMENT_CREATE=0
CRON_ENABLE=1
MAIL_ENABLE=1
MAIL_TEST_ENABLE=
MAIL_TEST_EMAIL=
CSP_ENABLE=1
ESABORA_CRON_CLOCK_SLEEP_INTERVAL=60 #second
ESABORA_CRON_SCHEDULE_SYNC_SCHS='*/1 * * * *'
ESABORA_CRON_SCHEDULE_SYNC_SISH='*/2 * * * *'
ESABORA_CRON_SCHEDULE_SYNC_SISH_INTERVENTION='*/3 * * * *'
METABASE_CRON_SCHEDULE_SYNC_BDD='0 3 * * *'
MATOMO_ENABLE=0
MATOMO_SITE_ID=1
ZAPIER_OILHI_TOKEN=
ZAPIER_OILHI_ID=
ZAPIER_OILHI_CREATE_AIRTABLE_RECORD_ZAP_ID=
MAINTENANCE_ENABLE=0
MAINTENANCE_BANNER_ENABLE=0
MAINTENANCE_BANNER_MESSAGE="Une opération de maintenance est prévu le XX/XX/XXXX à XX:XX. Le site sera indisponible pendant la durée de l'opération."
AXIOS_TIMEOUT=30000
LIMIT_DAILY_RELANCES_BY_REQUEST=275
FORMS_SUBMIT_LIMITER_LIMIT=10
FORMS_SUBMIT_LIMITER_INTERVAL='20 minutes'
IDOSS_USERNAME=
IDOSS_PASSWORD=
FEATURE_ARCHIVE_INACTIVE_ACCOUNT=0
FEATURE_ANONYMIZE_EXPIRED_ACCOUNT=0
FEATURE_2FA_EMAIL_ENABLED=1
MISE_EN_BERNE_ENABLE=0
CLAMAV_HOST=signal_logement_clamav
CLAMAV_STRATEGY=clamd_unix
CLAMAV_SCAN_ENABLE=1
DELAY_MIN_CHECK_NEW_SIGNALEMENT_FILES=30 #minutes
ALBERT_API_KEY=
SEND_ERROR_EMAIL_TOKEN=
SIGNAL_LOGEMENT_PROD_URL=
SITES_FACILES_URL=
PLATFORM_NAME='Signal Logement'
PLATFORM_LOGO='logo-signal-logement.svg'
FEATURE_SECURE_UUID_URL=1
FEATURE_EMAIL_RECAP=1
FEATURE_SUIVI_ACTION=1
FEATURE_ACCUSE_LECTURE=0
###> knplabs/knp-snappy-bundle ###
WKHTMLTOPDF_PATH=wkhtmltopdf
WKHTMLTOIMAGE_PATH=wkhtmltoimage
###< knplabs/knp-snappy-bundle ###

### signal-logement ###
ADMIN_EMAIL=support@signal-logement.beta.gouv.fr
NOTIFICATIONS_EMAIL=notifications@signal-logement.beta.gouv.fr
CONTACT_EMAIL=formulaire-contact@signal-logement.beta.gouv.fr
USER_SYSTEM_EMAIL=admin@signal-logement.beta.gouv.fr
REPLY_TO_EMAIL=ne-pas-repondre@signal-logement.beta.gouv.fr
WIDGET_DATA_KPI_CACHE_EXPIRED_AFTER=3600 #second
WIDGET_AFFECTATION_PARTNER_CACHE_EXPIRED_AFTER=30 #second
WIDGET_SIGNALEMENT_ACCEPTED_NO_SUIVI_CACHE_EXPIRED_AFTER=30 #second
WIDGET_SIGNALEMENT_TERRITOIRE_CACHE_EXPIRED_AFTER=30 #second
WIDGET_ESABORA_EVENTS_CACHE_EXPIRED_AFTER=3600 #second
HISTORY_TRACKING_ENABLE=1
FEATURE_PROCONNECT=1
PROCONNECT_SCHEME_PROTOCOL=http://
PROCONNECT_DOMAIN=signal_logement_wiremock:8080
PROCONNECT_CLIENT_ID=dummy
PROCONNECT_CLIENT_SECRET=dummy
### signal-logement ###

### RIAL ###
URL_DGFIP=""
RIAL_KEY=""
RIAL_SECRET=""

### object storage S3 ###
S3_ENDPOINT=
S3_KEY=
S3_SECRET=
S3_BUCKET=
S3_URL_BUCKET=
### object storage S3 ###

###> sentry/sentry-symfony ###
SENTRY_DSN=
SENTRY_DSN_FRONT=
SENTRY_ENVIRONMENT=
SENTRY_TRACES_SAMPLE_RATE=
###< sentry/sentry-symfony ###

###> symfony/messenger ###
# Choose one of the transports below
MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###

### redis
REDIS_URL=redis://signal_logement_redis:6379
###

###> symfony/brevo-mailer ###
# MAILER_DSN=brevo+api://KEY@default
# MAILER_DSN=brevo+smtp://USERNAME:PASSWORD@default
###< symfony/brevo-mailer ###

###> symfony/lock ###
# Choose one of the stores below
# postgresql+advisory://db_user:db_password@localhost/db_name
LOCK_DSN=flock
###< symfony/lock ###

###> tilleuls/url-signer-bundle ###
SIGNATURE_KEY=change_me
###< tilleuls/url-signer-bundle ###
