# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

APP_ENV=dev
APP_SECRET=
MAILER_DSN=smtp://histologe_mailer:1025
# MAILER_DSN=sendinblue+api://KEY@default
# MAILER_DSN=sendinblue+smtp://USERNAME:PASSWORD@default
DATABASE_URL="mysql://histologe:histologe@histologe_mysql:3307/histologe_db?serverVersion=5.7&charset=utf8"
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
HISTOLOGE_URL=http://localhost:8080

###> knplabs/knp-snappy-bundle ###
WKHTMLTOPDF_PATH=wkhtmltopdf
WKHTMLTOIMAGE_PATH=wkhtmltoimage
###< knplabs/knp-snappy-bundle ###

### histologe ###
ADMIN_EMAIL=john.doe@gmail.com
NOTIFICATIONS_EMAIL=notifications@histologe.fr
### histologe ###

### object storage S3 ###
S3_ENDPOINT=
S3_KEY=
S3_SECRET=
S3_BUCKET=
S3_URL_BUCKET=
### object storage S3 ###

###> sentry/sentry-symfony ###
SENTRY_DSN=
###< sentry/sentry-symfony ###

### Tarn
LEGACY_81_DATABASE_URL=

### Ardennes
LEGACY_08_DATABASE_URL=

### Finistere
LEGACY_29_DATABASE_URL=

### Rhone
LEGACY_69_DATABASE_URL=

### Saone et Loire
LEGACY_71_DATABASE_URL=

### Puy de Dome
LEGACY_63_DATABASE_URL=

### Lot et Garonne
LEGACY_47_DATABASE_URL=

### Correze
LEGACY_19_DATABASE_URL=

### Corse
LEGACY_2AB_DATABASE_URL=

### Haute Garonne
LEGACY_31_DATABASE_URL=

### MEL
LEGACY_59_DATABASE_URL=

### Pau
LEGACY_64_DATABASE_URL=

### Alpes de Haute Provence
LEGACY_04_DATABASE_URL=

### Alpes Maritimes
LEGACY_06_DATABASE_URL=

### Bouches du Rhône
LEGACY_13_DATABASE_URL=
