<div id="list-notifications">
    <h2 class="fr-h6 fr-mb-0" id="desc-table">{{ count_notification(app.user) }} nouveau(x) suivi(s)</h2>
    <div class="fr-skiplinks">
        <a class="fr-link fr-link--icon-right fr-icon-arrow-down-line" href="#pagination" aria-label="Accéder à la pagination"
            >Accéder à la pagination</a>
    </div>
</div>