<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-8 fr-pr-10v">
        <h2 class="fr-mb-3v tab-panel-title-with-icon">Nouveaux dossiers</h2>
        <p class="fr-mt-1v fr-ml-1v fr-text--lg">Vérifiez, validez les nouveaux dossiers et affectez-y des partenaires.</p>
    </div>
</div>
