<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-8 fr-pr-10v">
        <h2 class="fr-mb-3v tab-panel-title-with-icon">Messages usagers</h2>
        <p class="fr-mt-1v fr-ml-1v fr-text--lg">Retrouvez les dossiers dans lesquels l'usager a envoyé un message mais
            n'a pas encore eu de réponse. N'hésitez pas à consulter le détail des dossiers et à répondre aux usagers
            !</p>
    </div>
</div>
