{% import 'back/signalement/view/_static_picto.html.twig' as picto %}
<h2 class="fr-h4">Évaluation de la situation</h2>

{% include 'back/signalement/view/criticite-qualifications.html.twig' %}

<hr class="fr-mt-3w">

<h3 class="fr-h5">Déclaration usager</h3>

{% if signalement.isV2 %}   
    {% if signalement.debutDesordres is not null %}
        <div class="fr-grid-row fr-mb-3w">
            <div class="fr-col-12 fr-col-md-6">
                <strong>Début des désordres : </strong>
				{{ signalement.debutDesordres.label}}
            </div>
            {% if signalement.hasSeenDesordres is not null %}
                <div class="fr-col-12 fr-col-md-6">
                    <strong>Le tiers a vu les désordres :</strong>
                    {% if signalement.hasSeenDesordres %}
                        {{ picto.picto_yes() }}
                    {% else %}
                        {{ picto.picto_no() }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% include 'back/signalement/view/user-declaration-desordre-list.html.twig' %}
{% else %}
    {% include 'back/signalement/view/user-declaration-situations.html.twig' %}
{% endif %}

<hr class="fr-mt-3w">

{% include 'back/signalement/view/photos-documents.html.twig' with {'zonetitle': "Photos et documents de la situation",'filesFilter': 'situation','context': 'situation'} %}

<hr class="fr-mt-3w">

<div id="signalement-information-composition-container">
    {% include 'back/signalement/view/information/information-composition.html.twig' %}
</div>

<div id="signalement-bo-nde-container">
    {% include 'back/signalement/view/nde.html.twig' %}
</div>

<hr class="fr-mt-3w fr-hr">

{% if signalement|display_signalement_info_bailleur %}
    <div id="signalement-information-bailleur-container">
        {% include 'back/signalement/view/information/information-bailleur.html.twig' %}
    </div>
    <hr class="fr-mt-3w fr-hr">

{% endif %}

<div id="signalement-information-agence-container">
    {% include 'back/signalement/view/information/information-agence.html.twig' %}
</div>

<hr class="fr-mt-3w fr-hr">

<div id="signalement-information-procedure-container">
    {% include 'back/signalement/view/information/information-procedure.html.twig' %}
</div>