{% include 'back/signalement/view/photos-documents.html.twig' with {'zonetitle': "Photos et documents de la situation",'filesFilter': 'situation'} %}

<div class="fr-mt-5v"></div>

{% include 'back/signalement/view/photos-documents.html.twig' with {'zonetitle': "Photos et documents concernant la procédure",'filesFilter': 'procédure'} %}

{% for intervention in signalement.interventions | filter(intervention => intervention.type != enum('App\\Entity\\Enum\\InterventionType').ARRETE_PREFECTORAL) %}
    <div class="fr-mt-5v"></div>
    {% include 'back/signalement/view/photos-documents.html.twig' with {
        'zonetitle': "Photos et documents de la visite du " ~ intervention.scheduledAt|date('d/m/Y') ~ " par " ~ (intervention.partner ? intervention.partner.nom : 'Opérateur Externe'),
        'filesFilter': 'visite',
        'interventionId': intervention.id
        } 
    %}
{% endfor %}

<div class="fr-mt-5v">
    <h3 class="fr-h5">Documents types</h3>
    <p>
        Vos responsables de territoires mettent à votre disposition des documents pour vous aider dans la procédure. Ces documents sont rassemblés dans l'espace documentaire. Pour le consulter, cliquez sur le bouton
    </p>
    <a href="{{ path('back_territories_files_index') }}" class="fr-btn fr-btn--tertiary fr-btn--icon-right fr-icon-external-link-line" target="_blank" rel="noopener" title="Consulter l'espace documentaire - Ouvre une nouvelle fenêtre)">
        Consulter l'espace documentaire
    </a>
</div>