<h2 class="fr-h4">Activité du dossier</h2>

{% include 'back/signalement/view/partners.html.twig' %}
        
{% include 'back/signalement/view/bloc-suivis.html.twig' %}

{% include 'back/signalement/view/visites/visites-list.html.twig' %}