<h2 class="fr-h4">Activité du dossier</h2>

{% include 'back/signalement/view/partners.html.twig' %}
        
{% include 'back/signalement/view/bloc-suivis.html.twig' %}

<div id="bloc-visites">
    {% include 'back/signalement/view/visites/bloc-visites.html.twig' %}
</div>