<h2 class="fr-h4">Évaluation de la situation</h2>

{% include 'back/signalement/view/criticite-qualifications.html.twig' %}

<hr class="fr-mt-3w">

<h3 class="fr-h5">Déclaration usager</h3>

{% if createdFromDraft %}    
    {% if signalement.debutDesordres is not null %}
        <div class="fr-grid-row fr-mb-3w">
            <div class="fr-col-12 fr-col-md-6">
                <strong>Début des désordres : </strong>
                {% if signalement.debutDesordres %}
                    {% if signalement.debutDesordres is same as 'less_1_month' %}
                        moins d'un mois
                    {% elseif signalement.debutDesordres is same as '1_to_6_months' %}
                        entre 1 mois et 6 mois
                    {% elseif signalement.debutDesordres is same as '6_to_12_months' %}
                        entre 6 mois et 1 an
                    {% elseif signalement.debutDesordres is same as '1_to_2_years' %}
                        entre 1 et 2 ans
                    {% elseif signalement.debutDesordres is same as 'more_2_years' %}
                        plus de 2 ans
                    {% else %}
                        ne sait pas
                    {% endif %}
                {% endif %}
            </div>
            {% if signalement.hasSeenDesordres is not null %}
                <div class="fr-col-12 fr-col-md-6">
                    <strong>Le tiers a vu les désordres :</strong>
                    {% if signalement.hasSeenDesordres %}
                        {{ static_picto_yes|raw }}
                    {% else %}
                        {{ static_picto_no|raw }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% include 'back/signalement/view/user-declaration-desordre-list.html.twig' %}
{% else %}
    {% include 'back/signalement/view/user-declaration-situations.html.twig' %}
{% endif %}

<hr class="fr-mt-3w">

{% include 'back/signalement/view/photos-documents.html.twig' with {
    'zonetitle': "Photos et documents de la situation",
    'filesFilter': 'situation',
    'filesType': 'photo,document',
    'displayAddButton': true
} %}

<hr class="fr-mt-3w">

<div data-ajax-form>
    {% include 'back/signalement/view/information/information-composition.html.twig' %}
</div>

{% include 'back/signalement/view/nde.html.twig' %}

<hr class="fr-mt-3w fr-hr">

<div data-ajax-form>
{% if not signalement.profileDeclarant or 
    (signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT and
    signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR) %}
{% include 'back/signalement/view/information/information-bailleur.html.twig' %}

<hr class="fr-mt-3w fr-hr">
{% endif %}

{% include 'back/signalement/view/information/information-procedure.html.twig' %}
</div>