<dialog aria-labelledby="fr-modal-add-suivi-title" id="fr-modal-add-suivi" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <h1 id="fr-modal-add-suivi-title" class="fr-modal__title">
                            Ajouter un suivi
                        </h1>
                        <button class="fr-link--close fr-link" aria-controls="fr-modal-add-suivi">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <form method="POST" name="signalement-add-suivi" id="signalement-add-suivi-form" class="tinyCheck"
                                action="{{ path('back_signalement_add_suivi',{uuid:signalement.uuid}) }}">
                            <div class="fr-input-group">
                                <label class="fr-label" for="signalement-add-suivi-content">
                                    <span class="fr-hint-text">
                                        Décrivez la ou les action(s) menée(s). 10 caractères minimum
                                        <sup class="fr-text-default--error">*</sup>
                                    </span>
                                </label>
                                <textarea class="fr-input fr-input--no-resize editor" id="signalement-add-suivi-content"
                                        name="signalement-add-suivi[content]" minlength="10"></textarea>
                                <p class="fr-error-text fr-hidden">
                                    Merci de proposer une rapide description (minimum 10 caractères).
                                </p>
                            </div>

                            <div class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                <div class="fr-toggle">
                                    <input type="checkbox" class="fr-toggle__input" id="signalement-add-suivi-notify-usager" name="signalement-add-suivi[notifyUsager]" value="1">
                                    <label for="signalement-add-suivi-notify-usager">En cochant cette case, le suivi sera envoyé à l'usager</label>
                                </div>
                            </div>

                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_add_suivi_'~signalement.id) }}">
                        </form>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button type="submit" class="fr-btn fr-btn--icon-left"
                                        form="signalement-add-suivi-form" disabled>
                                    Enregistrer
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-fi-checkbox-line fr-btn--secondary" aria-controls="fr-modal-add-suivi">
                                    Annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>