{% if precision.label is not same as '' or signalement.jsonContent[precision.desordreCritere.slugCritere] is defined %}
    <ul class="fr-list fr-list--none">
        <li>
            {% if precision.label is not same as '' %}
                {{ precision.label|raw }}<br>
            {% endif %}            
            {# Affichage des données spécifiques liées au critère #}
            {% if signalement.jsonContent[precision.desordreCritere.slugCritere] is defined %}
                Commentaire usager : <i>{{ signalement.jsonContent[precision.desordreCritere.slugCritere] }}</i>
            {% elseif signalement.jsonContent[precision.desordrePrecisionSlug] is defined and precision.desordrePrecisionSlug == 'desordres_service_secours_autre_precision' %}
                Précision : <i>{{ signalement.jsonContent[precision.desordrePrecisionSlug]|nl2br }}</i>
            {% elseif signalement.jsonContent[precision.desordrePrecisionSlug] is defined %}
                Taille (en cm) : <i>{{ signalement.jsonContent[precision.desordrePrecisionSlug] }}</i>
            {% endif %}
        </li>
    </ul>
{% endif %}