{% if precision.label is not same as '' or signalement.jsonContent[precision.desordreCritere.slugCritere] is defined %}
    <ul class="fr-list fr-list--none">
        <li>
            {% if precision.label is not same as '' %}
                {{ precision.label|raw }}<br>
            {% endif %}            
            {# Affichage des données spécifiques liées au critère #}
            {% if signalement.jsonContent[precision.desordreCritere.slugCritere] is defined %}
                Commentaire usager : <i>{{ signalement.jsonContent[precision.desordreCritere.slugCritere] }}</i>
            {# Affichage des données spécifiques liées aux précisions sur la taille des pièces (à standardiser si nécessaire) #}
            {% elseif signalement.jsonContent[precision.desordrePrecisionSlug] is defined %}
                Taille (en cm) : <i>{{ signalement.jsonContent[precision.desordrePrecisionSlug] }}</i>
            {% endif %}
        </li>
    </ul>
{% endif %}