{% extends 'back/base_bo.html.twig' %}

{% block title %}Importer des arrêtés{% endblock %}

{% block content %}
    <section class="fr-pt-4v" id="import-arrete-container">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils admin',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Mon territoire',
            'level3Link': path('back_territory_management_index'),
            'level4Title': 'Liste des arrêtés importés',
            'level4Link': path('back_territory_management_arrete_index'),
            'level5Title': 'Importer des arrêtés',
            'level5Link': '',
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <h1 class="fr-mb-0">Importer des arrêtés</h1>
                </div>
            </div>
        </header>

        <div class="fr-grid-row fr-mt-4w">
            <div class="fr-col-12">
                <p>
                    Vous pouvez importer l'historique des arrêtés pris sur votre territoire à l'aide d'un fichier au format CSV.
                    Une fois importés, vous pourrez consulter les arrêtés sous forme de liste ou de carte dans l'<a href="#">Historique des adresses</a>.
                </p>

                <div class="fr-callout">
                    <h3 class="fr-callout__title">À lire avant de télécharger votre fichier</h3>
                    <div class="fr-callout__text">
                        <ul>
                            <li>Votre fichier doit être au format .CSV</li>
                            <li>Votre fichier peut contenir 50 lignes maximum.</li>
                            <li>Votre fichier doit inclure les 7 colonnes obligatoires : numéro de voie, nom de la voie, code postal, commune, classification de l'arrêté, date de l'arrêté et identifiant parcellaire.</li>
                            <li>Votre fichier également contenir 4 colonnes facultatives : indice de répétition de la voie (BIS, TER, etc.), code INSEE de la commune, précision sur l'arrêté (libellé) et le nom du syndicat gestionnaire.</li>
                        </ul>
                    </div>
                </div>

                <p class="fr-mt-2w">
                    {# todo: lien à mettre à jour.  #}
                    Pour plus d'informations, veuillez consulter la <a href="https://documentation.signal-logement.beta.gouv.fr"
                                                                       target="_blank"
                                                                       rel="noreferrer noopener">documentation en cliquant ici</a>.<br>
                    Pour vous aider, vous pouvez également télécharger le fichier d'exemple en cliquant sur le bouton ci-dessous.
                </p>

                <a href="{{ asset('build/files/import_arrete_modele.csv') }}" download class="fr-btn fr-btn--secondary fr-icon-download-line fr-btn--icon-left">
                    Télécharger le fichier d'exemple
                </a>

                <hr class="fr-mt-4w">

                <div class="fr-mt-4w">
                    <h2>1. Choisir mon fichier</h2>
                    {{ form_start(form) }}
                    <div class="fr-p-4w import-csv-step-container">
                        {{ form_row(form.file, {
                            'row_attr': {
                                'class': 'fr-upload-group fr-mb-0'
                            }
                        }) }}
                    </div>
                    {{ form_end(form) }}

                    <div class="fr-mt-2w fr-p-4w import-csv-loading">
                        <span class="fr-icon-time-line fr-text-default--info fr-mb-1v" aria-hidden="true"></span>
                        <p class="fr-text--bold fr-mb-1w">Fichier en cours de téléchargement</p>
                        <p class="fr-mb-0 fr-text--sm">Veuillez patienter jusqu'à la fin du téléchargement de votre fichier.</p>
                    </div>

                    <div class="fr-mt-2w fr-p-4w fr-grid-row fr-grid-row--middle import-csv-success">
                        <div class="fr-col-10">
                            <div class="fr-mb-1w">
                                <span class="fr-icon-check-line fr-text-default--success fr-mb-1v" aria-hidden="true"></span>
                                <p class="fr-text--bold fr-mb-0">Fichier téléchargé !</p>
                            </div>
                            <p class="fr-mb-0 fr-text--sm">nomdufichier12345.csv</p>
                        </div>
                        <div class="fr-col-2 fr-text--right">
                            <a href="#" class="fr-link fr-icon-close-line fr-link--icon-left">Annuler</a>
                        </div>
                    </div>

                    <div class="fr-callout fr-mt-2w import-csv-error-callout">
                        <h3 class="fr-callout__title">Résumé du téléchargement :</h3>
                        <div class="fr-callout__text">
                            <ul class="fr-mb-0">
                                <li>4 lignes présentent une erreur de format et ne pourront pas être importées : lignes 2 ; 12 ; 36 ; 43</li>
                                <li>3 adresses à vérifier</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="fr-mt-8w">
                    <h2>2. Vérifier mes données</h2>
                    <p>
                        Pour importer correctement votre historique, nous avons besoin de vérifier que les adresses sont bien enregistrées dans la Base Adresse Nationale (BAN).
                        Veuillez rechercher et sélectionner l'adresse correspondante dans la liste déroulante. Sinon, cocher la case « Ignorer ».
                    </p>

                    <div class="fr-grid-row fr-mt-4w fr-text--bold fr-text-mention--grey import-csv-table-header fr-display-none fr-display-md-flex">
                        <div class="fr-col-md-3">ARRÊTÉ CONCERNÉ</div>
                        <div class="fr-col-md-4 fr-pl-md-2w">ADRESSE ACTUELLE</div>
                        <div class="fr-col-md-5 fr-pl-md-2w">SÉLECTIONNER L'ADRESSE DANS LA BAN</div>
                    </div>

                    {# Carte 1 — État « À vérifier » #}
                    <div class="fr-mt-2w fr-p-4w import-csv-card import-csv-card--to-check">
                        <div class="fr-grid-row">
                            <div class="fr-col-12 fr-col-md-3">
                                <p class="fr-mb-1w">14/03/2024</p>
                                <p class="fr-mb-0 fr-text--sm">Mise en sécurité procédure urgente</p>
                            </div>
                            <div class="fr-col-12 fr-col-md-4 fr-pl-md-2w fr-mt-2w fr-mt-md-0">
                                <p class="fr-mb-1w">80 A RUE DES PETITES MAIRIES</p>
                                <p class="fr-mb-0">13001 MARSEILLE</p>
                            </div>
                            <div class="fr-col-12 fr-col-md-5 fr-pl-md-2w fr-mt-2w fr-mt-md-0">
                                <div class="fr-input-group fr-mb-2w">
                                    <label class="fr-label" for="address-check">Adresse
                                        <span class="fr-hint-text">Taper une adresse et la sélectionner dans la liste</span>
                                    </label>
                                    <div class="fr-input-wrap fr-icon-search-line">
                                        <input class="fr-input" type="text" id="address-check" name="address-check">
                                    </div>
                                </div>
                                <a href="#" class="fr-link fr-icon-map-pin-2-line fr-link--icon-left fr-text--sm fr-hidden">ou sélectionner le bâtiment sur la carte</a>
                            </div>
                        </div>
                    </div>
                    <div class="fr-checkbox-group fr-mt-2w">
                        <input type="checkbox" id="ignore-1" name="ignore-1">
                        <label class="fr-label" for="ignore-1">
                            Ignorer cette entrée
                            <span class="fr-hint-text">L'arrêté ne sera pas importé</span>
                        </label>
                    </div>

                    {# Carte 2 — État « Ignoré » #}
                    <div class="fr-mt-4w fr-p-4w import-csv-card import-csv-card--ignored">
                        <div class="fr-grid-row">
                            <div class="fr-col-12 fr-col-md-3">
                                <p class="fr-mb-1w">14/03/2024</p>
                                <p class="fr-mb-0 fr-text--sm">Mise en sécurité procédure urgente</p>
                            </div>
                            <div class="fr-col-12 fr-col-md-4 fr-pl-md-2w fr-mt-2w fr-mt-md-0">
                                <p class="fr-mb-1w">80 A RUE DES PETITES MAIRIES</p>
                                <p class="fr-mb-0">13001 MARSEILLE</p>
                            </div>
                            <div class="fr-col-12 fr-col-md-5 fr-pl-md-2w fr-mt-2w fr-mt-md-0">
                                <div class="fr-input-group fr-mb-2w">
                                    <label class="fr-label">Adresse
                                        <span class="fr-hint-text">Taper une adresse et la sélectionner dans la liste</span>
                                    </label>
                                    <div class="fr-input-wrap">
                                        <input class="fr-input" type="text" disabled>
                                    </div>
                                </div>
                                <span class="fr-link fr-icon-map-pin-2-line fr-link--icon-left fr-text--sm fr-hidden">ou sélectionner le bâtiment sur la carte</span>
                            </div>
                        </div>
                    </div>
                    <div class="fr-checkbox-group fr-mt-2w">
                        <input type="checkbox" id="ignore-2" name="ignore-2" checked>
                        <label class="fr-label" for="ignore-2">
                            Ignorer cette entrée
                            <span class="fr-hint-text">L'arrêté ne sera pas importé</span>
                        </label>
                    </div>

                    {# Carte 3 — État « Valide » #}
                    <div class="fr-mt-4w fr-p-4w import-csv-card import-csv-card--valid">
                        <div class="fr-grid-row">
                            <div class="fr-col-12 fr-col-md-3">
                                <p class="fr-mb-1w">14/03/2024</p>
                                <p class="fr-mb-0 fr-text--sm">Mise en sécurité procédure urgente</p>
                            </div>
                            <div class="fr-col-12 fr-col-md-4 fr-pl-md-2w fr-mt-2w fr-mt-md-0">
                                <p class="fr-mb-1w">80 A RUE DES PETITES MAIRIES</p>
                                <p class="fr-mb-0">13001 MARSEILLE</p>
                            </div>
                            <div class="fr-col-12 fr-col-md-5 fr-pl-md-2w fr-mt-2w fr-mt-md-0">
                                <div class="fr-input-group fr-mb-2w">
                                    <label class="fr-label">Adresse
                                        <span class="fr-hint-text">Taper une adresse et la sélectionner dans la liste</span>
                                    </label>
                                    <div class="fr-input-wrap fr-icon-check-line">
                                        <input class="fr-input" type="text" value="80 rue des petites mairies 13001 Marsei..." readonly>
                                    </div>
                                </div>
                                <a href="#" class="fr-link fr-icon-map-pin-2-line fr-link--icon-left fr-text--sm fr-hidden">ou sélectionner le bâtiment sur la carte</a>
                            </div>
                        </div>
                    </div>
                    <div class="fr-checkbox-group fr-mt-2w">
                        <input type="checkbox" id="ignore-3" name="ignore-3">
                        <label class="fr-label" for="ignore-3">
                            Ignorer cette entrée
                            <span class="fr-hint-text">L'arrêté ne sera pas importé</span>
                        </label>
                    </div>

                    <hr class="fr-mt-8w">

                    <div class="fr-mt-4w">
                        <h2>3. Valider</h2>
                        <p>
                            Vous avez terminé ! Cliquez sur le bouton de validation pour finir votre import.
                            Vous serez redirigé vers l'Historique des adresses où vos arrêtés seront visibles d'ici quelques instants.
                        </p>
                        <div class="fr-mt-4w">
                            <ul class="fr-btns-group fr-btns-group--inline-lg fr-btns-group--center">
                                <li>
                                    <button class="fr-btn fr-btn--secondary">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn">
                                        Valider mon import
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
