<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-8 fr-pr-10v">
        <h2 class="fr-mb-3v tab-panel-title-with-icon">Nouveaux dossiers</h2>
        <p class="fr-mt-1v fr-ml-1v fr-text--lg">
            {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                Vérifiez, validez les nouveaux dossiers et affectez-y des partenaires.
            {% else %}
                Vérifiez les dossiers auxquels vous avez été affecté et acceptez vos affectations !
            {% endif %}
        </p>
    </div>
</div>
