<div id="storybook-tab-dossiers-nouveaux-panel"
     class="fr-tabs__panel"
     role="tabpanel"
     aria-labelledby="storybook-tab-dossiers-nouveaux"
     tabindex="0"
>
    {% include 'back/dashboard/tabs/dossiers_nouveaux/_header_dossier_nouveaux.html.twig' %}
    <div data-url="{{ path('back_tab_panel_body', {tabBodyType : 'dossiers-form-usager' }) }}">
        Chargement...
    </div>
    <div data-url="{{ path('back_tab_panel_body', {tabBodyType : 'dossiers-form-pro' }) }}">
        Chargement...
    </div>
    <div data-url="{{ path('back_tab_panel_body', {tabBodyType : 'dossiers-non-affectation' }) }}">
        Chargement...
    </div>
</div>
