{% for intervention in visites %}
    <div class="fr-background-alt--grey fr-p-5v fr-mb-5v">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-6 fr-h6 fr-mb-3v">
                Visite
                {% if visites is not empty or intervention.scheduledAt is not empty %}
                    du {{ intervention.scheduledAt|date('d/m/Y') }}
                {% endif %}
            </div>
            <div class="fr-col-12 fr-col-md-6">
                {% if is_granted('SIGN_ADD_VISITE', intervention.signalement) %}
                    {% include 'back/signalement/view/visites/modals/visites-modals.html.twig' %}
                {% endif %}
                {% include 'back/signalement/view/visites/visites-buttons.html.twig' %}
            </div>
        </div>
        {% include 'back/signalement/view/visites/visite-item.html.twig' with { 'isForBO': true } %}
    </div>
{% endfor %}