<hr id="visites">

<div class="fr-grid-row">
    <div class="fr-col-md-6">
        <strong class="fr-fi-calendar-line fr-icon--sm fr-text-label--blue-france"> Visites</strong>
    </div>
</div>

{% if signalement.interventions is empty %}
    {% include 'back/signalement/view/visites/visites-modals.html.twig' %}
    {% include 'back/signalement/view/visites/visites-buttons.html.twig' %}
    {% include 'back/signalement/view/visites/visite-item.html.twig' %}
{% else %}
    {% for intervention in signalement.interventions %}
        {% include 'back/signalement/view/visites/visites-modals.html.twig' %}
        {% include 'back/signalement/view/visites/visites-buttons.html.twig' %}
        {% include 'back/signalement/view/visites/visite-item.html.twig' %}
    {% endfor %}

    <div class="fr-my-5v fr-text--center">
        <a href="#" class="fr-btn fr-btn--sm fr-fi-calendar-line fr-btn--icon-left" aria-controls="ajouter-visite-modal" data-fr-opened="false">
            Ajouter une visite
        </a>
    </div>
{% endif %}

