<hr class="fr-mt-3w">

<h3 class="fr-h5">Visites</h3>

{% if is_granted('SIGN_ADD_VISITE', signalement) %}
    {% include 'back/signalement/view/visites/modals/visites-modal-add.html.twig' %}
{% endif %}

<p class="fr-pb-5v">
    Les visites sont gérées par les partenaires ayant la compétence "Visites" et les responsables de territoires.
</p>

{% if signalement.interventions is empty %}
    {% if is_granted('SIGN_ADD_VISITE', signalement) %}
        {% include 'back/signalement/view/visites/visites-buttons.html.twig' %}
    {% endif %}
    {% include 'back/signalement/view/visites/visite-item.html.twig' %}
{% else %}
    {% for intervention in signalement.interventions %}
        {% if is_granted('INTERVENTION_EDIT_VISITE', intervention) %}
            {% include 'back/signalement/view/visites/modals/visites-modals.html.twig' %}
            {% include 'back/signalement/view/visites/visites-buttons.html.twig' %}
        {% endif %}
        <div class="fr-col-12 fr-h6 fr-mb-3v">
            Visite #{{loop.index}}
        </div>
        {% include 'back/signalement/view/visites/visite-item.html.twig' %}
    {% endfor %}

    {% if is_granted('SIGN_ADD_VISITE', signalement) %}
        <div class="fr-my-5v fr-text--center">
            <button class="fr-btn fr-btn--sm fr-fi-calendar-line fr-btn--icon-left" aria-controls="add-visite-modal" data-fr-opened="false">
                Ajouter une visite
            </button>
        </div>
    {% endif %}
{% endif %}

