<strong>{{ situation|capitalize }}</strong>
{# Affichage des données spécifiques liées à la catégorie #}
{% set firstCritere = criteres|first %}
{% if firstCritere is defined %}
    {% set firstPrecision = firstCritere|first %}
    {% if firstPrecision is defined %}
        {% if signalement.jsonContent[firstPrecision.desordreCritere.slugCategorie] is defined %}
            {{ signalement.jsonContent[firstPrecision.desordreCritere.slugCategorie] }}
        {% endif %}
    {% endif %}
{% endif %}    
<ul>
    {% for critere,precisions in criteres %}
        <li>
            {{ critere }}     
            {% for precision in precisions %}
                {% include '_partials/signalement/desordre-precision-label.html.twig' %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>