<dialog aria-labelledby="modal-aides-bailleur-title" id="modal-aides-bailleur" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button" class="fr-btn--close fr-btn" aria-controls="modal-aides-bailleur">Fermer</button>
                    </div>
                    <div class="fr-modal__content" id="modal-aides-bailleur-content">
                        <h1 id="modal-aides-bailleur-title" class="fr-modal__title">
                            Quelles aides pour rénover mon logement ?
                        </h1>
                        <div>
                            <iframe id="mesaidesreno" src="https://mesaidesreno.beta.gouv.fr/" allow="clipboard-read; clipboard-write" style="width: 400px; height: 700px; margin: 3rem auto; display: block; border: 0.2rem solid black; border-radius: 1rem;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>