{#
    On n'affiche qu'une seule alerte pour ne pas surcharger,
    donc on ne l'affiche que si on n'affiche pas celle sur le fait de prévenir le bailleur
#}
{% if signalement.isProprioAverti is same as true
    and signalement.profileDeclarant is same as enum('App\\Entity\\Enum\\ProfileDeclarant').LOCATAIRE
    and not signalement.mailDeclarant
    and is_granted('SIGN_USAGER_EDIT', signalement)
%}
    <div class="fr-callout {{ cssDiv }}">
        <h4 class="fr-callout__title">Invitez un tiers</h4>
        <p class="fr-callout__text">
            Afin de faciliter les échanges avec l'administration, vous pouvez donner accès au dossier à un tiers
            (famille, travailleur social, association, etc.) en renseignant son adresse e-mail.
            <br>
            <a href="{{ path('front_suivi_signalement_coordonnees_tiers', {code: signalement.codeSuivi}) }}" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-box-line fr-mt-3v"
                >Inviter un tiers sur mon dossier</a>
        </p>
    </div>
{% endif %}