{% if signalement.isProprioAverti is not same as true 
    and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT
    and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR
%}
    <div class="fr-callout {{ cssDiv }}">
        <h4 class="fr-callout__title">Prévenez le propriétaire (bailleur)</h4>
        <p class="fr-callout__text">
            Vous devez informer le bailleur du logement des problèmes rencontrés dans le logement. 
            <br>
            Nous vous mettons à disposition un modèle de courrier à remplir et envoyer à votre bailleur. 
            Cliquez sur le bouton ci-dessous pour le télécharger.
            <br>
            Si vous avez prévenu le propriétaire (bailleur), cliquez sur le bouton ci-dessous pour mettre à jour votre situation.
        </p>
        <a class="fr-btn fr-btn--icon-left fr-icon-arrow-down-line fr-mt-2v" download href="{{ asset('build/files/Lettre-information-proprietaire-bailleur_A-COMPLETER.pdf') }}">
            Télécharger le courrier
        </a>
        <a class="fr-btn fr-btn--icon-left fr-icon-check-line fr-mt-2v" href="{{ path('front_suivi_signalement_bailleur_prevenu', {code: signalement.codeSuivi}) }}">
            J'ai prévenu le bailleur
        </a>
    </div>
{% endif %}