{% extends 'back/base_bo.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block content %}
    <section class="fr-col-12 fr-p-5v">
        {% if create %}
            {% include 'back/breadcrumb_bo.html.twig' with {
                'level2Title': 'Outils admin',
                'level2Link': '',
                'level2Label': '',
                'level3Title': 'Partenaires',
                'level3Link': path('back_partner_index'),
                'level3Label': 'Retour à la liste des partenaires',
                'level4Title': 'Ajouter un partenaire',
                'level4Link': '',
                'level4Label': '',
            } %}
            <h1 class="fr-mb-0"> Ajouter un partenaire </h1>
            <span>Remplissez le formulaire ci-dessous pour créer un partenaire.</span><br>
            <span>Tous les champs sont obligatoires, sauf mention contraire.</span>
                
        {% else %}
            {% include 'back/breadcrumb_bo.html.twig' with {
                'level2Title': 'Outils admin',
                'level2Link': '',
                'level2Label': '',
                'level3Title': 'Partenaires',
                'level3Link': path('back_partner_index'),
                'level3Label': 'Retour à la liste des partenaires',
                'level4Title': 'Partenaire '~partner.nom,
                'level4Link': path('back_partner_view', {id:partner.id}),
                'level4Label': 'Retour au partenaire',
                'level5Title': 'Modifier le partenaire ',
                'level5Link': '',
                'level5Label': '',
            } %}
            <h1 class="fr-mb-0"> Modifier le partenaire : {{ partner.nom }} </h1>
            <span>Tous les champs sont obligatoires, sauf mention contraire.</span>
        {% endif %}
        <div class="fr-pt-5v">
            {% if platform.feature_zonage %}
                {{ include('back/partner/_form.html.twig') }}
            {% else %}
                {{ include('back/partner/_old_form.html.twig') }}
            {% endif %}
        </div>
    </section>
{% endblock %}