<header class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <a href="{{path('service_secours_index', {'name': serviceSecoursRoute.name, 'uuid': serviceSecoursRoute.uuid, 'domain': root_domain(app.request.host)})}}" title="Accueil — Ministère de l'Aménagement du territoire et de la Décentralisation">
                                <p class="fr-logo">Ministères<br>aménagement<br>du territoire<br>transition<br>écologique</p>
                            </a>
                        </div>
                        <div class="fr-header__operator">
                            <img class="fr-responsive-img" src="{{ asset('img/logo-signal-logement-small.original.svg') }}" alt="Logo {{ platform.name }}" style="max-width:3,0rem;" data-fr-js-ratio="true">
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{path('service_secours_index', {'name': serviceSecoursRoute.name, 'uuid': serviceSecoursRoute.uuid, 'domain': root_domain(app.request.host)})}}" title="Accueil — Lutter contre le mal logement">
                            <p class="fr-header__service-title">
                                Lutter contre le mal logement
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
