<div id="pwa-install-prompt" class="fr-consent-banner fr-hidden">
    <div class="img-container fr-mb-4v">
        <img src="{{ asset('img/logo-signal-logement-small.original.svg') }}" alt="Logo {{ platform.name }}" data-fr-js-ratio="true">
    </div>
    <p>Ajouter Signal Logement à l'écran d'accueil</p>
    <div id="pwa-install-buttons">
        <button class="fr-btn fr-btn--secondary cancel-button fr-mr-4v" type="button">Annuler</button>
        <button class="fr-btn install-button" type="button">Ajouter</button>
    </div>
</div>