<div id="pwa-install-prompt" class="fr-consent-banner fr-consent-banner-install fr-hidden">
    <div class="img-container fr-mb-4v">
        <img src="{{ asset('img/logo-signal-logement-small.original.svg') }}" alt="Logo {{ platform.name }}" data-fr-js-ratio="true">
    </div>
    <p>Ajouter Signal Logement à l'écran d'accueil</p>
    <div id="pwa-install-buttons">
        <button
            type="button"
            class="fr-btn fr-btn--secondary cancel-button fr-mr-4v"
            data-matomo-clickable-event-category="PWA"
            data-matomo-clickable-event-action="Installation choice"
            data-matomo-clickable-event-name="Annuler"
            >Annuler</button>
        <button
            type="button"
            class="fr-btn install-button"
            data-matomo-clickable-event-category="PWA"
            data-matomo-clickable-event-action="Installation choice"
            data-matomo-clickable-event-name="Ajouter"
            >Ajouter</button>
    </div>
</div>