{% extends 'service_secours/base.html.twig' %}

{% block body %}
    <main class="fr-container fr-mb-5w" id="content">
        <section class="fr-grid-row fr-grid-row--center">
            <div class="fr-mt-5v fr-col-md-12">
                <h1>Le signalement a bien été enregistré !</h1>
                <p>Le signalement a bien été enregistré sous le numéro : #TODO</p>
<<<<<<< HEAD
                <p>Il va automatiquement être transmis au pôle départemental de lutte contre l'habitat indigne.</p>
=======
                <p>Il va automatiquement être transmis au pôle départemental de lutte contre l'habitat indigne (DDTM13).</p>
>>>>>>> 9f78a2912 (implement multi-step form for service secours #5396)
            </div>
        </section>
    </main>
{% endblock %}
