{% extends 'back/base_bo.html.twig' %}

{% set static_picto_yes = '<p class="fr-badge fr-badge--success">Oui</p>' %}
{% set static_picto_no = '<p class="fr-badge fr-badge--error">Non</p>' %}

{% block content %}
    {% if canSeePartnerAffectation and canTogglePartnerAffectation %}
        {% include '_partials/_modal_affectation.html.twig' %}
    {% endif %}
    {% if canSeePartnerAffectation %}        
        {% include '_partials/_modal_historique_affectation.html.twig' %}
    {% endif %}
    {% include '_partials/_modal_dpe.html.twig' %}
    {% if signalement.statut is not same as constant('App\\Entity\\Signalement::STATUS_NEED_VALIDATION') and not isClosed and not isClosedForMe and ((isAffected and isAccepted)) or is_granted('ROLE_ADMIN_TERRITORY') %}
        {% include '_partials/_modal_cloture.html.twig' %}
    {% endif %}
    {% if canEditNDE %}
        {% include '_partials/_modal_edit_nde.html.twig' %}        
    {% endif %}
    {% if is_granted('SIGN_EDIT', signalement) %}
        {% include '_partials/_modal_upload_files.html.twig' %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '_partials/_modal_send_lien_suivi.html.twig' %}
    {% endif %}
    {% include '_partials/_modal_file_delete.html.twig' %}
    {% include 'back/signalement/view/edit-modals/edit-file.html.twig' %}

    {% if isClosedForMe or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED') or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED')  %}
        {% if isClosed and is_granted('ROLE_ADMIN_TERRITORY') %}
            {% include '_partials/_modal_reopen_signalement.html.twig' with { 'all': '1' } %}
        {% endif %}
        
        {% if signalement.statut is not same as constant('App\\Entity\\Signalement::STATUS_CLOSED') and isClosedForMe %}
            {% include '_partials/_modal_reopen_signalement.html.twig' with { 'all': '0' } %}
        {% endif %}
    {% endif %}

    <div class="fr-background--white
            {{ (isClosedForMe and not is_granted('ROLE_ADMIN_TERRITORY'))
                or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED')
                or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED')
            ? 'signalement-invalid'
            : ''
            }}">
        <section id="signalement-{{ signalement.id }}-content"
            class="fr-p-5v">

            {% include 'back/signalement/view/photos-album.html.twig' %}
            
            {% include 'back/signalement/view/header.html.twig' %}
        </section>

        {% include 'back/signalement/view/tabs.html.twig' %}
    </div>
{% endblock %}
