{% extends 'back/base_bo.html.twig' %}

{% set static_picto_yes = '<p class="fr-badge fr-badge--success">Oui</p>' %}
{% set static_picto_no = '<p class="fr-badge fr-badge--error">Non</p>' %}

{% block notice %}
    {% if signalement.createdBy and signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION %}
        {% if signalement.createdBy and 'ROLE_API_USER' in signalement.createdBy.roles %}
            {% set noticeTitle = 'Signalement API' %}
            {% set noticeDesc = 'Ce signalement a été créé via API par ' ~ signalement.createdBy.email ~ ' pour le partenaire ' ~ signalement.createdByPartner.nom ~ '.' %}
        {% else %}
            {% set noticeTitle = 'Signalement BO' %}
            {% set partnerName = signalement.createdBy.getPartnerInTerritory(signalement.territory) ? signalement.createdBy.getPartnerInTerritory(signalement.territory).nom : 'N/A' %}
            {% set noticeDesc = 'Ce signalement a été créé depuis le formulaire pro par ' ~ signalement.createdBy.prenom ~ ' ' ~ signalement.createdBy.nom ~ ', du partenaire ' ~ partnerName ~ '.' %}
        {% endif %}
            <div class="fr-notice fr-notice--info">
                <div class="fr-container">
                    <div class="fr-notice__body">
                        <p>
                            <span class="fr-notice__title">{{ noticeTitle }}</span>
                            <span class="fr-notice__desc">{{ noticeDesc }}</span>
                        </p>
                        <button title="Masquer le message" class="fr-btn--close fr-btn">Masquer le message</button>
                    </div>
                </div>
            </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if is_granted('SIGN_AFFECTATION_TOGGLE', signalement) %}
        {% include '_partials/_modal_affectation.html.twig' %}
    {% endif %}
    {% if is_granted('SIGN_AFFECTATION_SEE', signalement) %}        
        {% include '_partials/_modal_historique_affectation.html.twig' %}
    {% endif %}
    {% include '_partials/_modal_dpe.html.twig' %}
    {% if is_granted('SIGN_CLOSE', signalement) or (affectation and is_granted('AFFECTATION_CLOSE', affectation)) %}
        <div data-ajax-form>
            {% include '_partials/_modal_cloture.html.twig' %}
        </div>
    {% endif %}
    {% if is_granted('SIGN_EDIT_NDE', signalement) %}
        {% include '_partials/_modal_edit_nde.html.twig' %}
    {% endif %}
    {% if is_granted('SIGN_EDIT_ACTIVE', signalement) or is_granted('SIGN_EDIT_CLOSED', signalement) or is_granted('SIGN_EDIT_INJONCTION', signalement) %}
        {% include '_partials/_modal_upload_files.html.twig' with {'context': 'form-bo-edit'} %}
    {% endif %}
    {% if is_granted('SIGN_EDIT_ACTIVE', signalement) or is_granted('SIGN_EDIT_INJONCTION', signalement) %}
        {% include '_partials/_modal_reinit_affectation.html.twig' %}
    {% endif %}
    {% if signalement.geoloc.lat is defined and signalement.geoloc.lng is defined %}
        {% include '_partials/_modal_localisation.html.twig' %}
    {% elseif is_granted('SIGN_EDIT_ACTIVE', signalement) or is_granted('SIGN_EDIT_NEED_VALIDATION', signalement) %}
        {% include '_partials/_modal_pick_localisation.html.twig' %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include '_partials/_modal_send_lien_suivi.html.twig' %}
    {% endif %}
    {% include '_partials/_modal_file_delete.html.twig' %}
    {% include '_partials/_select_file_document_type.html.twig' %}
    <div data-ajax-form>
        {% include 'back/signalement/view/edit-modals/edit-file.html.twig' %}
    </div>
    <div data-ajax-form>
        {% include 'back/signalement/view/edit-modals/edit-suivi.html.twig' %}
    </div>
    {% include '_partials/_modal_historique_affectation.html.twig' %}

    {% if is_granted('SIGN_REOPEN', signalement) %}
        {% include '_partials/_modal_reopen_signalement.html.twig' with { 'all': '1' } %}
    {% endif %}
    
    {% if is_granted('AFFECTATION_REOPEN', affectation) %}
        {% include '_partials/_modal_reopen_signalement.html.twig' with { 'all': '0' } %}
    {% endif %}

    {% set signalementInvalidClass = '' %}
    {% 
       if signalement.statut in [enum('App\\Entity\\Enum\\SignalementStatus').CLOSED, enum('App\\Entity\\Enum\\SignalementStatus').REFUSED] 
       or (not is_granted('ROLE_ADMIN_TERRITORY') and affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').CLOSED)
     %}
        {% set signalementInvalidClass = 'signalement-invalid' %}
    {% endif %}
    <div class="fr-background--white {{ signalementInvalidClass }}">
        <section id="signalement-{{ signalement.id }}-content" class="fr-p-5v">
            {% include 'back/signalement/view/photos-album.html.twig' %}
            {% include 'back/signalement/view/header.html.twig' %}
        </section>
        {% include 'back/signalement/view/tabs.html.twig' %}
    </div>
{% endblock %}