{% if signalement.interventions is not empty %}
    {% if intervention.status is same as constant('App\\Entity\\Intervention::STATUS_PLANNED') %}
        {% if workflow_can(intervention, 'cancel') %}
            <div data-ajax-form>
                {% include 'back/signalement/view/visites/modals/visites-modal-cancel.html.twig' %}
            </div>
        {% endif %}
        {% if workflow_can(intervention, 'confirm') %}
            <div data-ajax-form>
                {% include 'back/signalement/view/visites/modals/visites-modal-confirm.html.twig' %}
            </div>
        {% endif %}
        <div data-ajax-form>
            {% include 'back/signalement/view/visites/modals/visites-modal-reschedule.html.twig' %}
        </div>
    {% elseif intervention.status is same as constant('App\\Entity\\Intervention::STATUS_DONE') %}
        <div data-ajax-form>
            {% include 'back/signalement/view/visites/modals/visites-modal-edit.html.twig' %}
        </div>
        {% if is_granted('SIGN_EDIT_ACTIVE', signalement) %}
            <div data-ajax-form>
                {% include 'back/signalement/view/visites/modals/visites-modal-upload-files.html.twig' %}
            </div>
        {% endif %}
    {% endif %}
{% endif %}