<div class="fr-grid-row fr-grid-row--gutters fr-mb-2v">
    <div class="fr-col-12">
        <h2 class="fr-h4 fr-mb-0" id="filters-title">Filtres de recherche</h2>
        <div class="fr-skiplinks">
            <a class="fr-link fr-link--icon-right fr-icon-arrow-down-line" href="{{ skiplink_href }}" aria-label="{{ skiplink_label }}"
                >{{ skiplink_label }}</a>
        </div>
    </div>
</div>
