
<div class="fr-mb-4v">
    Dossier déposé le : {{ signalement.createdAt|date('d/m/Y') }}
    {% if signalement.createdBy is not null %}
        depuis le formulaire pro.
    {% elseif signalement.isImported is same as true %}
        par import
    {% else %}
        depuis le formulaire usager.
    {% endif %}
    {% if signalement.referenceInjonction and signalement.statut is not same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
        <br>
        Le dossier existait auparavant en démarche accélérée sous la référence #{{ signalement.referenceInjonction }}.
    {% endif %}
</div>
