{% set currentPartner =  app.user.partnerInTerritoryOrFirstOne(signalement.territory) %}
{% set isAloneInCurrentPartner = app.user.isAloneInPartner(currentPartner) %}
{% if (canAnswerAffectation or canCancelRefusedAffectation) and not isAloneInCurrentPartner %}
    <div data-ajax-form class="fr-display-inline">
        {% include '_partials/_modal_accept_affectation.html.twig' %}
    </div>
{% endif %}
{% if isUserSubscribed and subscriptionsInMyPartner|length < 2 and affectation %}
    <div data-ajax-form class="fr-display-inline">
        {% include '_partials/_modal_transfer_subscription.html.twig' %}
    </div>
{% endif %}
{% if canValidateOrRefuseSignalement and not isAloneRtInCurrentPartner %}
    <div data-ajax-form>
        {% include '_partials/_modal_accept_signalement.html.twig' %}
    </div>
{% endif %}
{% if canAnswerAffectation %}
    <div data-ajax-form class="fr-display-inline">
        {% include '_partials/_modal_refus_affectation.html.twig' %}
    </div>
    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
        <div class="fr-pl-3v">
            <div class="fr-notice__body">
                <p>
                    <span class="fr-notice__title">Vous devez accepter l'affectation pour pouvoir traiter le dossier.</span>
                </p>
            </div>
        </div>
    </div>
    {% if isAloneInCurrentPartner %}
        <form id="signalement-affectation-response-form" action="{{ path('back_signalement_affectation_accept',{affectation:affectation.id}) }}" method="POST" class="inline-form">
            <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success">
                Accepter l'affectation
            </button>
            <input type="hidden" name="_token" value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
        </form>
    {% else %}
        <button 
            class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success" 
            id="open-accept-affectation-modal" 
            data-fr-opened="false" 
            aria-controls="accept-affectation-modal">
            Accepter l'affectation
        </button>
    {% endif %}
    <a href="#" 
        class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-close-circle-fill fr-btn--danger"
        data-fr-opened="false" 
        aria-controls="refus-affectation-modal">
        Refuser l'affectation
    </a>
{% elseif canValidateOrRefuseSignalement %}
    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
        <div class="fr-pl-3v">
            <div class="fr-notice__body">
                <p>
                    <span class="fr-notice__title">En tant que responsable de territoire, vous devez valider ou refuser ce signalement.</span>
                </p>
            </div>
        </div>
    </div>
    <div data-ajax-form class="fr-display-inline">
        {% include '_partials/_modal_refus_signalement.html.twig' %}
    </div>
    <div class="admin-territory-validation">
        {% if isAloneRtInCurrentPartner %}
            <form id="signalement-validation-response-form" action="{{ path('back_signalement_accept',{uuid:signalement.uuid}) }}" class="inline-form">
                <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success" name="signalement-validation-response[accept]" value="1">
                    Valider le signalement
                </button>
                <input type="hidden" name="_token" value="{{ csrf_token('signalement_validation_response_'~signalement.id) }}">
            </form>
        {% else %}
            <button 
                class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success" 
                id="open-accept-signalement-modal" 
                data-fr-opened="false" 
                aria-controls="accept-signalement-modal">
                Valider le signalement
            </button>
        {% endif %}
        <a href="#" class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-close-line fr-btn--danger"
            aria-controls="refus-signalement-modal" data-fr-opened="false">
            Refuser le signalement
        </a>
    </div>
{% endif %}
{% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
        <div class="fr-pl-3v">
            <div class="fr-notice__body">
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="fr-notice__title">Ce signalement est en injonction bailleur.</span>
                    {% else %}
                        <span class="fr-notice__title">Ce signalement est en injonction bailleur. Il est accessible en lecture seule.</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endif %}