<div class="fr-mt-4v fr-p-4v fr-background-alt--grey">
    <strong>Etiquettes</strong>
    {% if is_granted('SIGN_EDIT_ACTIVE', signalement) or is_granted('SIGN_EDIT_CLOSED', signalement) %}
        <button>
            <a class="fr-btn--icon-left fr-a-edit fr-icon-bookmark-line fr-ml-2v" id="tags_select_tooltip_btn" href="#" data-fr-opened="false" aria-controls="fr-modal-etiquettes">
                Gérer les étiquettes
            </a>
        </button>
    {% endif %}
    <div>
        <div class="fr-my-3v">
            {% for tag in signalement.tags %}
                <span class="fr-badge fr-badge--info fr-badge--no-icon fr-m-1v">{{ tag.label }}</span>
            {% else %}
                <em class="fr-text-default--warning fr-fi-close-line fr-icon--xs">
                    <small>Aucune étiquette attribuée à ce signalement.</small>
                </em>
            {% endfor %}
        </div>
    </div>
</div>