<div class="fr-display-inline-flex fr-align-items-center">
    <div id="signalement-title-container">
        {% include 'back/signalement/view/header/_title.html.twig' %}
    </div>
    <div class="fr-ml-3v fr-mb-5v">
        {% if is_granted('ROLE_ADMIN_TERRITORY') %}
            {% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION %}
                <span class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-warning-line" aria-hidden="true"></span> Nouveau</span>
            {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').ACTIVE %}
                <span class="fr-badge fr-badge--success fr-badge--no-icon"><span class="fr-icon-message-2-line" aria-hidden="true"></span> En cours</span>
            {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').REFUSED %}
                <span class="fr-badge fr-badge--new fr-badge--no-icon"><span class="fr-icon-close-line" aria-hidden="true"></span> Refusé</span>
            {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').CLOSED %}
                <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Fermé</span>
            {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').ARCHIVED %} <!-- NE DOIT PAS ARRIVER -->
                <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Archivé</span>
            {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').DRAFT %} <!-- NE DOIT PAS ARRIVER -->
                <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Brouillon</span>
            {% endif %}
        {% else %}
            {% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').CLOSED or affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').CLOSED %}
                <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Clôturé</span>
            {% elseif affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').WAIT %}
                <span class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-warning-line" aria-hidden="true"></span> Nouveau</span>
            {% elseif affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').ACCEPTED %}
                <span class="fr-badge fr-badge--success fr-badge--no-icon"><span class="fr-icon-message-2-line" aria-hidden="true"></span> En cours</span>
            {% elseif affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').REFUSED %}
                <span class="fr-badge fr-badge--new fr-badge--no-icon"><span class="fr-icon-close-line" aria-hidden="true"></span> Refusé</span>
            {% endif %}
        {% endif %}
    </div>
    {% if signalement.isLogementVacant %}
        <div class="fr-ml-3v fr-mb-5v">
            <span class="fr-badge fr-badge--warning">Logement vacant</span>
        </div>  
    {% endif %}
</div>