{% set columns = [
    { class: 'fr-col-md-3', title: 'Nbr. relances' },
    { class: 'fr-col-md-3', title: 'Référence' },
    { class: 'fr-col-md-2', title: 'Première relance le' },
    { class: 'fr-col-md-3', title: 'Dernier suivi partagé à l\'usager' },
] %}
<section class="fr-mb-5v">
    <header class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-9">
            <h3 class="fr-text-label--blue-france tab-panel-title-with-information-icon">Dossiers avec au moins 3 relances usager restées sans réponse ({{ count }})</h3>
        </div>
        <div class="fr-select-group fr-col-12 fr-col-md-3">
            <label class="fr-label" for="orderType">
                Trier par
            </label>
            <select id="orderType" name="orderType" class="fr-select">
                <option value="p.nom-ASC" selected="selected">Date la plus récente (du plus récent au plus ancien) = tri par défaut</option>
                <option value="p.nom-DESC">Date la plus ancienne (de la plus ancienne à la plus récente)</option>
                <option value="p.id-ASC">Ordre alphabétique (A > Z) = sur le nom associé au dossier</option>
                <option value="p.id-DESC">Ordre alphabétique (Z > A)</option>
            </select>
        </div>
    </header>
    <hr class="hr--blue-france">
    <section class="fr-container--fluid">
        {% for item in items %}
            {% set declarantInfo = item.reference ~ ' - ' ~ item.nomDeclarant|upper ~ ' ' ~ item.prenomDeclarant|capitalize %}
            {% include 'back/dashboard/components/_card.html.twig' with {
                data: [
                    '<div><span class="fr-badge fr-badge--no-icon fr-badge--error">' ~ item.nbRelanceDossier  ~ ' JOURS</span></div>',
                    '<div class="fr-text-label--blue-france">
                            <div><strong class="fr-text--lg">' ~ declarantInfo ~ '</strong></div>
                            <div>' ~ item.adresse ~ '</div>
                        </div>',
                    '<div>
                        <span>' ~ item.premiereRelanceDossierAt ~ '</span>
                    </div>',
                    '<div>
                        <strong>' ~ item.dernierSuiviPublicAt ~ '</strong><br>
                        <span>' ~ item.dernierTypeSuivi ~ '<span>
                    </div>'
                ],
                link: item.lien
            } %}
        {% else %}
            <p>Aucun dossier trouvé.</p>
        {% endfor %}
        {% include 'back/dashboard/components/_footer_link.html.twig' %}
    </section>
</section>
