<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-12 fr-pr-10v">
        <h2 class="fr-mb-3v tab-panel-title-with-icon">Dossiers à fermer</h2>
        <p class="fr-mt-1v fr-ml-1v fr-text--lg">Cette page regroupe tous les dossiers susceptibles de pouvoir être
            fermés. Consultez le détail du dossier et fermez-le si nécessaire.</p>
    </div>
</div>
