{% extends 'back/base_bo.html.twig' %}

{% block title %}Ajouter une permission pour {{ user.email }}{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils SA',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Utilisateurs API',
            'level3Link': path('back_api_user_index'),
            'level3Label': 'Retour à la liste des utilisateurs API',
            'level4Title': 'Ajouter une permission API',
            'level4Link': '',
            'level4Label': '',
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <h1 class="fr-mb-0">Ajouter une permission pour {{ user.email }}</h1>
                </div>
            </div>
        </header>

    </section>

    {{ include('back/user_api_permission/_form.html.twig') }}

{% endblock %}
