html, body {
    scroll-behavior: smooth !important;
}

.signalement-invalid {
    position: relative;

    #signalement-toggle-situations, .reopen, .reaffect, .fr-fi-file-pdf-fill, .admin-territory-validation, .signalement-file-item a {
        position: relative;
        z-index: 1002;
    }

    #signalement-toggle-situations {
        z-index: 1001;
    }
}
.fr-border--light {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bloc-suivi-content-row p {
    margin: 0;
}
img.huechange { filter: hue-rotate(120deg); }
.signalement-invalid::before {
    content: '';
    position: absolute;
    z-index: 1000;
    line-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

pre {
    overflow: auto !important;
}

.bloc-suivi-content-row img {
    max-width: 100%;
}


.fr-hover-critere:hover {
    background: rgba(0, 0, 145, 0.15);
}

[aria-expanded="true"] .fr-hover-critere {
    background: rgba(0, 0, 145, 0.15);
}

/*STYLE*/
.fr-w-100 {
    width: 100%;
    justify-content: center;
}

@media (max-width: 48em) {
    .fr-w-100--sm {
        width: 100%;
    }

    .button-group-responsive-inverted {
        .signalement-form-button, .signalement-form-link {
            display: flex;
            width: 100%;
            margin-bottom: 0.75rem;

            button, a {
                width: 100%;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 48em) {
    .button-group-responsive-inverted {
        > div {
            display: flex;
            justify-content: right;
            flex-direction: row-reverse;

            .signalement-form-button, .signalement-form-link {
                display: inline-flex;
                margin-left: 0.25rem;
            }
        }
    }
}

.button-group-full-size {
    width: 100%;
    
    .signalement-form-button, .signalement-form-link {
        display: flex;
        width: 100%;
        margin-bottom: 0.75rem;

        button, a {
            width: 100%;
            justify-content: center;
        }
    }
}

.fr-h-100 {
    height: 100%;
}

.fr-h-75 {
    height: 75%;
}

.fr-mt-inf-3v {
    margin-top: -0.75rem !important;
}

.fr-ws-nowrap {
    white-space: nowrap;
}

.fr-border {
    border: 1px solid #000091;
}

.fr-border--bottom--orange {
    border-bottom: 3px solid #FF9940;
}

.fr-stripped:nth-child(odd) {
    background-color: rgba(191, 204, 251, 0.37);
}

.fr-toggle--parent, .fr-accordion, .toggle-criticite, [role="button"], .fr-list--hover li, .fr-btn, .fr-checkbox-affectation__parent, .fr-checkbox-affectation__parent label {
    cursor: pointer !important;
    user-select: none;
}


.fr-toggle--parent:hover, .fr-accordion__title:hover {
    background-color: var(--background-alt-grey);
}

.toggle-criticite:hover {
    border-radius: .25rem;
    background-color: white;
}

.fr-rounded {
    border-radius: .25rem;
}

legend.required::after, label.required::after {
    color: #F60700;
    content: '*';
    position: relative;
    left: 3px;
}
.fr-fieldset__content .fr-checkbox-group input[type="checkbox"] + label.required::after,
.fr-fieldset__content .fr-radio-group:not(.fr-radio-rich) input[type="radio"] + label.required::after {
    position: absolute;
    left: auto;
    right: -8px;
}

.fr-fieldset.fr-fieldset-fullwidth > * {
    width: 100%;
}

.fr-display-block {
    display: block;
}


.fr-display-inline-flex {
    display: inline-flex !important;
}

.fr-display-inline-table {
    display: inline-table !important;
    display: -moz-inline-table !important;
    .fr-badge.fr-limit-chars {
        display:inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 22ch;
    }
}

@media (max-width: 1250px) {
    .fr-display-inline-table {
        tr {
            display: flex;
            flex-wrap: wrap;
            td {
                flex: 1;
            }
        }
    }
}

.fr-display-block {
    display: block;
}

*, :after, :before {
    box-sizing: inherit;
}

small {
    font-size: smaller;
}

.fr-table {
    td, th {
        line-height: 1rem;
        img {
            max-width: 350px;
        }
    }
}

.fr-list--hover li:hover {
    background-color: white;
}

.fr-list--icon-img {
    list-style: none;
}

.fr-list--icon-img li > img {
    padding-inline-start: .25rem;
}

/*COLOR*/
.fr-background--white {
    background: white;
}

.fr-background--blue-france {
    background-color: var(--border-plain-blue-france);
}

a[href].fr-btn--orange {
    background: #FF9940;
    &:hover {
        background: rgba(255, 153, 64, 0.65);
    }
}

button.fr-btn--danger,a[href].fr-btn--danger {
    background: var(--warning-425-625);
    &:hover {
        background: var(--warning-425-625-hover);
    }
}

.fr-btn.fr-btn--error {
    background: var(--background-action-high-error);
    &:hover {
        background: var(--background-action-high-error-hover);
    }
}

button.fr-btn--success,a[href].fr-btn--success {
    background-color: var(--success-425-625);
    &:hover {
        background-color: var(--success-425-625-hover);
    }
}

.fr-background-contrast--blue-france {
    background-color: var(--background-contrast-blue-france);
}

.fr-background-alt--grey {
    background-color: var(--background-alt-grey);
}

.fr-background-alt--blue-france {
    background-color: var(--background-alt-blue-france);
}

.fr-background-contrast--orange-terre-battue, .fr-table--bordered tbody tr.fr-background-contrast--orange-terre-battue {
    background-color: var(--background-contrast-orange-terre-battue);
}

.fr-text-label--red-marianne {
    color: var(--red-marianne-425-625);
}
.fr-text-label--green-emeraude {
    color: var(--text-label-green-emeraude);
}
.fr-text-default--error {
    color: var(--text-default-error);
}
.fr-text--text-default-warning {
    color: var(--text-default-warning);
}

.fr-puce {
    position: absolute;
    top: calc(50% - .75rem);
    right: 1rem;
    text-align: center;
    min-width: 1.5rem;
    height: 1.5rem;
    max-height: 1.5rem;
    border-radius: 1.5rem;
    padding: 0 .25rem;
    font-size: .75rem;
}

.fr-puce--danger {
    color: white;
    background: #F60700;
}

/*TEXT*/
.fr-text--white {
    color: white;
}

.fr-text--black {
    color: black;
}

.fr-text--orange {
    color: #FF9940;
}

.fr-text-default--info {
    color: var(--text-default-info);
}

.fr-text-label--blue-france {
    color: var(--blue-france-sun-113-625) !important;
}

.fr-text--xx-light {
    font-weight: 100 !important;
}

.fr-text--center {
    text-align: center !important;
}

.fr-text--right {
    text-align: right !important;
}

.fr-text--left {
    text-align: left !important;
}

.fr-sidemenu__btn {
    color: var(--text-default-grey);
}

a.fr-btn.fr-btn--icon-left.fr-fi-file-pdf-fill.ignore-blank-style::before {
    content: "";
}

/*INPUTS*/
.fr-adresse-suggestion:hover {
    background-color: var(--artwork-minor-blue-cumulus);
    color: white !important;
}

.fr-input--no-resize {
    resize: vertical;
}

.toggle-criticite > input[type="radio"] {
    width: 60px;
    height: 50px;
    position: relative;
}

.toggle-criticite > input[type="radio"]::before {
    position: absolute;
    content: '';
    top: 0;
    left: 25%;
    width: 50px;
    height: 50px;
}

.bar-bulle {
    position: relative;
}

.bar-bulle-right:after, .bar-bulle-left:after, .bar-bulle-middle:after {
    content: '';
    position: absolute;
    top: 35%;
    width: 100%;
    height: 5px;
    background-color: white;
}

.bar-bulle-right:after {
    left: 50%;
}

.bar-bulle-middle:after {
    width: 200%;
    left: -50%;
}

.bar-bulle-left:after {
    left: -50%;
}

/*PRELOADER*/
.lds-histologe {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #FF9940;
        animation: lds-histologe 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
    }

    div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
    }

    div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
    }
}

@keyframes lds-histologe {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

h2.home {
    font-weight: lighter;
    font-size: 24px;
    line-height: 32px;
}

#postal_code_search_postalcode {
    background-color: #FFFFFF;
}

label.fr-toggle__label[for="signalement-accept-cgu"] a {
    font-weight: bold;
}

.cgu-bo .title {
    font-size: 1.1em;
}
.cgu table, .cgu-bo table {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
        border: 1px solid black;
    }
}

span.partner_user_last_login_value {
    font-size: 0.9em;
}

a.disabled-link {
    cursor: not-allowed;
    color: var(--text-disabled-grey);

    &:hover {
        background: var(--background-disabled-grey);
    }
}

img.img-mw-100 {
    max-width: 100%;
}

@media (max-width: 767px) {
    .comment-ca-marche {
        img {
            display: none;
        }
    }
}
@media (min-width: 768px) {
    .comment-ca-marche {
        span {
            display: none;
        }
    }
}

div.procedure-items {
    span.fr-icon-success-line {
        color: var(--border-plain-blue-france);
    }
    p {
        margin-top: -30px;
        margin-left: 30px;
    }
}

@media (max-width: 767px) {
    div.fr-table-procedure table {
        thead {
            display: none;
        }
        tbody {
            display: block;
            tr {
                display: flex;
                flex-flow: column;
    
                td {
                    display: block;
    
                    &:nth-child(1) {
                        order: 1;
                    }
                    &:nth-child(2) {
                        order: 3;
                    }
                    &:nth-child(3) {
                        order: 4;
                    }
                    &:nth-child(4) {
                        order: 5;
                    }
                    &:nth-child(5) {
                        order: 6;
                    }
                    &:nth-child(6) {
                        order: 2;
                    }
    
                    strong {
                        line-height: 35px;
                    }
                }
            }
        }
    }
}

table tr.partner-row table {
    max-width: 500px;
}

#notification-selected-buttons form {
    display: inline-block;
}

form.inline-form {
    display: inline;
}

hr.blue-border {
    background-color: var(--background-action-high-blue-france);
    padding-bottom: 2px;
    background-image: none;
    margin-bottom: 1.5rem;
}

.fr-modal a[aria-label="Powered by Tiny"] {
    display: none;
}

.fr-modal .fr-modal__footer {
    z-index: 1;
}

#signalement_dateNaissanceOccupant_day, #signalement_dateNaissanceOccupant_month {
    border-right: 1px solid black;
}

#btn-display-all-suivis {
    position: relative;
    z-index: 1001;
}

.tox-tinymce-aux {
    z-index: 6000 !important;
}

.fr-btn.fr-btn--sm.fr-icon-eye-line:before, .fr-btn.fr-btn--sm.fr-icon-eye-fill:before {
    content: "";
}

a.force-link-color {
    color: var(--text-action-high-blue-france);
}

.fr-a-edit {
    font-size: 0.8rem;
    color: #000091;
}