html, body {
    scroll-behavior: smooth !important;
}

.signalement-invalid {
    position: relative;

    #signalement-toggle-situations,
    .back-link,
    .reopen,
    .reaffect,
    .fr-fi-file-pdf-fill,
    .fr-icon-send-plane-fill,
    .admin-territory-validation,
    .signalement-file-item a {
        position: relative;
        z-index: 1002;
    }

    #signalement-toggle-situations {
        z-index: 1001;
    }
}
.fr-border--light {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.fr-border--left {
    border-left: 2px solid var(--border-action-high-blue-france);
    padding-left: 10px;
}

.bloc-suivi-content-row p {
    margin: 0;
}
img.huechange { filter: hue-rotate(120deg); }
.signalement-invalid::before {
    content: '';
    position: absolute;
    line-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

pre {
    overflow: auto !important;
}

.bloc-suivi-content-row img {
    max-width: 100%;
}

/*STYLE*/
.fr-w-100 {
    width: 100%;
    justify-content: center;
}

@media (max-width: 48em) {
    .fr-w-100--sm {
        width: 100%;
    }

    .button-group-responsive-inverted {
        .signalement-form-button, .signalement-form-link {
            display: flex;
            width: 100%;
            margin-bottom: 0.75rem;

            button, a {
                width: 100%;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 48em) {
    .button-group-responsive-inverted {
        > div {
            display: flex;
            justify-content: right;
            flex-direction: row-reverse;

            .signalement-form-button, .signalement-form-link {
                display: inline-flex;
                margin-left: 0.25rem;
            }
        }
    }
}

.button-group-full-size {
    width: 100%;
    
    .signalement-form-button, .signalement-form-link {
        display: flex;
        width: 100%;
        margin-bottom: 0.75rem;

        button, a {
            width: 100%;
            justify-content: center;
        }
    }
}

.fr-h-100 {
    height: 100%;
}

.fr-h-75 {
    height: 75%;
}

.fr-mt-inf-3v {
    margin-top: -0.75rem !important;
}

.fr-ws-nowrap {
    white-space: nowrap;
}

.fr-border {
    border: 1px solid #000091;
}

.fr-border--bottom--orange {
    border-bottom: 3px solid #FF9940;
}

.fr-stripped:nth-child(odd) {
    background-color: rgba(191, 204, 251, 0.37);
}

.fr-toggle--parent, .fr-accordion, [role="button"], .fr-list--hover li, .fr-btn, .fr-checkbox-affectation__parent, .fr-checkbox-affectation__parent label {
    cursor: pointer !important;
    user-select: none;
}


.fr-toggle--parent:hover, .fr-accordion__title:hover {
    background-color: var(--background-alt-grey);
}

.fr-rounded {
    border-radius: .25rem;
}

legend.required::after, label.required::after {
    color: #F60700;
    content: '*';
    position: relative;
    left: 3px;
}
.fr-fieldset__content .fr-checkbox-group input[type="checkbox"] + label.required::after,
.fr-fieldset__content .fr-radio-group:not(.fr-radio-rich) input[type="radio"] + label.required::after {
    position: absolute;
    left: auto;
    right: -8px;
}

.fr-fieldset.fr-fieldset-fullwidth > * {
    width: 100%;
}

.fr-display-block {
    display: block;
}

.fr-display-inline {
    display: inline;
}

.fr-display-none {
    display: none;
}

.fr-display-inline-flex {
    display: inline-flex !important;
}

.fr-display-inline-table {
    display: inline-table !important;
    display: -moz-inline-table !important;
    .fr-badge.fr-limit-chars {
        display:inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 22ch;
    }
}

@media (max-width: 1250px) {
    .fr-display-inline-table {
        tr {
            display: flex;
            flex-wrap: wrap;
            td {
                flex: 1;
            }
        }
    }
}

.fr-display-block {
    display: block;
}

*, :after, :before {
    box-sizing: inherit;
}

small {
    font-size: smaller;
}

.fr-table {
    td, th {
        line-height: 1rem;
        img {
            max-width: 350px;
        }
    }
}

.fr-list--hover li:hover {
    background-color: white;
}

.fr-list--none {
    list-style: none;  
    padding-left: inherit;
}

.fr-list--icon-img {
    list-style: none;
}

.fr-list--icon-img li > img {
    padding-inline-start: .25rem;
}

.fr-lh-2 {
    line-height: 2rem;
}

/*COLOR*/
.fr-background--white {
    background: white;
}

.fr-background--blue-france {
    background-color: var(--border-plain-blue-france);
}

a[href].fr-btn--orange {
    background: #FF9940;
    &:hover {
        background: rgba(255, 153, 64, 0.65);
    }
}

button.fr-btn--danger,a[href].fr-btn--danger {
    background: var(--warning-425-625);
    &:hover {
        background: var(--warning-425-625-hover);
    }
}

.fr-btn.fr-btn--error {
    background: var(--background-action-high-error);
    &:hover {
        background: var(--background-action-high-error-hover);
    }
}

button.fr-btn--success,a[href].fr-btn--success {
    background-color: var(--success-425-625);
    &:hover {
        background-color: var(--success-425-625-hover);
    }
}

.fr-background-contrast--blue-france {
    background-color: var(--background-contrast-blue-france);
}

.fr-background-alt--grey {
    background-color: var(--background-alt-grey);
}

.fr-background-alt--blue-france {
    background-color: var(--background-alt-blue-france);
}

.fr-background-contrast--orange-terre-battue, .fr-table--bordered tbody tr.fr-background-contrast--orange-terre-battue {
    background-color: var(--background-contrast-orange-terre-battue);
}

.fr-text-label--red-marianne {
    color: var(--red-marianne-425-625);
}
.fr-text-label--green-emeraude {
    color: var(--text-label-green-emeraude);
}
.fr-text-default--error {
    color: var(--text-default-error);
}
.fr-text--text-default-warning {
    color: var(--text-default-warning);
}

.fr-puce {
    position: absolute;
    top: calc(50% - .75rem);
    right: 1rem;
    text-align: center;
    min-width: 1.5rem;
    height: 1.5rem;
    max-height: 1.5rem;
    border-radius: 1.5rem;
    padding: 0 .25rem;
    font-size: .75rem;
}

.fr-puce--danger {
    color: white;
    background: #F60700;
}

/*TEXT*/
.fr-text--white {
    color: white;
}

.fr-text--black {
    color: black;
}

.fr-text--orange {
    color: #FF9940;
}

.fr-text-default--info {
    color: var(--text-default-info);
}

.fr-text-label--blue-france {
    color: var(--blue-france-sun-113-625) !important;
}

.fr-text--xx-light {
    font-weight: 100 !important;
}

.fr-text--center {
    text-align: center !important;
}

.fr-text--right {
    text-align: right !important;
}

.fr-text--left {
    text-align: left !important;
}

.fr-sidemenu__btn {
    color: var(--text-default-grey);
}

a.fr-btn.fr-btn--icon-left.fr-fi-file-pdf-fill.ignore-blank-style::before {
    content: "";
}

/*INPUTS*/
.fr-input--no-resize {
    resize: vertical;
}

.bar-bulle {
    position: relative;
}

.bar-bulle-right:after, .bar-bulle-left:after, .bar-bulle-middle:after {
    content: '';
    position: absolute;
    top: 35%;
    width: 100%;
    height: 5px;
    background-color: white;
}

.bar-bulle-right:after {
    left: 50%;
}

.bar-bulle-middle:after {
    width: 200%;
    left: -50%;
}

.bar-bulle-left:after {
    left: -50%;
}

/*PRELOADER*/
.lds-histologe {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #FF9940;
        animation: lds-histologe 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
    }

    div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
    }

    div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
    }
}

@keyframes lds-histologe {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

h2.home {
    font-weight: lighter;
    font-size: 24px;
    line-height: 32px;
}

#postal_code_search_postalcode {
    background-color: #FFFFFF;
}

label.fr-toggle__label[for="signalement-accept-cgu"] a {
    font-weight: bold;
}

.cgu-bo .title {
    font-size: 1.1em;
}
.cgu table, .cgu-bo table {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
        border: 1px solid black;
    }
}

span.partner_user_last_login_value {
    font-size: 0.9em;
}

a.disabled-link {
    cursor: not-allowed;
    color: var(--text-disabled-grey);

    &:hover {
        background: var(--background-disabled-grey);
    }
}

img.img-mw-100 {
    max-width: 100%;
}

@media (max-width: 767px) {
    .comment-ca-marche {
        img {
            display: none;
        }
    }
}
@media (min-width: 768px) {
    .comment-ca-marche {
        span {
            display: none;
        }
    }
}

div.procedure-items {
    span.fr-icon-success-line {
        color: var(--border-plain-blue-france);
    }
    p {
        margin-top: -30px;
        margin-left: 30px;
    }
}

@media (max-width: 767px) {
    div.fr-table-procedure table {
        thead {
            display: none;
        }
        tbody {
            display: block;
            tr {
                display: flex;
                flex-flow: column;
    
                td {
                    display: block;
    
                    &:nth-child(1) {
                        order: 1;
                    }
                    &:nth-child(2) {
                        order: 3;
                    }
                    &:nth-child(3) {
                        order: 4;
                    }
                    &:nth-child(4) {
                        order: 5;
                    }
                    &:nth-child(5) {
                        order: 6;
                    }
                    &:nth-child(6) {
                        order: 2;
                    }
    
                    strong {
                        line-height: 35px;
                    }
                }
            }
        }
    }
}

table tr.partner-row table {
    max-width: 500px;
}

#notification-selected-buttons form {
    display: inline-block;
}

form.inline-form {
    display: inline;
}

hr.blue-border {
    background-color: var(--background-action-high-blue-france);
    padding-bottom: 2px;
    background-image: none;
    margin-bottom: 1.5rem;
}

.fr-modal a[aria-label="Powered by Tiny"] {
    display: none;
}

.fr-modal .fr-modal__footer {
    z-index: 1;
}

#signalement_dateNaissanceOccupant_day, #signalement_dateNaissanceOccupant_month {
    border-right: 1px solid black;
}

#btn-display-all-suivis {
    position: relative;
    z-index: 1001;
}

.tox-tinymce-aux {
    z-index: 6000 !important;
}

.fr-btn.fr-btn--sm.fr-icon-eye-line:before, .fr-btn.fr-btn--sm.fr-icon-eye-fill:before {
    content: "";
}

a.force-link-color {
    color: var(--text-action-high-blue-france);
}

.fr-a-edit {
    font-size: 0.8rem;
    color: #000091;
}
.text-word-break-all {
    word-break: break-all;
}

.white-space-pre-line {
    white-space: pre-line;
}

.bloc-list .fr-grid-row .fr-grid-row .fr-col-12 {
    padding: 0 0.75rem;
}

div.photos-album {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2999;
    padding: 2rem;
    color: white;

    .photos-album-close-button-container {
        text-align: right;
    }

    .photos-album-navigation-container {
        display: flex;
        height: calc(100% - 4rem);

        > div {
            height: 100%;
        }

        > div:nth-child(1), > div:nth-child(3) {
            display: flex;
            align-items: center;
        }

        div:nth-child(2) {
            flex: 1;

            .photos-album-image-item {
                height: 100%;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                
                div {
                    justify-content: center;
                    text-align: center;
                }
    
                div:nth-child(1) {
                    height: 4rem;
                }
                div:nth-child(2) {
                    flex: 1;
                    height: calc(100% - 12rem - 40px);

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                div:nth-child(3) {
                    height: 4rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
.modal-upload-upload-container{
    text-align: center;
}
.modal-upload-upload-container input{
    display: none;
}
.modal-upload-drop-section {
    border: 1px dashed #929292;
    font-size: 1.4rem;
    padding: 4rem 0;
    margin: .5rem 0;
    font-weight: bold;
}
.modal-upload-drop-section.drag-over-effect {
    border: 2px dashed #929292;
    color: #929292;
}
.modal-upload-list-section{
    font-weight: lighter;
    .file-name{
        font-weight: bold;
    } 
    .file-progress{
        width: 100%;
        height: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: #e5e5e5;
    }   
    .file-progress span{
        display: block;
        width: 0%;
        height: 100%;
        background: #6A6AF4;
    }
    .file-size{
        display: flex;
        justify-content: space-between;
    }
}

ul.fr-autocomplete-list {
  list-style-type: none;
}

.fr-autocomplete-suggestion:hover,
.fr-adresse-suggestion:hover {
    background-color: var(--artwork-minor-blue-cumulus);
    color: white !important;
}
.fr-address-group,
.fr-address-group-bo,
.fr-autocomplete-list {
    cursor: pointer;
}
.fr-address-group {
  margin-top: -1.5rem;
}
.fr-address-group-container {
    position: relative;
    .fr-address-group {
        position: absolute;
        width: 100%;
    }
}
.fr-input:not([type="radio"]):read-only {
    box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
    color: var(--text-disabled-grey);
    cursor: not-allowed;
    &:focus{
        outline-style: none;
    }
}

.fr-autocomplete-suggestion-highlighted {
  background-color: #417dc4;
  color: white !important;
}

p + ul {
    margin-top: -1rem;
}
ul + p {
    margin-top: 1.5rem;
}

.faq-redirection {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    a {
        border-radius: 50%;
    }
}
.logo-width {
    width: 3.5rem;
}
.logo-height {
    height: 5.625rem;
}

#tags_active_container, #tags_inactive_container{
    .fr-badge{cursor: pointer;}
}


@media (min-width: 992px) {
    .text-align-right--lg {
        text-align: right;
    }
}

.message-box{
    margin-top: 1rem;
    .message-box-message{
        background: #E5E5E5;
        padding: 1rem;
    }
}
.message-box.message-box--usager{ 
    text-align: right;
    .message-box-message{
        background: #ececfe;
    }
    ul{
        list-style-position: inside;
    }
}

a.photo-preview {
    margin: 0.25rem;
    margin-left: 0;
    display: inline-block;
    background-image: none;
    img {
        max-width: 100px;
    }
    &::after {
        mask-image: none;
        width: 0;
    }
}