<hr class="fr-mt-3w">

<div class="fr-grid-row">
    <div class="fr-col-9 fr-col-md-6">
        <h3 class="fr-h5">Informations</h3>
    </div>
    <div class="fr-col-3 fr-col-md-6 fr-text--right">
        <button class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-fi-file-pdf-line" data-fr-opened="false" id="modal-dpe-opener" aria-controls="modal-dpe"
                data-dpe-url="https://koumoul.com/data-fair/api/v1/datasets/dpe-france/values_agg?field=code_insee_commune_actualise&format=json&agg_size=20&q_mode=simple&geo_adresse_in={{ (signalement.adresseOccupant~' '~signalement.cpOccupant~' '~signalement.villeOccupant)|replace({'  ':' '})|url_encode }}&size=100&select=%2A&sampling=neighbors">
            Consulter le(s) DPE
        </button>
    </div>
</div>

<div class="bloc-list fr-container--fluid text-word-break-all" data-ajax-form>
    <div class="fr-grid-row fr-grid-row--gutters">
        {% if signalement.isNotOccupant %}
        <div class="fr-col-12 fr-col-md-6 fr-mb-1v fr-lh-2">
            <div class="fr-p-3v fr-background-alt--grey">
            {% include 'back/signalement/view/information/information-tiers.html.twig' %}
            </div>
        </div>
        {% endif %}

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v fr-lh-2">
            <div class="fr-p-3v fr-background-alt--grey">
            {% include 'back/signalement/view/information/information-foyer.html.twig' %}
            </div>
        </div>

        {% if not signalement.profileDeclarant or (signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT 
        and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR) %}
           <div class="fr-col-12 fr-col-md-6 fr-mb-1v fr-lh-2">
                <div class="fr-p-3v fr-background-alt--grey">
                    {% include 'back/signalement/view/information/information-bailleur.html.twig' %}
                </div>
            </div>
        {% endif %}

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v fr-lh-2">
            <div class="fr-p-3v fr-background-alt--grey">
                {% include 'back/signalement/view/information/information-logement.html.twig' %}
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v fr-lh-2">
            <div class="fr-p-3v fr-background-alt--grey">
            {% include 'back/signalement/view/information/information-composition.html.twig' %}
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v fr-lh-2">
            <div class="fr-p-3v fr-background-alt--grey">
                {% include 'back/signalement/view/information/information-situation-foyer.html.twig' %}
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v fr-lh-2">
            <div class="fr-p-3v fr-background-alt--grey">
                {% include 'back/signalement/view/information/information-procedure.html.twig' %}
            </div>
        </div>
    </div>
</div>
