<div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="Informations du signalement">
        <li role="presentation">
            <button id="tabpanel-activite" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="0" role="tab"
                {% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION or canAnswerAffectation %}aria-selected="false"{% else %}aria-selected="true"{% endif %}
                aria-controls="tabpanel-activite-panel">Activité PDLHI ({{ signalement.suivis|length }})</button>
        </li>
        <li role="presentation">
            <button id="tabpanel-situation" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="-1" role="tab"
                {% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION or canAnswerAffectation %}aria-selected="true"{% else %}aria-selected="false"{% endif %}
                aria-controls="tabpanel-situation-panel">Situation</button>
        </li>
        <li role="presentation">
            <button id="tabpanel-foyer" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-foyer-panel">Foyer</button>
        </li>
        <li role="presentation">
            <button id="tabpanel-documents" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-documents-panel">Documents</button>
        </li>
    </ul>
    <div id="tabpanel-activite-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-activite" tabindex="0">
        {% include 'back/signalement/view/tabs/tab-activite.html.twig' %}
    </div>
    <div id="tabpanel-situation-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-situation" tabindex="0">
        {% include 'back/signalement/view/tabs/tab-situation.html.twig' %}
    </div>
    <div id="tabpanel-foyer-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-foyer" tabindex="0">
        {% include 'back/signalement/view/tabs/tab-foyer.html.twig' %}
    </div>
    <div id="tabpanel-documents-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-documents" tabindex="0">
        {% include 'back/signalement/view/tabs/tab-documents.html.twig' %}
    </div>
</div>