{% if canEditSignalement %}
    <a class="fr-btn--icon-left fr-a-edit fr-icon-bookmark-line fr-ml-2v" id="tags_select_tooltip_btn" href="#"
        data-fr-opened="false" aria-controls="fr-modal-etiquettes">Gérer les étiquettes</a>
</button>
    <div>
        <div class="fr-my-3v">
            {% for tag in signalement.tags %}
                <span class="fr-badge fr-badge--blue-ecume fr-mr-1v">{{ tag.label }}</span>
            {% else %}
                <em class="fr-text-default--warning fr-fi-close-line fr-icon--xs">
                    <small>Aucune étiquette attribuée à ce signalement.</small>
                </em>
            {% endfor %}
        </div>
    </div>
{% endif %}

<dialog aria-labelledby="fr-modal-title-modal-etiquettes" role="dialog" id="fr-modal-etiquettes" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-etiquettes">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-etiquettes" class="fr-modal__title">
                            <span class="fr-icon-arrow-right-line fr-icon--lg"></span>Gérer les étiquettes du signalement
                        </h1>
                        <p>
                            Sélectionnez les étiquettes à attribuer au signalement dans la liste déroulante.
                            <br>
                            Cliquez sur une étiquette pour la retirer du signalement.
                        </p>
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-6">
                                <h2 class="fr-h5">Sélectionner les étiquettes</h2>
                                <div class="fr-my-3v">
                                </div>
                            </div>
                            <div class="fr-col-6">
                                <h2 class="fr-h5">Etiquettes du signalement</h2>
                                <div class="fr-my-3v">
                                    {% for tag in signalement.tags %}
                                        <span class="fr-badge fr-badge--blue-ecume fr-mr-1v">{{ tag.label }}</span>
                                    {% else %}
                                        <em class="fr-text-default--warning fr-fi-close-line fr-icon--xs">
                                            <small>Aucune étiquette attribuée à ce signalement.</small>
                                        </em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>