<div class="fr-col-6 fr-col-sm-4 fr-col-md-6 fr-col-lg-4 fr-col-xl-3 fr-rounded signalement-file-item">
    <div class="fr-px-5w fr-py-8w fr-rounded fr-border fr-text--center part-infos-hover"
        data-user="{{ photo.uploadedBy.nomComplet ?? 'N/R' }}"
        data-mail="{{ photo.createdAt is defined ? photo.createdAt|date('d.m.Y') : 'N/R' }}"
        style="background: url('{{ asset('_up/'~photo.filename~'/'~signalement.uuid~'?variant=thumb') }}')no-repeat center center/cover">
        <button class="fr-btn fr-btn--sm fr-icon-eye-line open-photo-album" data-id={{ photo.id }} title="Voir la photo"></button>
    </div>
</div>