<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6">
        <h4 class="fr-h6">Désordres logement</h4>
        <div class="fr-accordions-group">
            {% if situations[enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] is defined %}
                {% set zone = 'logement' %}
                {% for situation,criteres in situations[enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] %}
                    {% include 'back/signalement/view/user-declaration-desordre-item.html.twig' %}
                {% endfor %}
            {% else %}
               <i>Aucun désordre signalé dans le logement</i>
            {% endif %}
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
        <h4 class="fr-h6">Désordres bâtiment</h4>
        <div class="fr-accordions-group">
            {% if situations[enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] is defined %}
                {% set zone = 'batiment' %}
                {% for situation,criteres in situations[enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] %}
                    {% include 'back/signalement/view/user-declaration-desordre-item.html.twig' %}
                {% endfor %}
            {% else %}
               <i>Aucun désordre signalé dans le bâtiment</i>
            {% endif %}
        </div>
    </div>
</div>

<div class="fr-grid-row fr-mt-5w">
    <div class="fr-col-12">
        <h4 class="fr-h6">Commentaire de l'usager</h4>
        <div class="fr-background-alt--blue-france fr-p-5v">
            {{ signalement.details|nl2br }}
        </div>
    </div>
</div>