{% if createdFromDraft %}
    <hr class="fr-mt-3w blue-border">

    <h3 class="fr-text--center fr-text-label--blue-france">Déclaration usager</h3>
    <div class=" fr-text--center">Criticité du signalement : {{ signalement.score|round(2) }} %</div>
    <div class=" fr-text--center">(Score logement : {{ signalement.scoreLogement|round(2) }} % - Score bâtiment : {{ signalement.scoreBatiment|round(2) }} %)</div>
    <div class=" fr-text--center"><a href="https://documentation.histologe.beta.gouv.fr/partenaires/premiers-pas-sur-histologe/presentation-de-linterface#score-de-criticite-et-prequalification-comment-ca-marche" target="_blank" rel="noreferrer noopener">En savoir plus</a></div>

    <div class="fr-mt-5w">
        {% include 'back/signalement/view/user-declaration-desordre-list.html.twig' %}
    </div>

{% else %}
    <hr class="fr-mt-3w">
    
    <h3 class="fr-h5">Déclaration usager</h3>

    {% include 'back/signalement/view/user-declaration-situations.html.twig' %}
{% endif %}