{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    <main class="fr-container--fluid">
        <header class="fr-background-contrast--blue-france fr-py-1v">
            {% include "breadcrumbs.html.twig" with { 'breadcrumbsLabel': 'Qui sommes-nous ?' } %}
            <div class="fr-container fr-grid-row fr-grid-row--middle">
                <div class="fr-col-12">
                    <h1>Qui sommes-nous ?</h1>
                    <p>
                        {{ platform.name }} est un service public permettant de faciliter la détection, le signalement,
                        l’évaluation, l’envoi d’alertes et le suivi des logements pour accélérer la prise en charge du
                        “mal logement”.
                    </p>
                    <p>
                        {{ platform.name }} est une start-up d’Etat portée par le 
                        <a href="https://www.ecologie.gouv.fr/" title="Ministère de la Transition Ecologique - ouvre une nouvelle fenêtre" target="_blank" rel="noopener external"
                            >Ministère de la Transition Ecologique</a>
                        et de la Cohésion des territoires et accompagnée par le dispositif
                        <a href="https://beta.gouv.fr" title="beta.gouv.fr - ouvre une nouvelle fenêtre" target="_blank" rel="noopener external"
                            >Beta.gouv.fr</a>.
                        <br>
                        Après une expérimentation réussie, la plateforme est aujourd'hui déployée sur plus de la moitié du territoire
                        en France métropolitaine et dans les départements d'outre-mer.
                    </p>
                </div>
            </div>
        </header>

        <div class="fr-container">
            <scatter-chart
    x="[[1, 5, 8], [1, 2, 15]]"
    y="[[30, 10, 20], [10, 20, 30]]"
></scatter-chart>

<br><br>

            <map-chart 
                data='{"01": 72, "02": 83, "03": 67, "04": 36, "05": 47, "06": 96, "07": 77, "08": 75, "09": 57, "10": 58, "11": 38,"12": 33, "13": 89, "14": 24, "15": 52, "16": 41, "17": 79, "18": 38, "19": 42, "21": 25, "22": 26,"23": 37, "24": 65, "25": 88, "26": 48, "27": 61, "28": 80, "29": 12, "30": 6, "31": 5, "32": 22, "33": 40,"34": 19, "35": 13, "36": 32, "37": 0, "38": 82, "39": 13, "40": 78, "41": 92, "42": 10, "43": 22, "44": 70,"45": 85, "46": 58, "47": 72, "48": 61, "49": 27, "50": 47, "51": 41, "52": 44, "53": 29, "54": 22, "55": 4,"56": 57, "57": 94, "58": 46, "59": 33, "60": 0, "61": 15, "62": 60, "63": 71, "64": 0, "65": 91, "66": 51,"67": 56, "68": 19, "69": 44, "70": 92, "71": 96, "72": 51, "73": 32, "74": 19, "75": 96, "76": 91, "77": 21,"78": 48, "79": 72, "80": 52, "81": 48, "82": 57, "83": 38, "84": 23, "85": 46, "86": 37, "87": 64, "88": 78,"89": 100, "90": 85, "91": 87, "92": 46, "93": 89, "94": 18, "95": 72, "971": 48, "972": 28, "973": 35,"974": 70, "976": 38, "2A": 63, "2B": "16"}'
                valuenat="10"
                name="Nom de l'indicateur"
                level="dep"
                date="19/12/12"
                >
            </map-chart>
        </div>
        
        <div class="fr-container">
            <h2 class="fr-mt-5w">Une solution reconnue</h2>

            <div class="fr-grid-row fr-py-5w">
                <div class="fr-col-12 fr-col-md-6 fr-p-1v">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-4 fr-col-md-3">
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-8 fr-col-md-9">
                            <p>
                                <strong>Lauréat du label Territoire Innovant (interconnectés 2021)</strong>
                                <br>
                                Le label « Territoire Innovant » est décerné aux collectivités qui ont mis en
                                œuvre des initiatives marquantes en termes d’usages ou de services, ce label se
                                différencie en reposant sur des valeurs comme critères d’attribution.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-p-1v">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-4 fr-col-md-3">
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-8 fr-col-md-9">
                            <p>
                                <strong>Lauréat National de Stop Exclusion énergétique</strong>
                                <br>
                                Ce prix récompense les solutions qui améliorent la qualité des
                                logements des précaires (énergétique ou sanitaire).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-p-1v">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-4 fr-col-md-3">
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-8 fr-col-md-9">
                            <p>
                                <strong>Prix Territorial 2020 de la Gazette des Communes</strong>
                                <br>
                                Ce prix récompense les projets locaux impliquant plusieurs métiers et services.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-p-1v">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-4 fr-col-md-3">
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/build/dsfr/artwork/pictograms/system/success.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-8 fr-col-md-9">
                            <p>
                                <strong>Prix de la grande enquête Initiatives Locales 2020</strong>
                                <br>
                                {{ platform.name }} a été primé dans la catégorie "Cadre de vie"
                                parmi plus de 400 candidatures.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
