{# <style>
    <!--

    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 8.0pt;
        margin-left: 0cm;
        line-height: 107%;
        font-size: 14.0pt;
        font-family: "Calibri", sans-serif;
    }

    h1 {
        mso-style-link: "Titre 1 Car";
        margin-top: 12.0pt;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 0cm;
        line-height: 107%;
        page-break-after: avoid;
        font-size: 16.0pt;
        font-family: "Calibri Light", sans-serif;
        color: #2F5496;
        font-weight: normal;
    }

    a:link, span.MsoHyperlink {
        color: #0563C1;
        text-decoration: underline;
    }

    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 8.0pt;
        margin-left: 36.0pt;
        line-height: 107%;
        font-size: 14.0pt;
        font-family: "Calibri", sans-serif;
    }

    p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        line-height: 107%;
        font-size: 14.0pt;
        font-family: "Calibri", sans-serif;
    }

    p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36.0pt;
        line-height: 107%;
        font-size: 14.0pt;
        font-family: "Calibri", sans-serif;
    }

    p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 8.0pt;
        margin-left: 36.0pt;
        line-height: 107%;
        font-size: 14.0pt;
        font-family: "Calibri", sans-serif;
    }

    span.Titre1Car {
        mso-style-name: "Titre 1 Car";
        mso-style-link: "Titre 1";
        font-family: "Calibri Light", sans-serif;
        color: #2F5496;
    }

    .MsoChpDefault {
        font-family: "Calibri", sans-serif;
    }

    .MsoPapDefault {
        margin-bottom: 8.0pt;
        line-height: 107%;
    }

    @page WordSection1 {
        size: 595.3pt 841.9pt;
        margin: 72.0pt 72.0pt 72.0pt 72.0pt;
    }

    div.WordSection1 {
        page: WordSection1;
    }

    /* List Definitions */
    ol {
        margin-bottom: 0cm;
    }

    ul {
        margin-bottom: 0cm;
    }

    -->
</style> #}
{% extends 'base.html.twig' %}
{% block body %}
    <main class="fr-container fr-py-5w fr-py-md-10w">
        <section class=WordSection1>

            <h1><b><span style='font-size:14.0pt;line-height:107%;font-family:"Calibri",sans-serif;
color:black'>Conditions d’utilisation du site Histologe</span></b></h1>

            <p class=MsoNormal><span style='color:black'>Les présentes conditions générales
d’utilisation (dites « CGU ») fixent le cadre juridique du site “Histologe” et
définissent les conditions d’accès et d’utilisation des services par
l’Utilisateur.</span></p>

            <p class=MsoNormal><b><span style='color:black'>1 - Champ d’application</span></b></p>

            <p class=MsoNormal><span style='color:black'>Le site est d’accès et
d’utilisation libre, facultatif et gratuit à tout Utilisateur. La demande
d’inscription aux services du site suppose l’acceptation par tout Utilisateur
des présentes conditions générales d’utilisation.</span></p>

            <p class=MsoNormal><b><span style='color:black'>2 - Objet</span></b></p>

            <p class=MsoNormal><span style='color:black'>Histologe a pour objectif de
permettre aux habitants de logements de repérer et de signaler les problèmes
d’habitats, et d’accélérer l’apport de solutions à ces problèmes.</span></p>

            <p class=MsoNormal><span style='color:black'>Il vise notamment à mesurer la
criticité d’un signalement concernant son logement. La mesure de cette
criticité, établie comme une classe d’étiquette énergie, permettra d’identifier
facilement les actions à mettre en œuvre ainsi que leur degré de criticité.</span></p>

            <p class=MsoNormal><b><span style='color:black'>3 – Définitions</span></b></p>

            <p class=MsoNormal><i><span style='color:black'>« L’Utilisateur »</span></i><span
                        style='color:black'> est la personne habitant un logement privé ou public qui
signale un problème lié à son habitat.</span><br>
                <span style='color:black'>« L’Administrateur » est la personne travaillant dans la
structure (collectivité territoriale ou services de l’Etat) ayant conventionné avec Histologe et habilitée à hiérarchiser les signalements et les transférer aux
partners pour traitement des désordres.</span><br>
                <span style='color:black'>« Les partners » sont les autres services
de l’Etat, les collectivités territoriales, les opérateurs et les entreprises auxquels sont transmis les signalements et qui pourront intervenir
dans leurs champs de compétence.</span><br>
                <span style='color:black'>« Les services » sont les moyens offerts par
Histologe pour répondre à son objet et ses finalités.</span><br>
                <span style='color:black'>« Le responsable de traitement » est la personne qui,
au sens de l’article 4 du règlement UE) n°2016/679 du Parlement européen et du
Conseil du 27 avril 2016 relatif à la protection des personnes physiques à
l’égard du traitement des données à caractère personnel et à la libre
circulation de ces données détermine les finalités et les moyens des
traitements de données à caractère personnel.<br>
“L’éditeur” est la startup d’Etat Histologe.</span></p>

            <p class=MsoNormal><b><span style='color:black'>4- Fonctionnalités</span></b></p>

            <p class=MsoNormal><i><span style='color:black'>4.1 Signalement des problèmes
liés à son habitat</span></i></p>

            <p class=MsoNormal><span style='color:black'>Chaque utilisateur peut signaler
un problème lié à son habitat dégradé.</span><br>
                <span style='color:black'>Il devra :</span></p>

            <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Sélectionner un type de problème</span><br>
                <span style='color:black'>Le site propose une liste de types de problèmes (ex :
plomberie, humidité, électricité etc.) et chaque utilisateur devra en
sélectionner au minimum un ou plusieurs.</span></p>

            <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Décrire avec précision le problème et
sa gravité</span><br>
                <span style='color:black'>Une fois la sélection réalisée, l’utilisateur va
décrire avec précision le problème et préciser la gravité selon des critères
(moyennement grave, grave, très grave).</span></p>

            <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Remplir le questionnaire d’information
du logement</span><br>
                <span style='color:black'>L’Utilisateur devra remplir un questionnaire
permettant de mesurer la criticité du signalement. Il devra y adjoindre des
photos qui serviront au calcul.</span></p>

            <p class=MsoNormal><i><span style='color:black'>4.2 Calcul de la criticité et
transfert du signalement aux partners concernés</span></i></p>

            <p class=MsoNormal><span style='color:black'>L'Administrateur ou l’Agent vérifie la criticité du
signalement en fonction des informations fournies par l’Utilisateur et
notamment :</span></p>

            <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>la dangerosité du signalement</span></p>

            <p class=MsoListParagraphCxSpMiddle style='margin-bottom:0cm;text-indent:-18.0pt'><span
                        style='font-family:Symbol;color:black'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>le nombre d’occupants</span></p>

            <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>la date de construction de l’immeuble</span></p>

            <p class=MsoNormal><span style='color:black'>Une fois la criticité déterminée,
l'Administrateur ou l’Agent détermine le ou les partners ou services compétents. Il transfère
par mail au partner ou service compétent :</span></p>

            <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>l’ensemble du signalement réalisé par
l’Utilisateur,</span></p>

            <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>l’évaluation de la criticité du
signalement.</span></p>

            <p class=MsoNormal><span style='color:black'>L’Utilisateur est informé par courriel
de cet envoi.</span></p>

            <p class=MsoNormal><i><span style='color:black'>A- Importer des pièces justificatives
relatives au signalement</span></i></p>

            <p class=MsoNormal><span style='color:black'>L’Utilisateur peut importer des
photos permettant de mettre à jour le signalement lorsqu’une aggravation de la
situation s’est produite.  Ces photos doivent concerner la situation décrite
par le demandeur.</span></p>

            <p class=MsoNormal><span style='color:black'>&nbsp;</span></p>

            <p class=MsoNormal><b><span style='color:black'>5 – Responsabilités</span></b></p>

            <p class=MsoNormal><i><span style='color:black'>5.1 L’éditeur du site «
Histologe »</span></i></p>

            <p class=MsoNormal><span style='color:black'>Les sources des informations
diffusées sur le site sont réputées fiables mais le site ne garantit pas qu’il
soit exempt de défauts, d’erreurs ou d’omissions.</span></p>

            <p class=MsoNormal><span style='color:black'>L’éditeur s’autorise à suspendre
ou révoquer un compte et toutes les actions réalisées par ce biais, s’il estime
que l’usage réalisé du service porte préjudice à son image ou ne correspond pas
aux exigences de sécurité.</span></p>

            <p class=MsoNormal><span style='color:black'>L’éditeur fournit les moyens
nécessaires et raisonnables pour assurer un accès continu, sans contrepartie
financière, au site. Il se réserve la liberté de faire évoluer, de modifier ou
de suspendre, sans préavis, la plateforme pour des raisons de maintenance ou
pour tout autre motif jugé nécessaire.</span></p>

            <p class=MsoNormal><i><span style='color:black'>5.2 L'Administrateur ou l'Agent</span></i></p>

            <p class=MsoNormal><span style='color:black'>L'Administrateur ou l’Agent s’assure de garder son mot
de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme,
est interdite. Il assume les risques liés à l’utilisation de son identifiant et
mot de passe.</span></p>

            <p class=MsoNormal><span style='color:black'>Toute information transmise par l'Administrateur ou l’Agent
est de sa seule responsabilité. Il est rappelé que toute personne procédant à
une fausse déclaration pour elle-même ou pour autrui s’expose à des sanctions.</span></p>

            <p class=MsoNormal style='text-align:justify'><span style='color:black'>L'Administrateur ou l’Agent
s’engage à ne pas mettre en ligne de contenus ou informations contraires aux
dispositions légales et réglementaires en vigueur. Toute contenu contraire à
l’utilisation du site ou aux dispositions légales et réglementaires en vigueur
sera supprimé, sans préavis.</span></p>

            <p class=MsoNormal><i><span style='color:black'>5.3 L’Utilisateur</span></i></p>

            <p class=MsoNormal><span style='color:black'>Toute information transmise par l’Utilisateur
est de sa seule responsabilité. Il est rappelé que toute personne procédant à
une fausse déclaration pour elle-même ou pour autrui s’expose à des sanctions.</span></p>

            <p class=MsoNormal style='text-align:justify'><span style='color:black'>l’Utilisateur
s’engage à ne pas mettre en ligne de contenus ou informations contraires aux
dispositions légales et réglementaires en vigueur. Toute contenu contraire à
l’utilisation du site ou aux dispositions légales et réglementaires en vigueur
sera supprimé, sans préavis.</span></p>

            <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

            <p class=MsoNormal><b><span style='color:black'>6 - Protection des données à
caractère personnel</span></b></p>

            <p class=MsoNormal><i><span style='color:black'>6.1 Responsable de traitement</span></i></p>

            <p class=MsoNormal><span
                        style='color:black'>Le responsable de traitement est  <b>{{ config.get ? config.get.nomDpo }}</b>.</span>
            </p>

            <p class=MsoNormal><i><span style='color:black'>6.2 Données personnelles
traitées</span></i></p>

            <p class=MsoNormal><span style='color:black'>La présente Plateforme traite les
données personnelles des utilisateurs suivantes :</span></p>

            <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Données relatives au signalement du
problème d’habitat (nom, prénom, adresse-email, adresse du logement, taille du
logement, désordres signalés, photos)</span></p>

            <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Données de création de compte et
relatives au suivi du signalement du problème d’habitat (nom, prénom, adresse
e-mail, suivi du problème d’habitat)</span></p>

            <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Données de connexion (Identifiants de
connexion, nature des opérations, date et heure de l’opération) ;</span></p>

            <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'><span
                        style='font-family:Symbol;color:black'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Cookies nécessaires au fonctionnement
de la plateforme.</span></p>

            <p class=MsoNormal><i><span style='color:black'>6.3 Finalités des traitements</span></i></p>

            <p class=MsoNormal><span style='color:black'>Le site peut collecter des données
à caractère personnel pour mesurer la criticité d’un signalement concernant un
logement. La mesure de cette criticité, établie comme une classe d’étiquette
énergie, permettra d’identifier plus facilement les actions à mettre en œuvre.</span></p>

            <p class=MsoNormal><span style='color:black'>Ses finalités visent à :</span></p>

            <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>signaler et suivre les problèmes liés à
son habitat</span></p>

            <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>repérer les habitats et immeubles
nécessitant des travaux de manière urgente</span></p>

            <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>garantir et améliorer la coopération
avec les services d’hygiènes et de sécurité</span></p>

            <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>proposer un suivi statistique anonymisé
des problématiques rencontrés sur le territoire</span></p>

            <p class=MsoNormal><i><span style='color:black'>6.4 Bases juridiques des
traitements de données</span></i></p>

            <p class=MsoNormal><i><span style='color:black'>A – Base juridique du
traitement concernant les données à caractère personnel relatives au
signalement du problème d’habitat</span></i></p>

            <p class=MsoNormal><span style='color:black'>Le traitement de données à
caractère personnel est nécessaire à l’exécution d’une mission d’intérêt
public.</span></p>

            <p class=MsoNormal><i><span style='color:black'>B – Base juridique du
traitement concernant les données de création de compte et relatives au suivi
du signalement du problème d’habitat</span></i></p>

            <p class=MsoNormal><span style='color:black'>Le traitement de données à
caractère personnel est nécessaire à l’exécution d’une mission d’intérêt
public.</span></p>

            <p class=MsoNormal><i><span style='color:black'>C – Base juridique du
traitement concernant les données de connexion</span></i></p>

            <p class=MsoNormal><span style='color:black'>Le traitement de données à
caractère personnel est nécessaire au respect d’une obligation légale à
laquelle le responsable du traitement est soumis.</span></p>

            <p class=MsoNormal><span style='color:black'>Le fondement de cette obligation
légale est le décret n°2011-219 du 25 février 2011.</span></p>

            <p class=MsoNormal><i><span style='color:black'>6.5 Durée de conservation des
traitements de données</span></i></p>

            <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
                   style='border-collapse:collapse;border:none'>
                <tr>
                    <td width=301 style='width:225.4pt;border:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal align=center style='margin-bottom:0cm;text-align:center;
  line-height:normal'><b>Données</b></p>
                    </td>
                    <td width=301 style='width:225.4pt;border:solid black 1.0pt;border-left:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal align=center style='margin-bottom:0cm;text-align:center;
  line-height:normal'><b>Durée de conservation</b></p>
                    </td>
                </tr>
                <tr>
                    <td width=301 style='width:225.4pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>Données
                            relatives au signalement du problème d’habitat</p>
                    </td>
                    <td width=301 style='width:225.4pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>5 ans à
                            compter de la fin de la prise en charge du problème d’habitat par le
                            partner. Histologe utilise ces données pour détecter des signalements sur
                            une même adresse.</p>
                    </td>
                </tr>
                <tr>
                    <td width=301 style='width:225.4pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>Données de
                            création de compte et relatives au suivi du problème d’habitat</p>
                    </td>
                    <td width=301 style='width:225.4pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>2 ans à
                            compter de la suppression du compte</p>
                    </td>
                </tr>
                <tr>
                    <td width=301 style='width:225.4pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>Données de
                            connexion</p>
                    </td>
                    <td width=301 style='width:225.4pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>1 an</p>
                    </td>
                </tr>
                <tr>
                    <td width=301 style='width:225.4pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>Cookies</p>
                    </td>
                    <td width=301 style='width:225.4pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>13 mois ou
                            jusqu’au retrait du consentement de la personne concernée</p>
                    </td>
                </tr>
            </table>

            <p class=MsoNormal><i><span style='color:black'>&nbsp;</span></i></p>

            <p class=MsoNormal><i><span style='color:black'>6.6 Sécurité et confidentialité</span></i></p>

            <p class=MsoNormal><span style='color:black'>Toutes les mesures techniques et
organisationnelles de sécurité sont adoptées et mises à jour pour assurer la
confidentialité, l’intégrité et protéger l’accès aux données</span></p>

            <p class=MsoNormal><i><span style='color:black'>6.7 Droits des personnes
concernées</span></i></p>

            <p class=MsoNormal><span style='color:black'>En vertu de l’article 13 du
règlement (UE) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016
relatif à la protection des personnes physiques à l’égard du traitement des
données à caractère personnel et à la libre circulation de ces données, il est
rappelé à chaque utilisateur dont les données sont collectées dans le cadre de
l’utilisation ou de la connexion d’Histologe, qu’il dispose des droits suivants
concernant ses données à caractère personnel :</span></p>

            <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Droit d’information ;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Droit d’accès aux données ;</span></p>

            <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Droit de rectification  ;</span></p>

            <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'><span
                        style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='color:black'>Droit au retrait du consentement en
matière de cookies uniquement.</span></p>

            <p class=MsoNormal><span style='color:black'>Vous pouvez exercer ces droits en
écrivant</span></p>

            <p class=MsoNormal><b><i><span style='color:black'>par mail</span></i></b><span
                        style='color:black'> à <b>{{ config.get ? config.get.mailDpo }}</b></span></p>

            <p class=MsoNormal><span style='color:black'>ou <b><i>par courrier</i></b></span></p>

            <p class=MsoNormal><b>{{ config.get ? config.get.adresseDpo }}</b></p>

            <p class=MsoNormal><span style='color:black'>En raison de l’obligation de
sécurité et de confidentialité dans le traitement des données à caractère
personnel qui incombe au responsable de traitement, votre demande ne sera
traitée que si vous rapportez la preuve de votre identité. Pour vous aider dans
votre démarche, vous trouverez ici </span><a
                        href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a><span
                        style='color:black'>, un modèle de courrier élaboré par la CNIL.</span></p>

            <p class=MsoNormal><span style='color:black'>Vous avez la possibilité de vous
opposer à un traitement de vos données personnelles. Pour vous aider dans votre
démarche, vous trouverez ici un modèle de courrier élaboré par la Cnil.</span></p>

            <p class=MsoNormal><span style='color:black'>Délais de réponse :</span><br>
                <span style='color:black'>La responsable de traitement s’engage à répondre à
votre demande d’accès, de rectification ou d’opposition ou toute autre demande
complémentaire d’informations dans un délai raisonnable qui ne saurait dépasser
1 mois à compter de la réception de votre demande.</span></p>

            <p class=MsoNormal><i><span style='color:black'>6.8 Destinataires</span></i></p>

            <p class=MsoNormal><span style='color:black'>Les données collectées et les
demandes, ou dossiers réalisés depuis la Plateforme sont traitées par les
seules personnes juridiquement habilitées à connaître des informations
traitées.</span></p>

            <p class=MsoNormal><span style='color:black'>Il s’agit des agents, salariés ou
autre personne pouvant représenter la personne morale titulaire d’une mission
de service public qui utilise ou administre le service de la plateforme. </span></p>

            <p class=MsoNormal><i><span style='color:black'>6.9 Sous-traitants</span></i></p>

            <p class=MsoNormal><span style='color:black'>Certaines des données sont
envoyées à des sous-traitants pour réaliser certaines missions. Le responsable
de traitement s’est assuré de la mise en œuvre par ses sous-traitants de
garanties adéquates et du respect de conditions strictes de confidentialité,
d’usage et de protection des données.</span></p>

            <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
                   style='border-collapse:collapse;border:none'>
                <tr>
                    <td width=150 style='width:112.7pt;border:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal align=center style='margin-bottom:0cm;text-align:center;
  line-height:normal'><b>Partenaire</b></p>
                    </td>
                    <td width=150 style='width:112.7pt;border:solid black 1.0pt;border-left:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal align=center style='margin-bottom:0cm;text-align:center;
  line-height:normal'><b>Traitement réalisé</b></p>
                    </td>
                    <td width=150 style='width:112.7pt;border:solid black 1.0pt;border-left:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal align=center style='margin-bottom:0cm;text-align:center;
  line-height:normal'><b>Pays destinataire</b></p>
                    </td>
                    <td width=150 style='width:112.7pt;border:solid black 1.0pt;border-left:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal align=center style='margin-bottom:0cm;text-align:center;
  line-height:normal'><b>Garanties</b></p>
                    </td>
                </tr>
                <tr>
                    <td width=150 style='width:112.7pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>OVH SAS</p>
                    </td>
                    <td width=150 style='width:112.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>Hébergement</p>
                    </td>
                    <td width=150 style='width:112.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'>France</p>
                    </td>
                    <td width=150 style='width:112.7pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><a
                                    href="https://www.ovh.com/fr/support/documents_legaux/Annexe%20Traitement%20de%20donn%C3%A9es%20%C3%A0%20caract%C3%A8re%20personnel.pdf">https://www.ovh.com/fr/support/documents_legaux/Annexe
                                Traitement de données à caractère personnel.pdf</a></p>
                    </td>
                </tr>
            </table>

            <p class=MsoNormal><i><span style='color:black'>6.10 Cookies</span></i></p>

            <p class=MsoNormal><span style='color:black'>En tant qu’éditeur de la présente
Plateforme, le responsable de traitement pourra faire usage de cookies.
Certains cookies sont dispensés du recueil préalable de votre consentement dans
la mesure où ils sont strictement nécessaires à la fourniture du service,
d’autres sont également dispensés d’un tel recueil lorsqu’ils respectent les
conditions d’exemption du consentement de l’internaute définies par la
recommandation « Cookies » de la Commission nationale informatique et libertés
(CNIL).</span></p>

            <p class=MsoNormal><b><span style='color:black'>La mesure d’audience (nombre de
visites, pages consultées) est réalisée par un outil libre intitulé Matomo
spécifiquement paramétré</span></b><span style='color:black'>, respectant ces
conditions</span></p>

            <p class=MsoNormal><span style='color:black'>Ces cookies permettent d’établir
des mesures statistiques de fréquentation et d’utilisation du site pouvant être
utilisées à des fins de suivi et d’amélioration du service :</span><br>
                <span style='color:black'>• Les données collectées ne sont pas recoupées avec
d’autres traitements.</span><br>
                <span style='color:black'>• Le cookie déposé sert uniquement à la production de
statistiques anonymes.</span><br>
                <span style='color:black'>• Le cookie ne permet pas de suivre la navigation de l’internaute
sur d’autres sites.</span></p>

            <p class=MsoNormal><span style='color:black'>Les traceurs ont vocation à être
conservés sur le poste informatique de l’Internaute pour une durée allant
jusqu’à 13 mois.</span></p>

            <p class=MsoNormal><b><span style='color:black'>7 - Mise à jour des conditions
d’utilisation</span></b></p>

            <p class=MsoNormal><span style='color:black'>Les termes des présentes
conditions d’utilisation peuvent être amendés à tout moment, sans préavis, en
fonction des modifications apportées à la plateforme, de l’évolution de la
législation ou pour tout autre motif jugé nécessaire.</span></p>

            <p class=MsoNormal><span style='color:black'>&nbsp;</span></p>

            <p class=MsoNormal>&nbsp;</p>

        </section>
    </main>
{% endblock %}