{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <p>Bonjour TODO,</p>
    <p>
        Nous avons bien reçu votre signalement concernant le logement situé <br>
        <strong>{{ signalement_adresseOccupant~', '~signalement_cpOccupant~' '~signalement_villeOccupant|upper }}</strong><br>
        Votre bailleur est averti de votre signalement.<br>
        Si il ne répond pas dans les trois prochaines semaines, le signalement sera transmis automatiquement aux services compétents.
    </p>
    <p>Pour suivre l'avancée de votre dossier, cliquez sur le bouton ci-dessous :</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary"
           style="text-align: center">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr style="text-align: center;width: 100%">
                        <td>
                            <a href="{{ lien_suivi|raw }}" target="_blank" rel="noopener">{{ btntext|capitalize }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>Si le bouton ne fonctionne pas <a href="{{ lien_suivi|raw }}">cliquez ici</a></p>
{% endblock %}