{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <p>Plateforme: {{ url }}</p>
    <p>La tache planifiée <strong>{{ cron_label }}</strong> s'est éxécutée avec succès.</p>
    <p> {{ count is defined ? count : ' '}} {{ message }}.</p>
{% endblock %}