{% extends 'emails/base_email.html.twig' %}

{% block body %}

    <p>Plateforme: {{ url }}</p>
    {% if code is defined %}
        <p>Code erreur: {{ code }}</p>
    {% endif %}
    {% if error is defined %}
        <p>Message erreur: {{ error }}</p>
    {% endif %}
    {% if req is defined %}
        <p>{{ req|json_encode() }}</p>
    {% endif %}
{% endblock %}
