{% extends 'emails/base_email.html.twig' %}

{% block body %}

    <p>Bonjour,</p>
    {% if reminder is not defined %}
        <p>Votre compte Histologe vous attend !</p>
        <p>Cliquez sur le bouton ci-dessous pour activer votre compte et paramétrer votre mot de passe.</p>
    {% else %}
        <p>Vous n'avez toujours pas activer votre compte depuis sa création, si vous le souhaitez, cliquez sur le bouton
            ci-dessous pour vous connecter et activer
            votre compte</p>
    {% endif %}
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary"
           style="text-align: center">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr style="text-align: center;width: 100%">
                        <td>
                            <a href="{{ link|raw }}" target="_blank">{{ btntext }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>Si le bouton ne fonctionne pas <a href="{{ link|raw }}">cliquez ici</a></p>
    <p>Première fois sur Histologe ? <br>
        Inscrivez-vous à nos sessions de formation <a
                href="https://app.livestorm.co/incubateur-des-territoires/demonstration-histologe?type=detailed">en
            cliquant sur ce lien.</a></p>
{% endblock %}