{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <p>Bonjour,</p>
    <p>Dans le cadre de l'amélioration du service Histologe, votre plateforme Histologe a été migrée vers une plateforme unique !</p>
    <p>Afin d'assurer la sécurité de votre compte, nous vous invitons à définir un nouveau mot de passe en cliquant sur le bouton ci-dessous.</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary"
           style="text-align: center">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr style="text-align: center;width: 100%">
                        <td>
                            <a href="{{ link|raw }}" target="_blank" rel="noopener">{{ btntext }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>Si le bouton ne fonctionne pas <a href="{{ link|raw }}">cliquez ici</a></p>
    <p>Si vous avez des questions, n'hésitez pas à vous rapprochez de votre responsable de territoire.</p>
{% endblock %}