{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <p>Bonjour,</p>
    <p>Voici le code de confirmation à renseigner pour confirmer votre adresse mail :</p>
    <p><strong style="font-size: 18px;background-color:#ececfe;padding:10px;">{{ authCode }}</strong></p>
    <p>A bientôt sur {{ platform.name }} !</p>
{% endblock %}