{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <p>Bonjour {{ signalement.nomOccupant|upper ~' '~signalement.prenomOccupant|capitalize }}</p>
    <p>
        Votre signalement sur la plateforme <strong>{{ platform.name }} - {{ territory.getName() }}</strong> ne peut pas être traité par nos
        équipes pour la raison suivante :
        <br>
        <br>
        {{ motif|raw }}
        Merci de votre compréhension.
    </p>
{% endblock %}