{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Vous vous êtes engagé(e) à réaliser des travaux suite à un signalement concernant le logement situé {{ signalement_adresseOccupant }}.
        <br>
        Comme chaque mois, nous vous invitons à nous faire part de l'avancée des travaux.
        <br><br>
        Merci d'envoyer ces informations à l'adresse e-mail suivante en précisant la référence de l'injonction : <strong>{{ signalement_referenceInjonctionBailleur }}</strong> :
        <br>
        <a href="mailto:demarche-acceleree@signal-logement.beta.gouv.fr">demarche-acceleree@signal-logement.beta.gouv.fr</a>
    </p>
{% endblock %}