{% extends 'emails/base_email.html.twig' %}

{% block body %}
    <p>Bonjour,</p>
    <p>Veuillez trouver en pièce jointe l'export RIAL généré à partir des BAN IDs fournis.</p>
    <p>Le fichier CSV est attaché à ce message.</p>
{% endblock %} 