{% extends 'emails/base_email.html.twig' %}

{% block body %}  
    <p>Bonjour,</p>
    <p>
        Vous trouverez en pièce jointe de cet e-mail l'export des résumés de suivis.
    </p>
    <p>
        A bientôt sur {{ platform.name }} !
    </p>
{% endblock %}
