{% extends 'iframe/base-iframe.html.twig' %}

{% block body %}
    <div class="fr-px-2w">
        {% include '_partials/_demande-lien-signalement.html.twig' with {'iframed': true} %}
    </div>
{% endblock %}

