<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumbs">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumbs">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="{{ path('home') }}">Accueil</a>
                </li>
                {% if breadcrumbsLabel is defined %}
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">{{ breadcrumbsLabel }}</a>
                </li>
                {% endif %}
            </ol>
        </div>
    </nav>
</div>