<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <div class="fr-logo">
                                ministère <br> de la transition <br>écologique
                            </div>
                        </div>
                        <div class="fr-header__operator">
                            <a href="{{ path('home') }}" title="Accueil - HISTOLOGE">
                                <img src={{ asset('img/logo_145.png') }} class="fr-responsive-img" width="100%"
                                     alt="HISTOLOGE">
                            </a>
                        </div>


                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833"
                                    aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile">
                                Menu
                            </button>
                        </div>
                    </div>
                </div>
                {% include 'nav.html.twig' %}
            </div>
        </div>
    </div>
    <!-- Navigation principale -->
    <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
            <div class="fr-header__menu-links"></div>
        </div>
    </div>
</header>