<div class="fr-grid-row fr-grid-row--middle">         
    <div class="fr-col-12 fr-col-md-8 fr-text--left">
        <h2>Adresse e-mail</h2>
    </div>
    <div class="fr-col-12 fr-col-md-4 fr-text--right">
        <button class="fr-button fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-edit-line"
            title="Modifier mon adresse e-mail"
            data-fr-opened="false" 
            aria-controls="fr-modal-profil-edit-email"
            >
            Modifier mon adresse e-mail
        </button>
    </div>
</div>
<div>
Votre adresse e-mail est : <strong>{{ app.user.email }}</strong>
</div>