{% set columns = [
    { class: 'fr-col-md-3', title: 'Profil déclarant' },
    { class: 'fr-col-md-4', title: 'Référence' },
    { class: 'fr-col-md-2', title: 'Déposé le' },
    { class: 'fr-col-md-2', title: 'Parc' }
] %}
<section class="fr-mb-5v">
    <header class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-9">
            <h3 class="fr-text-label--blue-france {{ h3_icon_class }}">{{ title }} ({{ count }})</h3>
        </div>
        {% include 'back/dashboard/components/_select_sort_dossiers_nouveaux.html.twig' with {
            data_sort_body: data_sort_body
        } %}
    </header>
    <hr class="hr--blue-france">
    <section class="fr-container--fluid">
        {% for item in items %}
            {% set declarantInfo = item.reference ~ ' - ' ~ item.nomDeclarant|upper ~ ' ' ~ item.prenomDeclarant|capitalize %}
            {% include 'back/dashboard/components/_card.html.twig' with {
                data: [
                    '<span class="fr-badge fr-badge--no-icon fr-badge--yellow-tournesol">' ~ item.profilDeclarant.label() ~ '</span>',
                    '<div class="fr-text-label--blue-france">
                        <div><strong class="fr-text--lg">' ~ declarantInfo ~ '</strong></div>
                        <div>' ~ item.adresse ~ '</div>
                    </div>',
                    '<div>' ~ item.depotAt|date('d/m/Y') ~ '</div>',
                    '<span class="fr-badge fr-badge--info fr-badge--no-icon">' ~ item.parc ~ '</span>'
                ],
                link: path('back_signalement_view', {'uuid' : item.uuid})
            } %}
        {% else %}
            <p>Aucun dossier trouvé.</p>
        {% endfor %}
        {% include 'back/dashboard/components/_footer_link.html.twig' %}
    </section>
</section>
