<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    </head>
    <style>
        div.page {
            font-family: 'Open Sans', sans-serif;
        }

        table.border, table.border > tr, table.border td {
            border: 1px solid rgba(0, 0, 0, .5);
        }

        .page:not(:last-child) {
            page-break-after: always;
            page-break-inside: avoid;
        }

        .fr-stripped tr:nth-child(odd) {
            border: none;
            background-color: rgba(191, 204, 251, 0.37);
        }
    </style>
    <body style="padding: 3rem">
        {% block body %}{% endblock %}
    </body>
</html>