<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <style>

        body {
            font-family: 'DejaVu Sans', sans-serif;
            font-size: 12px;
        }

        table.border, table.border > tr, table.border td {
            border: 1px solid rgba(0, 0, 0, .5);
        }

        .page:not(:last-child) {
            page-break-after: always;
            page-break-inside: avoid;
        }

        .fr-stripped tr:nth-child(odd) {
            border: none;
            background-color: rgba(191, 204, 251, 0.37);
        }
    </style>
    <body style="padding: 3rem">
        {% block body %}{% endblock %}
    </body>
</html>