{% if criteres %}
    {% set firstCritere = criteres|first %}
    {% if firstCritere is defined %}
        {% set firstPrecision = firstCritere|first %}
        {% if firstPrecision is defined %}
            {% if signalement.jsonContent[firstPrecision.desordreCritere.slugCategorie] is defined %}
                <h5>{{ signalement.jsonContent[firstPrecision.desordreCritere.slugCategorie] }}</h5>
            {% endif %}
        {% endif %}
    {% endif %}
    
    <ul>
        {% for critere,precisions in criteres %}
            <li>
                {{ critere }}     
                {% for precision in precisions %}
                    {% include '_partials/signalement/desordre-precision-label.html.twig' %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endif %}