<style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');

    ul.lst-kix_list_1-0 {
        list-style-type: none
    }

    .lst-kix_tficmxcaf39r-2 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_tficmxcaf39r-1 > li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_list_1-3 {
        list-style-type: none
    }

    ul.lst-kix_list_1-4 {
        list-style-type: none
    }

    ul.lst-kix_list_1-1 {
        list-style-type: none
    }

    ul.lst-kix_list_1-2 {
        list-style-type: none
    }

    .lst-kix_tficmxcaf39r-0 > li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_list_1-7 {
        list-style-type: none
    }

    ul.lst-kix_list_1-8 {
        list-style-type: none
    }

    ul.lst-kix_list_1-5 {
        list-style-type: none
    }

    ul.lst-kix_list_1-6 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-8 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-6 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-7 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-4 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-5 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-2 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-3 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-0 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-1 {
        list-style-type: none
    }

    ul.lst-kix_t0pl7xnlun0g-1 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-2 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-0 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-5 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-6 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-3 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-4 {
        list-style-type: none
    }

    .lst-kix_7ry7bcjo543a-3 > li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_xtnkh4ban3b3-5 {
        list-style-type: none
    }

    ul.lst-kix_xtnkh4ban3b3-6 {
        list-style-type: none
    }

    ul.lst-kix_xtnkh4ban3b3-3 {
        list-style-type: none
    }

    ul.lst-kix_xtnkh4ban3b3-4 {
        list-style-type: none
    }

    ul.lst-kix_xtnkh4ban3b3-1 {
        list-style-type: none
    }

    .lst-kix_7ry7bcjo543a-4 > li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_xtnkh4ban3b3-2 {
        list-style-type: none
    }

    .lst-kix_7ry7bcjo543a-5 > li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_xtnkh4ban3b3-0 {
        list-style-type: none
    }

    ul.lst-kix_7ry7bcjo543a-0 {
        list-style-type: none
    }

    .lst-kix_7ry7bcjo543a-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_tficmxcaf39r-4 > li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_7ry7bcjo543a-4 {
        list-style-type: none
    }

    ul.lst-kix_7ry7bcjo543a-3 {
        list-style-type: none
    }

    .lst-kix_tficmxcaf39r-3 > li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_7ry7bcjo543a-2 {
        list-style-type: none
    }

    .lst-kix_7ry7bcjo543a-7 > li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_7ry7bcjo543a-1 {
        list-style-type: none
    }

    ul.lst-kix_7ry7bcjo543a-8 {
        list-style-type: none
    }

    ul.lst-kix_7ry7bcjo543a-7 {
        list-style-type: none
    }

    ul.lst-kix_7ry7bcjo543a-6 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-7 {
        list-style-type: none
    }

    ul.lst-kix_7ry7bcjo543a-5 {
        list-style-type: none
    }

    ul.lst-kix_q3v370bapmrx-8 {
        list-style-type: none
    }

    .lst-kix_7ry7bcjo543a-8 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_tficmxcaf39r-5 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_tficmxcaf39r-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_tficmxcaf39r-8 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_tficmxcaf39r-7 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_t0pl7xnlun0g-8 > li:before {
        content: "\0025a0  "
    }

    ul.lst-kix_tficmxcaf39r-6 {
        list-style-type: none
    }

    .lst-kix_t0pl7xnlun0g-7 > li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_tficmxcaf39r-7 {
        list-style-type: none
    }

    ul.lst-kix_tficmxcaf39r-8 {
        list-style-type: none
    }

    .lst-kix_t0pl7xnlun0g-5 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_t0pl7xnlun0g-4 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_t0pl7xnlun0g-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_t0pl7xnlun0g-1 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_t0pl7xnlun0g-0 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_t0pl7xnlun0g-2 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_t0pl7xnlun0g-3 > li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_xtnkh4ban3b3-7 {
        list-style-type: none
    }

    ul.lst-kix_xtnkh4ban3b3-8 {
        list-style-type: none
    }

    .lst-kix_7ry7bcjo543a-2 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_7ry7bcjo543a-0 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_7ry7bcjo543a-1 > li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_tficmxcaf39r-2 {
        list-style-type: none
    }

    ul.lst-kix_tficmxcaf39r-3 {
        list-style-type: none
    }

    ul.lst-kix_tficmxcaf39r-4 {
        list-style-type: none
    }

    ul.lst-kix_tficmxcaf39r-5 {
        list-style-type: none
    }

    ul.lst-kix_tficmxcaf39r-0 {
        list-style-type: none
    }

    ul.lst-kix_tficmxcaf39r-1 {
        list-style-type: none
    }

    .lst-kix_list_1-0 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_1-1 > li:before {
        content: "o  "
    }

    .lst-kix_list_1-2 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_xtnkh4ban3b3-4 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_list_1-3 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_list_1-4 > li:before {
        content: "o  "
    }

    .lst-kix_q3v370bapmrx-1 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_q3v370bapmrx-3 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_xtnkh4ban3b3-2 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_xtnkh4ban3b3-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_xtnkh4ban3b3-3 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_xtnkh4ban3b3-7 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_q3v370bapmrx-2 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_q3v370bapmrx-6 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_xtnkh4ban3b3-0 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_xtnkh4ban3b3-8 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_list_1-7 > li:before {
        content: "o  "
    }

    .lst-kix_q3v370bapmrx-7 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_list_1-5 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_list_1-6 > li:before {
        content: "\0025cf  "
    }

    li.li-bullet-0:before {
        margin-left: -18pt;
        white-space: nowrap;
        display: inline-block;
        min-width: 18pt
    }

    .lst-kix_xtnkh4ban3b3-1 > li:before {
        content: "\0025cb  "
    }

    .lst-kix_q3v370bapmrx-0 > li:before {
        content: "\0025cf  "
    }

    .lst-kix_q3v370bapmrx-8 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_list_1-8 > li:before {
        content: "\0025aa  "
    }

    .lst-kix_q3v370bapmrx-5 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_xtnkh4ban3b3-5 > li:before {
        content: "\0025a0  "
    }

    .lst-kix_q3v370bapmrx-4 > li:before {
        content: "\0025cb  "
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td, table th {
        padding: 0
    }

    .c17 {
        border-right-style: solid;
        padding: 0pt 5.4pt 0pt 5.4pt;
        border-bottom-color: #000000;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #000000;
        vertical-align: middle;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 225.4pt;
        border-top-color: #000000;
        border-bottom-style: solid
    }

    .c21 {
        border-right-style: solid;
        padding: 0pt 5.4pt 0pt 5.4pt;
        border-bottom-color: #000000;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #000000;
        vertical-align: middle;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 112.7pt;
        border-top-color: #000000;
        border-bottom-style: solid
    }

    .c12 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0791666666666666;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c3 {
        margin-left: 36pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 0pt;
        line-height: 1.25;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c29 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.25;
        orphans: 2;
        widows: 2;
        text-align: justify;
        height: 11pt
    }

    .c22 {
        padding-top: 0pt;
        padding-bottom: 6pt;
        line-height: 1.25;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c4 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.25;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt
    }

    .c9 {
        padding-top: 0pt;
        padding-bottom: 3pt;
        line-height: 1.25;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c34 {
        padding-top: 12pt;
        padding-bottom: 0pt;
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c19 {
        padding-top: 12pt;
        padding-bottom: 0pt;
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c5 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.25;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c20 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c27 {
        padding-top: 0pt;
        padding-bottom: 8pt;
        line-height: 1.0791666666666666;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c6 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c35 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        text-align: left
    }

    .c23 {
        margin-left: -5.4pt;
        border-spacing: 0;
        border-collapse: collapse;
        margin-right: auto
    }

    .c24 {
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-style: normal
    }

    .c1 {
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-style: normal
    }

    .c8 {
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-style: italic
    }

    .c0 {
        font-family: "Calibri";
        color: #000000;
        font-weight: 400
    }

    .c2 {
        color: #0563c1;
        font-weight: 400;
        font-family: "Calibri"
    }

    .c28 {
        -webkit-text-decoration-skip: none;
        text-decoration: underline;
        text-decoration-skip-ink: none
    }

    .c14 {
        font-family: "Calibri";
        color: #000000;
        font-weight: 700
    }

    .c10 {
        color: #000000;
        font-weight: 400;
        font-family: "Arial"
    }

    .c33 {
        background-color: #ffffff;
        max-width: 451.3pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c31 {
        margin-left: 36pt;
        padding-left: 0pt
    }

    .c7 {
        padding: 0;
        margin: 0
    }

    .c13 {
        border: 1px solid black;
        margin: 5px
    }

    .c32 {
        color: inherit;
        text-decoration: inherit
    }

    .c30 {
        height: 11pt
    }

    .c16 {
        font-weight: 700
    }

    .c15 {
        color: #0563c1
    }

    .c18 {
        font-family: "Calibri"
    }

    .c36 {
        vertical-align: baseline
    }

    .c25 {
        font-style: italic
    }

    .c11 {
        background-color: #ffff00
    }

    .c26 {
        height: 0pt
    }

    .title {
        padding-top: 12pt;
        color: #000000;
        font-weight: 700;
        font-size: 14pt;
        padding-bottom: 0pt;
        font-family: "Calibri";
        line-height: 1.0791666666666666;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 18pt;
        color: #666666;
        font-size: 24pt;
        padding-bottom: 4pt;
        font-family: "Georgia";
        line-height: 1.25;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Calibri"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Calibri"
    }

    h1 {
        padding-top: 12pt;
        color: #2f5496;
        font-size: 16pt;
        padding-bottom: 0pt;
        font-family: "Calibri";
        line-height: 1.25;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 0pt;
        color: #000000;
        font-weight: 700;
        font-size: 11pt;
        padding-bottom: 6pt;
        font-family: "Calibri";
        line-height: 1.25;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 0pt;
        color: #000000;
        font-size: 11pt;
        padding-bottom: 3pt;
        font-family: "Calibri";
        line-height: 1.25;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 12pt;
        color: #000000;
        font-weight: 700;
        font-size: 12pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.25;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 11pt;
        color: #000000;
        font-weight: 700;
        font-size: 11pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.25;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 10pt;
        color: #000000;
        font-weight: 700;
        font-size: 10pt;
        padding-bottom: 2pt;
        font-family: "Calibri";
        line-height: 1.25;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }</style>
<p class="c19 title" id="h.sod1x7geyjb1"><span
            class="c36">Conditions d&rsquo;utilisation d</span><span>e la plateforme </span><span
            class="c24 c14">Histologe</span></p>
<p class="c30 c34"><span class="c14 c24"></span></p>
<p class="c5"><span class="c0">Les pr&eacute;sentes conditions g&eacute;n&eacute;rales d&rsquo;utilisation </span><span
            class="c0">(dites &laquo; CGU</span><span class="c0">&nbsp;</span><span class="c0">&raquo;)</span><span
            class="c0">&nbsp;fixent le cadre juridique du </span><span>la plateforme </span><span class="c0">&ldquo;Histologe&rdquo;</span><span
            class="c0">&nbsp;et d&eacute;finissent les conditions d&rsquo;acc&egrave;s et d&rsquo;utilisation des services par </span><span>les partners</span><span
            class="c1 c0">.</span></p>
<p class="c4"><span class="c1 c0"></span></p>
<h2 class="c22" id="h.i5i1f0f5vc5h"><span class="c1 c14">1 - Champ d&rsquo;application</span></h2>
<p class="c5"><span class="c2">L</span><span class="c15">&rsquo;utilisation de la plateforme Histologe et son Back-Office est </span><span
            class="c2">gratuite </span><span class="c15">pour</span><span class="c2">&nbsp;tout </span><span
            class="c15">partner inscrit sur la plateforme</span><span
            class="c2">. </span><span class="c2">La demande d&rsquo;inscription aux services d</span><span class="c15">e la plateforme </span><span
            class="c2">suppose</span><span class="c15">&nbsp;la mise en &oelig;uvre d&rsquo;un partenariat entre un territoire et la start-up d&rsquo;Etat Histologe</span><sup><a
                href="#cmnt1" id="cmnt_ref1">[a]</a></sup><span class="c15">&nbsp;et </span><span class="c2">l&rsquo;acceptation par tout </span><span
            class="c15">partner </span><span class="c1 c2">des pr&eacute;sentes conditions g&eacute;n&eacute;rales d&rsquo;utilisation.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h2 class="c22" id="h.dqk4z9o6kcka"><span class="c1 c14">2 - Objet</span></h2>
<p class="c5"><span class="c0">Histologe a pour objectif de permettre aux habitants de logements de rep&eacute;rer et de signaler les probl&egrave;mes d&rsquo;habitats, mais &eacute;galement d&rsquo;acc&eacute;l&eacute;rer l&rsquo;apport de solutions &agrave; ces probl&egrave;mes.</span>
</p>
<p class="c5"><span class="c15">Pour cela, Histologe met &agrave; disposition des partners une interface d&rsquo;administration (ci-apr&egrave;s </span><span>&laquo; </span><span
            class="c15">Back-Office </span><span>&raquo;</span><span class="c1 c2">) dans laquelle ils pourront g&eacute;rer les signalements saisis par les usagers.</span>
</p>
<p class="c4"><span class="c1 c2"></span></p>
<p class="c5"><span class="c1 c0">Il vise notamment &agrave; mesurer la criticit&eacute; d&rsquo;un signalement concernant son logement. La mesure de cette criticit&eacute;, &eacute;tablie comme une classe d&rsquo;&eacute;tiquette &eacute;nergie, permettra d&rsquo;identifier facilement les actions &agrave; mettre en &oelig;uvre ainsi que leur degr&eacute; de criticit&eacute;.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h2 class="c22" id="h.qqlgnvt0xg8b"><span class="c1 c14">3 &ndash; D&eacute;finitions</span></h2>
<ul class="c7 lst-kix_t0pl7xnlun0g-0 start">
    <li class="c3 li-bullet-0"><span class="c1 c0">&laquo; L&rsquo;usager &raquo; est la personne habitant un logement priv&eacute; ou public qui signale un probl&egrave;me li&eacute; &agrave; son habitat.</span>
    </li>
    <li class="c3 li-bullet-0"><span class="c1 c0">&laquo; L&rsquo;agent &raquo; est la personne travaillant dans le territoire, habilit&eacute;e &agrave; hi&eacute;rarchiser les signalements et les transf&eacute;rer aux partners.</span>
    </li>
    <li class="c3 li-bullet-0"><span class="c1 c0">&laquo; Les partners &raquo; sont les entreprises et services d&rsquo;Etat auxquels sont transmis les signalements et qui pourront intervenir dans leurs champs de comp&eacute;tence.</span>
    </li>
    <li class="c3 li-bullet-0"><span>&laquo; Les </span><span>services &raquo; sont</span><span class="c1 c0">&nbsp;les moyens offerts par Histologe pour r&eacute;pondre &agrave; son objet et ses finalit&eacute;s.</span>
    </li>
    <li class="c3 li-bullet-0"><span class="c15">&laquo; Le </span><span class="c15">Back-Office &raquo; est</span><span
                class="c15">&nbsp;l&rsquo;interface d&rsquo;administration mise &agrave; disposition des agents et partners.</span>
    </li>
    <li class="c3 li-bullet-0"><span class="c1 c0">&laquo; Le responsable de traitement &raquo; est la personne qui, au sens de l&rsquo;article 4 du r&egrave;glement UE) n&deg;2016/679 du Parlement europ&eacute;en et du Conseil du 27 avril 2016 relatif &agrave; la protection des personnes physiques &agrave; l&rsquo;&eacute;gard du traitement des donn&eacute;es &agrave; caract&egrave;re personnel et &agrave; la libre circulation de ces donn&eacute;es d&eacute;termine les finalit&eacute;s et les moyens des traitements de donn&eacute;es &agrave; caract&egrave;re personnel.</span>
    </li>
    <li class="c3 li-bullet-0"><span>&laquo; </span><span
                class="c0">L&rsquo;&eacute;diteur </span><span>&raquo;</span><span
                class="c0">&nbsp;est la startup </span><span>d&#39;&Eacute;tat</span><span class="c0">&nbsp;</span><span
                class="c0">Histologe.</span></li>
</ul>
<p class="c4"><span class="c1 c0"></span></p>
<h2 class="c22" id="h.d7wh6nwredqx"><span class="c1 c14">4- Acc&egrave;s &agrave; la plateforme</span></h2>
<h3 class="c9" id="h.5i97jbprhs23"><span class="c8 c2">4.1 Acc&egrave;s au Back-Office</span></h3>
<p class="c5"><span class="c1 c2">Le Back-Office et ses services sont accessibles :</span></p>
<ul class="c7 lst-kix_xtnkh4ban3b3-0 start">
    <li class="c3 li-bullet-0"><span class="c1 c2">Aux partners des territoires sur lesquels la plateforme Histologe est d&eacute;ploy&eacute;e.</span>
    </li>
    <li class="c3 li-bullet-0"><span class="c1 c2">Aux agents des territoires</span></li>
</ul>
<p class="c4"><span class="c1 c2"></span></p>
<h3 class="c9" id="h.3242xs5l4a17"><span class="c8 c2">4.2 Activation du compte partner</span></h3>
<p class="c5"><span class="c1 c2">Les agents cr&eacute;ent les comptes partners sur le Back-Office &agrave; partir des informations suivantes :</span>
</p>
<ul class="c7 lst-kix_tficmxcaf39r-0 start">
    <li class="c3 li-bullet-0"><span class="c1 c2">Nom et pr&eacute;nom du partner</span></li>
    <li class="c3 li-bullet-0"><span class="c1 c2">Adresse email professionnelle</span></li>
    <li class="c3 li-bullet-0"><span class="c1 c2">Organisme de rattachement </span></li>
</ul>
<p class="c4"><span class="c1 c2"></span></p>
<p class="c5"><span class="c1 c2">Le partner re&ccedil;oit un email l&rsquo;informant de la cr&eacute;ation de son compte et l&#39;invitant &agrave; finaliser son inscription. La finalisation du compte partner est soumise &agrave; activation du compte par le partner et acceptation des pr&eacute;sentes CGU.</span>
</p>
<p class="c5"><span class="c16 c15">NB </span><span class="c1 c2">: la cr&eacute;ation des comptes partners peut-&ecirc;tre confi&eacute;e &agrave; l&rsquo;&eacute;diteur.</span>
</p>
<p class="c4"><span class="c1 c2"></span></p>
<h3 class="c9" id="h.5ewscvypwhsx"><span class="c8 c2">4.3 Acceptation des CGU</span></h3>
<p class="c5"><span class="c1 c2">L&rsquo;acceptation des pr&eacute;sentes CGU par le partner est soumise au moment de l&rsquo;activation du compte partner. Cette acceptation ne peut &ecirc;tre que pleine et enti&egrave;re. Les partners qui n&rsquo;acceptent pas les pr&eacute;sentes CGU ne peuvent pas utiliser la plateforme Histologe et n&rsquo;ont pas acc&egrave;s au Back-Office.</span>
</p>
<p class="c4"><span class="c1 c2"></span></p>
<h2 class="c22" id="h.limgwfvhngsy"><span>5</span><span>- Fonctionnalit&eacute;s</span></h2>
<h3 class="c9" id="h.mvejijkb4yp5"><span class="c15">5</span><span class="c8 c2">.1 Acc&egrave;s aux signalements</span>
</h3>
<p class="c5"><span class="c1 c2">En acc&eacute;dant au Back-Office, chaque agent a acc&egrave;s &agrave; l&rsquo;int&eacute;gralit&eacute; des signalements saisis par les usagers sur le territoire. </span>
</p>
<p class="c5"><span class="c1 c2">En acc&eacute;dant au Back-Office, chaque partner a acc&egrave;s aux signalements qui lui sont affect&eacute;s par les agents. </span>
</p>
<p class="c4"><span class="c1 c2"></span></p>
<p class="c5"><span class="c1 c2">Chaque signalement contient des informations saisies par les utilisateurs:</span></p>
<ul class="c7 lst-kix_list_1-0 start">
    <li class="c12 li-bullet-0"><span class="c15">Le</span><span
                class="c1 c2">&nbsp;type de probl&egrave;me re</span><span class="c15">ncontr&eacute; dans le logement et sa gravit&eacute;</span>
    </li>
    <li class="c12 li-bullet-0"><span class="c1 c2">Les informations sur le logement : adresse, nombre d&rsquo;habitants, type de logement.</span>
    </li>
    <li class="c12 li-bullet-0"><span class="c1 c2">Les coordonn&eacute;es de l&#39;utilisateur et du propri&eacute;taire du logement</span>
    </li>
    <li class="c12 li-bullet-0"><span class="c1 c2">Les documents joints au signalement</span></li>
</ul>
<p class="c4"><span class="c1 c0"></span></p>
<p class="c27"><span class="c1 c2">Les signalements peuvent aussi contenir des informations compl&eacute;mentaires renseign&eacute;es par les partners dans le Back-Office.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h3 class="c9" id="h.tbqom2fnq6p1"><span class="c15">5.2 Transfert et mise &agrave; jour du signalement</span></h3>
<p class="c5"><span class="c1 c0">L&rsquo;agent d&eacute;termine la criticit&eacute; du signalement en fonction des informations fournies par l&#39;utilisateur.</span>
</p>
<p class="c5"><span class="c1 c0">Une fois la criticit&eacute; d&eacute;termin&eacute;e, l&rsquo;agent d&eacute;termine le ou les partners ou services comp&eacute;tents. Il transf&egrave;re sur la plateforme et par mail au partner :</span>
</p>
<ul class="c7 lst-kix_list_1-0">
    <li class="c3 li-bullet-0"><span class="c1 c0">l&rsquo;ensemble du signalement r&eacute;alis&eacute; par l&rsquo;Utilisateur,</span>
    </li>
    <li class="c3 li-bullet-0"><span
                class="c1 c0">l&rsquo;&eacute;valuation de la criticit&eacute; du signalement.</span></li>
</ul>
<p class="c5"><span class="c1 c0">L&rsquo;utilisateur est inform&eacute; par courriel de cet envoi.</span></p>
<p class="c4"><span class="c1 c0"></span></p>
<p class="c5"><span class="c1 c2">Chaque partner concern&eacute; peut ensuite mettre &agrave; jour le signalement en y ajoutant des informations. Ces informations sont visibles par tous les agents et les partners &agrave; qui le signalement a &eacute;t&eacute; transf&eacute;r&eacute;. </span>
</p>
<p class="c5"><span class="c1 c2">Sur d&eacute;cision du partner, ces mises &agrave; jour peuvent &ecirc;tre envoy&eacute;es par courriel &agrave; l&rsquo;utilisateur.</span>
</p>
<p class="c4"><span class="c1 c2"></span></p>
<h3 class="c9" id="h.k3fcpg8k47ul"><span class="c8 c2">5.3 Cl&ocirc;ture du signalement</span></h3>
<p class="c5"><span class="c1 c2">Chaque partner peut cl&ocirc;turer le signalement, signifiant qu&rsquo;il a r&eacute;alis&eacute; toutes les actions dans son domaine de comp&eacute;tence pour apporter une solution au probl&egrave;me signal&eacute; par l&rsquo;utilisateur.</span>
</p>
<p class="c5"><span class="c1 c2">Les agents peuvent cl&ocirc;turer un signalement pour l&rsquo;int&eacute;gralit&eacute; des partners concern&eacute;s par le signalement.</span>
</p>
<p class="c5"><span class="c1 c2">Les cl&ocirc;tures sont visibles par les partners concern&eacute;s et les agents dans le Back-Office.</span>
</p>
<p class="c5"><span class="c1 c2">Les partners concern&eacute;s sont pr&eacute;venus par email et / ou par notification dans le Back-Office.</span>
</p>
<p class="c5"><span class="c1 c2">L&rsquo;utilisateur est pr&eacute;venu par courriel de la cl&ocirc;ture de son signalement.</span>
</p>
<p class="c4"><span class="c1 c2"></span></p>
<h3 class="c9" id="h.ii6i39asbv6m"><span class="c8 c2">5.4 Envoi de feedback</span></h3>
<p class="c5"><span class="c1 c2">Les partners ont acc&egrave;s &agrave; une fonctionnalit&eacute; d&rsquo;envoi de feedback leur permettant de remonter &agrave; l&rsquo;&eacute;diteur les probl&egrave;mes &eacute;ventuels rencontr&eacute;s sur la plateforme.</span>
</p>
<p class="c5"><span class="c1 c2">l&rsquo;&eacute;diteur re&ccedil;oit alors :</span></p>
<ul class="c7 lst-kix_q3v370bapmrx-0 start">
    <li class="c3 li-bullet-0"><span class="c1 c2">Une capture d&rsquo;&eacute;cran de la page depuis laquelle est saisie le feedback</span>
    </li>
    <li class="c3 li-bullet-0"><span class="c1 c2">La description du feedback renseign&eacute;e par le partner</span>
    </li>
    <li class="c3 li-bullet-0"><span class="c1 c2">Le nom du partner envoyant le feedback</span></li>
</ul>
<p class="c4"><span class="c1 c2"></span></p>
<h3 class="c9" id="h.om1qn3z00eap"><span class="c8 c2">5.5 Autres fonctionnalit&eacute;s</span></h3>
<p class="c5"><span class="c1 c2">L&rsquo;&eacute;diteur se r&eacute;serve la facult&eacute; de proposer toute autre fonctionnalit&eacute; et de modifier toute fonctionnalit&eacute; existante de la mani&egrave;re qu&rsquo;elle jugera utile en fonction des moyens techniques qu&rsquo;elle estimera les plus appropri&eacute;s pour rendre lesdites fonctionnalit&eacute;s.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h2 class="c22" id="h.cls00unc88td"><span class="c1 c14">6 &ndash; Responsabilit&eacute;s</span></h2>
<h3 class="c9" id="h.q6l520tgyopv"><span class="c8 c0">6.1 L&rsquo;&eacute;diteur de la plateforme Histologe</span></h3>
<p class="c5"><span class="c0">Les sources des informations diffus&eacute;es sur l</span><span>a plateforme </span><span
            class="c0">sont r&eacute;put&eacute;es fiables mais </span><span>la plateforme </span><span class="c0">ne garantit pas qu&rsquo;</span><span>e</span><span
            class="c0">lle soit exempte de d&eacute;fauts, d&rsquo;erreurs ou d&rsquo;omissions.</span></p>
<p class="c5"><span class="c0">L&rsquo;&eacute;diteur s&rsquo;autorise &agrave; suspendre ou r&eacute;voquer un compte et toutes les actions r&eacute;alis&eacute;es par ce biais, s&rsquo;il estime que l&rsquo;usage r&eacute;alis&eacute; du service porte pr&eacute;judice &agrave; son image ou ne correspond pas aux exigences de s&eacute;curit&eacute;.</span>
</p>
<p class="c5"><span class="c0">L&rsquo;&eacute;diteur fournit les moyens n&eacute;cessaires et raisonnables pour assurer un acc&egrave;s continu, sans contrepartie financi&egrave;re, </span><span>&agrave; la plateforme</span><span
            class="c1 c0">. Il se r&eacute;serve la libert&eacute; de faire &eacute;voluer, de modifier ou de suspendre, sans pr&eacute;avis, la plateforme pour des raisons de maintenance ou pour tout autre motif jug&eacute; n&eacute;cessaire.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h3 class="c9" id="h.zf7e2p9iaj97"><span class="c8 c0">6.2 L&rsquo;Agent</span></h3>
<p class="c5"><span class="c1 c0">L&rsquo;Agent s&rsquo;assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques li&eacute;s &agrave; l&rsquo;utilisation de son identifiant et mot de passe.</span>
</p>
<p class="c5"><span class="c0">Toute information transmise par l&rsquo;Agent est de sa seule responsabilit&eacute;. Il est rappel&eacute; que toute personne proc&eacute;dant &agrave; une fausse d&eacute;claration pour elle-m&ecirc;me ou pour autrui s&rsquo;expose &agrave; des sanctions.</span>
</p>
<p class="c5"><span class="c0">L&rsquo;Agent s&rsquo;engage &agrave; ne pas mettre en ligne de contenus ou informations contraires aux dispositions l&eacute;gales et r&eacute;glementaires en vigueur. Tout contenu contraire &agrave; l&rsquo;utilisation d</span><span>e la plateforme </span><span
            class="c1 c0">ou aux dispositions l&eacute;gales et r&eacute;glementaires en vigueur sera supprim&eacute;, sans pr&eacute;avis.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h3 class="c9" id="h.bzqhu4tp3gd3"><span class="c15">6.3 Le partner</span></h3>
<p class="c5"><span class="c1 c2">Le partner s&rsquo;assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques li&eacute;s &agrave; l&rsquo;utilisation de son identifiant et mot de passe.</span>
</p>
<p class="c5"><span class="c1 c2">Toute information transmise par le partner est de sa seule responsabilit&eacute;. Il est rappel&eacute; que toute personne proc&eacute;dant &agrave; une fausse d&eacute;claration pour elle-m&ecirc;me ou pour autrui s&rsquo;expose &agrave; des sanctions.</span>
</p>
<p class="c5"><span class="c1 c2">Le partner s&rsquo;engage &agrave; ne pas mettre en ligne de contenus ou informations contraires aux dispositions l&eacute;gales et r&eacute;glementaires en vigueur. Tout contenu contraire &agrave; l&rsquo;utilisation de la plateforme ou aux dispositions l&eacute;gales et r&eacute;glementaires en vigueur sera supprim&eacute;, sans pr&eacute;avis.</span>
</p>
<p class="c29"><span class="c1 c0"></span></p>
<h2 class="c22" id="h.j7i9by43lhd2"><span>7</span><span class="c1 c14">&nbsp;- Protection des donn&eacute;es &agrave; caract&egrave;re personnel</span>
</h2>
<h3 class="c9" id="h.gkajncapgbln"><span class="c8 c0">7.1 Responsable de traitement</span></h3>
<p class="c5"><span class="c0">Le responsable de traitement est &nbsp;</span><span
            class="c0 c11">{{ config.get.nomDpo }}</span><span
            class="c0">.</span></p>
<p class="c4"><span class="c8 c0"></span></p>
<h3 class="c9" id="h.fosvsbeflu2x"><span class="c8 c0">7.2 Donn&eacute;es personnelles trait&eacute;es</span></h3>
<p class="c5"><span class="c0">La pr&eacute;sente </span><span>p</span><span class="c0">lateforme traite les donn&eacute;es personnelles des utilisateurs et p</span><span>artenaires </span><span
            class="c0">suivantes :</span></p>
<ul class="c7 lst-kix_list_1-0">
    <li class="c12 li-bullet-0"><span class="c1 c0">Donn&eacute;es relatives au signalement du probl&egrave;me d&rsquo;habitat (nom, pr&eacute;nom, adresse-email, adresse du logement, taille du logement, d&eacute;sordres signal&eacute;s, </span><span>documents</span><span
                class="c1 c0">)</span></li>
    <li class="c12 li-bullet-0"><span class="c1 c0">Donn&eacute;es de cr&eacute;ation de compte et relatives au suivi du signalement du probl&egrave;me d&rsquo;habitat (nom, pr&eacute;nom, adresse e-mail, suivi du probl&egrave;me d&rsquo;habitat)</span>
    </li>
    <li class="c12 li-bullet-0"><span class="c1 c0">Donn&eacute;es de connexion (Identifiants de connexion, nature des op&eacute;rations, date et heure de l&rsquo;op&eacute;ration) ;</span>
    </li>
    <li class="c27 c31 li-bullet-0"><span
                class="c1 c0">Cookies n&eacute;cessaires au fonctionnement de la plateforme.</span></li>
</ul>
<p class="c27 c30"><span class="c1 c0"></span></p>
<h3 class="c9" id="h.upmqodt27b2x"><span class="c8 c0">7.3 Finalit&eacute;s des traitements</span></h3>
<p class="c5"><span class="c1 c0">Le site peut collecter des donn&eacute;es &agrave; caract&egrave;re personnel pour mesurer la criticit&eacute; d&rsquo;un signalement concernant un logement. La mesure de cette criticit&eacute;, &eacute;tablie comme une classe d&rsquo;&eacute;tiquette &eacute;nergie, permettra d&rsquo;identifier plus facilement les actions &agrave; mettre en &oelig;uvre.</span>
</p>
<p class="c5"><span class="c0">Ses finalit&eacute;s visent &agrave; :</span></p>
<ul class="c7 lst-kix_list_1-0">
    <li class="c12 li-bullet-0"><span class="c1 c0">signaler et suivre les probl&egrave;mes li&eacute;s &agrave; son habitat</span>
    </li>
    <li class="c12 li-bullet-0"><span class="c1 c0">rep&eacute;rer les habitats et immeubles n&eacute;cessitant des travaux de mani&egrave;re urgente</span>
    </li>
    <li class="c12 li-bullet-0"><span class="c1 c0">garantir et am&eacute;liorer la coop&eacute;ration avec les services d&rsquo;hygi&egrave;nes et de s&eacute;curit&eacute;</span>
    </li>
    <li class="c27 c31 li-bullet-0"><span class="c1 c0">proposer un suivi statistique anonymis&eacute; des probl&eacute;matiques rencontr&eacute;s sur le territoire</span>
    </li>
</ul>
<p class="c27 c30"><span class="c1 c0"></span></p>
<h3 class="c9" id="h.rkirk3r4tc"><span class="c8 c0">7.4 Bases juridiques des traitements de donn&eacute;es</span></h3>
<p class="c5"><span class="c0 c25">A &ndash; Base juridique du traitement concernant les donn&eacute;es &agrave; caract&egrave;re personnel relatives au signalement du probl&egrave;me d&rsquo;habitat</span>
</p>
<p class="c5"><span class="c0">Le traitement de donn&eacute;es &agrave; caract&egrave;re personnel est n&eacute;cessaire &agrave; l&rsquo;ex&eacute;cution d&rsquo;une mission d&rsquo;int&eacute;r&ecirc;t public.</span>
</p>
<p class="c5"><span class="c0 c25">B &ndash; Base juridique du traitement concernant les donn&eacute;es de cr&eacute;ation de compte et relatives au suivi du signalement du probl&egrave;me d&rsquo;habitat</span>
</p>
<p class="c5"><span class="c0">Le traitement de donn&eacute;es &agrave; caract&egrave;re personnel est n&eacute;cessaire &agrave; l&rsquo;ex&eacute;cution d&rsquo;une mission d&rsquo;int&eacute;r&ecirc;t public.</span>
</p>
<p class="c5"><span
            class="c0 c25">C &ndash; Base juridique du traitement concernant les donn&eacute;es de connexion</span></p>
<p class="c5"><span class="c0">Le traitement de donn&eacute;es &agrave; caract&egrave;re personnel est n&eacute;cessaire au respect d&rsquo;une obligation l&eacute;gale &agrave; laquelle le responsable du traitement est soumis.</span>
</p>
<p class="c5"><span class="c1 c0">Le fondement de cette obligation l&eacute;gale est le d&eacute;cret n&deg;2011-219 du 25 f&eacute;vrier 2011.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h3 class="c9" id="h.dsa9cfeagosx">
    <span>7</span><span>.5 Dur&eacute;e de conservation des traitements de donn&eacute;es</span></h3><a
        id="t.86cb800c80f67e39ad241b4ca7a18517560e514c"></a><a id="t.0"></a>
<table class="c23">
    <tbody>
    <tr class="c26">
        <td class="c17" colspan="1" rowspan="1"><p class="c20"><span class="c16">Donn&eacute;es</span></p></td>
        <td class="c17" colspan="1" rowspan="1"><p class="c20"><span class="c16">Dur&eacute;e de conservation</span></p>
        </td>
    </tr>
    <tr class="c26">
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">Donn&eacute;es relatives au signalement du probl&egrave;me d&rsquo;habitat</span>
            </p></td>
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">5 ans &agrave; compter de la fin de la prise en charge du probl&egrave;me d&rsquo;habitat par le partner. Histologe utilise ces donn&eacute;es pour d&eacute;tecter des signalements sur une m&ecirc;me adresse.</span>
            </p></td>
    </tr>
    <tr class="c26">
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">Donn&eacute;es de cr&eacute;ation de compte et relatives au suivi du probl&egrave;me d&rsquo;habitat</span>
            </p></td>
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">2 ans &agrave; compter de la suppression du compte</span>
            </p></td>
    </tr>
    <tr class="c26">
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">Donn&eacute;es de connexion</span></p>
        </td>
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">1 an</span></p></td>
    </tr>
    <tr class="c26">
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">Cookies</span></p></td>
        <td class="c17" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">13 mois ou jusqu&rsquo;au retrait du consentement de la personne concern&eacute;e</span>
            </p></td>
    </tr>
    </tbody>
</table>
<p class="c4"><span class="c8 c0"></span></p>
<h3 class="c9" id="h.kfaarl3t42u8"><span>7</span><span
            class="c8 c0">.6 S&eacute;curit&eacute; et confidentialit&eacute;</span></h3>
<p class="c5"><span class="c1 c0">Toutes les mesures techniques et organisationnelles de s&eacute;curit&eacute; sont adopt&eacute;es et mises &agrave; jour pour assurer la confidentialit&eacute;, l&rsquo;int&eacute;grit&eacute; et prot&eacute;ger l&rsquo;acc&egrave;s aux donn&eacute;es</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<h3 class="c9" id="h.555ihxzg3sda"><span>7</span><span class="c8 c0">.7 Droits des personnes concern&eacute;es</span>
</h3>
<p class="c5"><span class="c0">En vertu de l&rsquo;article 13 du r&egrave;glement (UE) n&deg;2016/679 du Parlement europ&eacute;en et du Conseil du 27 avril 2016 relatif &agrave; la protection des personnes physiques &agrave; l&rsquo;&eacute;gard du traitement des donn&eacute;es &agrave; caract&egrave;re personnel et &agrave; la libre circulation de ces donn&eacute;es, il est rappel&eacute; &agrave; chaque utilisateur dont les donn&eacute;es sont collect&eacute;es dans le cadre de l&rsquo;utilisation ou de la connexion d&rsquo;Histologe, qu&rsquo;il dispose des droits suivants concernant ses donn&eacute;es &agrave; caract&egrave;re personnel :</span>
</p>
<ul class="c7 lst-kix_list_1-0">
    <li class="c12 li-bullet-0"><span class="c1 c0">Droit d&rsquo;information ;</span></li>
    <li class="c12 li-bullet-0"><span class="c1 c0">Droit d&rsquo;acc&egrave;s aux donn&eacute;es ;</span></li>
    <li class="c12 li-bullet-0"><span class="c1 c0">Droit de rectification &nbsp;;</span></li>
    <li class="c27 c31 li-bullet-0"><span class="c1 c0">Droit au retrait du consentement en mati&egrave;re de cookies uniquement.</span>
    </li>
</ul>
<p class="c4"><span class="c1 c0"></span></p>
<p class="c5"><span class="c0">Vous pouvez exercer ces droits en &eacute;crivant</span></p>
<p class="c5"><span class="c14 c25">par mail</span><span class="c0">&nbsp;&agrave; </span><span
            class="c0 c11">{{ config.get.mailDpo }}</span></p>
<p class="c5"><span class="c0">ou </span><span class="c14 c25">par courrier</span></p>
<p class="c5"><span class="c0 c11">{{ config.get.adresseDpo }}</span></p>
<p class="c4"><span class="c1 c0"></span></p>
<p class="c5"><span class="c0">En raison de l&rsquo;obligation de s&eacute;curit&eacute; et de confidentialit&eacute; dans le traitement des donn&eacute;es &agrave; caract&egrave;re personnel qui incombe au responsable de traitement, votre demande ne sera trait&eacute;e que si vous rapportez la preuve de votre identit&eacute;. Pour vous aider dans votre d&eacute;marche, vous trouverez ici </span><span
            class="c2 c28"><a class="c32"
                              href="https://www.google.com/url?q=https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces&amp;sa=D&amp;source=editors&amp;ust=1644259868768801&amp;usg=AOvVaw2fUxDqrPelfA5gr9pnjxa1">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a></span><span
            class="c0">, un mod&egrave;le de courrier &eacute;labor&eacute; par la CNIL.</span></p>
<p class="c5"><span class="c0">Vous avez la possibilit&eacute; de vous opposer &agrave; un traitement de vos donn&eacute;es personnelles. Pour vous aider dans votre d&eacute;marche, vous trouverez ici un mod&egrave;le de courrier &eacute;labor&eacute; par la Cnil.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<p class="c5"><span class="c0">D&eacute;lais de r&eacute;ponse :</span><span><br></span><span class="c0">La responsable de traitement s&rsquo;engage &agrave; r&eacute;pondre &agrave; votre demande d&rsquo;acc&egrave;s, de rectification ou d&rsquo;opposition ou toute autre demande compl&eacute;mentaire d&rsquo;informations dans un d&eacute;lai raisonnable qui ne saurait d&eacute;passer 1 mois &agrave; compter de la r&eacute;ception de votre demande.</span>
</p>
<p class="c4"><span class="c8 c0"></span></p>
<h3 class="c9" id="h.gfevthc78kyf"><span class="c8 c0">7.8 Destinataires</span></h3>
<p class="c5"><span class="c0">Les donn&eacute;es collect&eacute;es et les demandes, ou dossiers r&eacute;alis&eacute;s depuis la Plateforme sont trait&eacute;es par les seules personnes juridiquement habilit&eacute;es &agrave; conna&icirc;tre des informations trait&eacute;es.</span>
</p>
<p class="c5"><span class="c0">Il s&rsquo;agit des agents, salari&eacute;s ou autre personne pouvant repr&eacute;senter la personne morale titulaire d&rsquo;une mission de service public qui utilise ou administre le service de la plateforme. </span>
</p>
<p class="c4"><span class="c8 c0"></span></p>
<h3 class="c9" id="h.iwfb5rlu1esw"><span class="c0 c8">7.9 Sous-traitants</span></h3>
<p class="c5"><span class="c1 c0">Certaines des donn&eacute;es sont envoy&eacute;es &agrave; des sous-traitants pour r&eacute;aliser certaines missions. Le responsable de traitement s&rsquo;est assur&eacute; de la mise en &oelig;uvre par ses sous-traitants de garanties ad&eacute;quates et du respect de conditions strictes de confidentialit&eacute;, d&rsquo;usage et de protection des donn&eacute;es.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p><a id="t.834c27ccc23dd7fdf992a932e5bba3af4a125faf"></a><a id="t.1"></a>
<table class="c23">
    <tbody>
    <tr class="c26">
        <td class="c21" colspan="1" rowspan="1"><p class="c20"><span class="c16">Partenaire</span></p></td>
        <td class="c21" colspan="1" rowspan="1"><p class="c20"><span class="c16">Traitement r&eacute;alis&eacute;</span>
            </p></td>
        <td class="c21" colspan="1" rowspan="1"><p class="c20"><span class="c16">Pays destinataire</span></p></td>
        <td class="c21" colspan="1" rowspan="1"><p class="c20"><span class="c16">Garanties</span></p></td>
    </tr>
    <tr class="c26">
        <td class="c21" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">OVH SAS</span></p></td>
        <td class="c21" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">H&eacute;bergement</span></p></td>
        <td class="c21" colspan="1" rowspan="1"><p class="c6"><span class="c1 c0">France</span></p></td>
        <td class="c21" colspan="1" rowspan="1"><p class="c6"><span class="c28 c15"><a class="c32"
                                                                                       href="https://www.google.com/url?q=https://www.ovh.com/fr/support/documents_legaux/Annexe%2520Traitement%2520de%2520donn%25C3%25A9es%2520%25C3%25A0%2520caract%25C3%25A8re%2520personnel.pdf&amp;sa=D&amp;source=editors&amp;ust=1644259868773487&amp;usg=AOvVaw0agOpXcx9QAoxF_eRWb4Pz">https://www.ovh.com/fr/support/documents_legaux/Annexe Traitement de donn&eacute;es &agrave; caract&egrave;re personnel.pdf</a></span>
            </p></td>
    </tr>
    </tbody>
</table>
<p class="c4"><span class="c8 c0"></span></p>
<h3 class="c9" id="h.1f8rqkrkx61c"><span class="c8 c0">7.10 Cookies</span></h3>
<p class="c5"><span class="c0">En tant qu&rsquo;&eacute;diteur de la pr&eacute;sente Plateforme, le responsable de traitement pourra faire usage de cookies. Certains cookies sont dispens&eacute;s du recueil pr&eacute;alable de votre consentement dans la mesure o&ugrave; ils sont strictement n&eacute;cessaires &agrave; la fourniture du service, d&rsquo;autres sont &eacute;galement dispens&eacute;s d&rsquo;un tel recueil lorsqu&rsquo;ils respectent les conditions d&rsquo;exemption du consentement de l&rsquo;internaute d&eacute;finies par la recommandation &laquo; Cookies &raquo; de la Commission nationale informatique et libert&eacute;s (CNIL).</span>
</p>
<p class="c5"><span class="c14">La mesure d&rsquo;audience (nombre de visites, pages consult&eacute;es) est r&eacute;alis&eacute;e par un outil libre intitul&eacute; Matomo sp&eacute;cifiquement param&eacute;tr&eacute;</span><span
            class="c0">, respectant ces conditions</span></p>
<p class="c5"><span class="c0">Ces cookies permettent d&rsquo;&eacute;tablir des mesures statistiques de fr&eacute;quentation et d&rsquo;utilisation du site pouvant &ecirc;tre utilis&eacute;es &agrave; des fins de suivi et d&rsquo;am&eacute;lioration du service :</span><span><br></span><span
            class="c0">&bull; Les donn&eacute;es collect&eacute;es ne sont pas recoup&eacute;es avec d&rsquo;autres traitements.</span><span><br></span><span
            class="c0">&bull; Le cookie d&eacute;pos&eacute; sert uniquement &agrave; la production de statistiques anonymes.</span><span><br></span><span
            class="c0">&bull; Le cookie ne permet pas de suivre la navigation de l&rsquo;internaute sur d&rsquo;autres sites.</span>
</p>
<p class="c5"><span class="c0">Les traceurs ont vocation &agrave; &ecirc;tre conserv&eacute;s sur le poste informatique de l&rsquo;Internaute pour une dur&eacute;e allant jusqu&rsquo;&agrave; 13 mois.</span>
</p>
<p class="c4"><span class="c1 c14"></span></p>
<h2 class="c22" id="h.3qporowkhewt"><span>8</span><span class="c1 c14">&nbsp;- Mise &agrave; jour des conditions d&rsquo;utilisation</span>
</h2>
<p class="c5"><span class="c0">Les termes des pr&eacute;sentes conditions d&rsquo;utilisation peuvent &ecirc;tre amend&eacute;s &agrave; tout moment, sans pr&eacute;avis, en fonction des modifications apport&eacute;es &agrave; la plateforme, de l&rsquo;&eacute;volution de la l&eacute;gislation ou pour tout autre motif jug&eacute; n&eacute;cessaire.</span>
</p>
<p class="c4"><span class="c1 c0"></span></p>
<p class="c4"><span class="c1 c0"></span></p>