<div class="cgu-bo">
    <strong class="title">Conditions d’utilisation de la plateforme Histologe</strong>
    <br><br>
    <p>
        Les présentes conditions générales d’utilisation (dites « CGU ») fixent le cadre juridique de la plateforme « Histologe »
        et définissent les conditions d’accès et d’utilisation des services par les partenaires.
    </p>
    <br>


    <strong>1 – Champ d’application</strong>
    <br>
    <p>
        L’utilisation de la plateforme Histologe et son Back-Office est gratuite pour tout partenaire inscrit sur la plateforme.
        La demande d’inscription aux services de la plateforme suppose la mise en œuvre d’un partenariat entre un territoire
        et la start-up d’Etat Histologe et l’acceptation par tout partenaire des présentes conditions générales d’utilisation.
    </p>
    <br>


    <strong>2 – Objet</strong>
    <br>
    <p>
        Histologe a pour objectif de permettre aux habitants de logements de repérer et de signaler les problèmes d’habitats,
        mais également d’accélérer l’apport de solutions à ces problèmes.
        <br>
        Pour cela, Histologe met à disposition des partenaires une interface d’administration (ci-après « Back-Office »)
        dans laquelle ils pourront gérer les signalements saisis par les usagers.
        <br><br>
        Il vise notamment à mesurer la criticité d’un signalement concernant son logement. La mesure de cette criticité,
        établie comme une classe d’étiquette énergie, permettra d’identifier facilement les actions à mettre en œuvre
        ainsi que leur degré de criticité.
    </p>
    <br>


    <strong>3 – Définitions</strong>
    <br>
    <ul>
        <li>
            « L’usager » est la personne habitant un logement privé ou public qui signale un problème lié à son habitat.
        </li>
        <li>
            « L’Administrateur» ou « L’agent » est la personne travaillant dans la structure (collectivité territoriale ou
            services de l’Etat) ayant conventionné avec Histologe et habilitée à hiérarchiser les signalements et les
            transférer aux partenaires pour traitement des désordres.
        </li>
        <li>
            « Les partenaires » sont les autres services de l’Etat, les collectivités territoriales, les opérateurs et
            les entreprises auxquels sont transmis les signalements et qui pourront intervenir dans leurs champs de compétence.
        </li>
        <li>
            « Les services » sont les moyens offerts par Histologe pour répondre à son objet et ses finalités.
        </li>
        <li>
            « Le Back-Office » est l’interface d’administration mise à disposition des agents et partenaires.
        </li>
        <li>
            « Le responsable de traitement » est la personne qui, au sens de l’article 4 du règlement UE) n°2016/679 du
            Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard
            du traitement des données à caractère personnel et à la libre circulation de ces données détermine les
            finalités et les moyens des traitements de données à caractère personnel.
        </li>
        <li>
            « L’éditeur » est la startup d'État Histologe.
        </li>
    </ul>
    <br>


    <strong>4 – Accès à la plateforme</strong>
    <br>
    <em>4.1 – Accès au Back-Office</em>
    <br>
    <p>
        Le Back-Office et ses services sont accessibles :
        <ul>
            <li>Aux partenaires des territoires sur lesquels la plateforme Histologe est déployée.</li>
            <li>Aux agents des territoires</li>
        </ul>
    </p>
    <br>

    <em>4.2 – Activation du compte partenaire</em>
    <br>
    <p>
        Les agents créent les comptes partenaires sur le Back-Office à partir des informations suivantes :
        <ul>
            <li>Nom et prénom du partenaire</li>
            <li>Adresse email professionnelle</li>
            <li>Organisme de rattachement</li>
        </ul>

        Le partenaire reçoit un email l’informant de la création de son compte et l'invitant à finaliser
        son inscription. La finalisation du compte partenaire est soumise à activation du compte par
        le partenaire et acceptation des présentes CGU.
        <br>
        <strong>NB :</strong> la création des comptes partenaires peut-être confiée à l’éditeur.
    </p>
    <br>

    <em>4.3 – Acceptation des CGU</em>
    <br>
    <p>
        L’acceptation des présentes CGU par le partenaire est soumise au moment de l’activation du compte
        partenaire. Cette acceptation ne peut être que pleine et entière. Les partenaires qui n’acceptent
        pas les présentes CGU ne peuvent pas utiliser la plateforme Histologe et n’ont pas accès au Back-Office.
    </p>


    <strong>5 – Fonctionnalités</strong>
    <br>
    <em>5.1 – Accès aux signalements</em>
    <br>
    <p>
        En accédant au Back-Office, chaque agent a accès à l’intégralité des signalements saisis par les 
        usagers sur le territoire.
        <br>
        En accédant au Back-Office, chaque partenaire a accès aux signalements qui lui sont affectés par les agents.
        <br><br>
        Chaque signalement contient des informations saisies par les utilisateurs :
        <ul>
            <li>Le type de problème rencontré dans le logement et sa gravité</li>
            <li>Les informations sur le logement : adresse, nombre d’habitants, type de logement.</li>
            <li>Les coordonnées de l'utilisateur et du propriétaire du logement</li>
            <li>Les documents joints au signalement</li>
        </ul>

        Les signalements peuvent aussi contenir des informations complémentaires renseignées par les partenaires dans le Back-Office.
    </p>
    <br>
    
    <em>5.2 – Transfert et mise à jour du signalement</em>
    <br>
    <p>
        L’agent détermine la criticité du signalement en fonction des informations fournies par l'utilisateur.
        <br>
        Une fois la criticité déterminée, l’agent détermine le ou les partenaires ou services compétents.
        Il transfère sur la plateforme et par mail au partenaire :
        <ul>
            <li>l’ensemble du signalement réalisé par l’Utilisateur,</li>
            <li>l’évaluation de la criticité du signalement.</li>
        </ul>
        L’utilisateur est informé par courriel de cet envoi.
        <br><br>
        Chaque partenaire concerné peut ensuite mettre à jour le signalement en y ajoutant des informations.
        Ces informations sont visibles par tous les agents et les partenaires à qui le signalement a été transféré.
        <br>
        Sur décision du partenaire, ces mises à jour peuvent être envoyées par courriel à l’utilisateur.
    </p>
    <br>
    
    <em>5.3 – Clôture du signalement</em>
    <br>
    <p>
        Chaque partenaire peut clôturer le signalement, signifiant qu’il a réalisé toutes les actions dans son
        domaine de compétence pour apporter une solution au problème signalé par l’utilisateur.
        <br>
        Les agents peuvent clôturer un signalement pour l’intégralité des partenaires concernés par le signalement.
        <br>
        Les clôtures sont visibles par les partenaires concernés et les agents dans le Back-Office.
        <br>
        Les partenaires concernés sont prévenus par email et / ou par notification dans le Back-Office.
        <br>
        L’utilisateur est prévenu par courriel de la clôture de son signalement.
    </p>
    <br>
    
    <em>5.4 – Envoi de feedback</em>
    <br>
    <p>
        Les partenaires ont accès à une fonctionnalité d’envoi de feedback leur permettant de remonter à l’éditeur
        les problèmes éventuels rencontrés sur la plateforme.
        <br>
        l’éditeur reçoit alors :
        <ul>
            <li>Une capture d’écran de la page depuis laquelle est saisie le feedback</li>
            <li>La description du feedback renseignée par le partenaire</li>
            <li>Le nom du partenaire envoyant le feedback</li>
        </ul>
    </p>
    <br>
    
    <em>5.5 – Autres fonctionnalités</em>
    <br>
    <p>
        L’éditeur se réserve la faculté de proposer toute autre fonctionnalité et de modifier toute fonctionnalité
        existante de la manière qu’elle jugera utile en fonction des moyens techniques qu’elle estimera les plus
        appropriés pour rendre lesdites fonctionnalités.
    </p>
    <br>


    <strong>6 – Responsabilités</strong>
    <br>
    <em>6.1 – L’éditeur de la plateforme Histologe</em>
    <br>
    <p>
        Les sources des informations diffusées sur la plateforme sont réputées fiables mais la plateforme ne garantit
        pas qu’elle soit exempte de défauts, d’erreurs ou d’omissions.
        <br>
        L’éditeur s’autorise à suspendre ou révoquer un compte et toutes les actions réalisées par ce biais, s’il estime
        que l’usage réalisé du service porte préjudice à son image ou ne correspond pas aux exigences de sécurité.
        <br>
        L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu, sans contrepartie
        financière, à la plateforme. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans
        préavis, la plateforme pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.
        <br>
        En cas de modification, et pour pouvoir continuer à exercer les droits d'accès au service qui lui sont dévolus,
        l’utilisateur devra valider la nouvelle version des lignes directrices, en cochant la case prévue à cet effet.
        Les présentes règles d’utilisation sont accessibles à tout moment par l’utilisateur sur la plateforme.
    </p>
    <br>
    
    <em>6.2 – L’Agent</em>
    <br>
    <p>
        L’Agent s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme,
        est interdite. Il assume les risques liés à l’utilisation de son identifiant et mot de passe.
        <br>
        Toute information transmise par l’Agent est de sa seule responsabilité. Il est rappelé que toute personne
        procédant à une fausse déclaration pour elle-même ou pour autrui s’expose à des sanctions.
        <br>
        L’Agent s’engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et
        réglementaires en vigueur. Tout contenu contraire à l’utilisation de la plateforme ou aux dispositions légales
        et réglementaires en vigueur sera supprimé, sans préavis.
    </p>
    <br>
    
    <em>6.3 – Le partenaire</em>
    <br>
    <p>
        Le partenaire s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa
        forme, est interdite. Il assume les risques liés à l’utilisation de son identifiant et mot de passe.
        <br>
        Toute information transmise par le partenaire est de sa seule responsabilité. Il est rappelé que toute personne
        procédant à une fausse déclaration pour elle-même ou pour autrui s’expose à des sanctions.
        <br>
        Le partenaire s’engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales
        et réglementaires en vigueur. Tout contenu contraire à l’utilisation de la plateforme ou aux dispositions légales
        et réglementaires en vigueur sera supprimé, sans préavis.
    </p>
    <br>


    <strong>7 – Protection des données à caractère personnel</strong>
    <br>
    <em>7.1 – Responsable de traitement</em>
    <br>
    <p>
        Le responsable de traitement est TODO
    </p>
    <br>
    
    <em>7.2 – Données personnelles traitées</em>
    <br>
    <p>
        La présente plateforme traite les données personnelles des utilisateurs et partenaires suivantes :
        <ul>
            <li>Données relatives au signalement du problème d’habitat (nom, prénom, adresse-email, adresse du logement,
            taille du logement, désordres signalés, documents)</li>
            <li>Données de création de compte et relatives au suivi du signalement du problème d’habitat (nom, prénom,
            adresse e-mail, suivi du problème d’habitat)</li>
            <li>Données de connexion (Identifiants de connexion, nature des opérations, date et heure de l’opération) ;</li>
            <li>Cookies nécessaires au fonctionnement de la plateforme.</li>
        </ul>
    </p>
    <br>
    
    <em>7.3 – Finalités des traitements</em>
    <br>
    <p>
        Le site peut collecter des données à caractère personnel pour mesurer la criticité d’un signalement concernant un
        logement. La mesure de cette criticité, établie comme une classe d’étiquette énergie, permettra d’identifier
        plus facilement les actions à mettre en œuvre.
        <br>
        Ses finalités visent à :
        <ul>
            <li>signaler et suivre les problèmes liés à son habitat</li>
            <li>repérer les habitats et immeubles nécessitant des travaux de manière urgente</li>
            <li>garantir et améliorer la coopération avec les services d’hygiènes et de sécurité</li>
            <li>proposer un suivi statistique anonymisé des problématiques rencontrés sur le territoire</li>
        </ul>
    </p>
    <br>
    
    <em>7.4 – Bases juridiques des traitements de données</em>
    <br>
    <p>
        <em>A – Base juridique du traitement concernant les données à caractère personnel relatives au signalement du problème d’habitat</em>
        <br>
        Le traitement de données à caractère personnel est nécessaire à l’exécution d’une mission d’intérêt public.
        <br>
        <em>B – Base juridique du traitement concernant les données de création de compte et relatives au suivi du signalement
        du problème d’habitat</em>
        <br>
        Le traitement de données à caractère personnel est nécessaire à l’exécution d’une mission d’intérêt public.
        <br>
        <em>C – Base juridique du traitement concernant les données de connexion</em>
        <br>
        Le traitement de données à caractère personnel est nécessaire au respect d’une obligation légale à laquelle le responsable
        du traitement est soumis.
        <br>
        Le fondement de cette obligation légale est le décret n°2011-219 du 25 février 2011.
    </p>
    <br>
    
    <em>7.5 – Durée de conservation des traitements de données</em>
    <br>
    <p>
        <table aria-label="Durée de conservation des traitements de données">
            <thead>
                <tr>
                    <th>Données</th>
                    <th>Durées de conversation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Données relatives au signalement du problème d’habitat
                    </td>
                    <td>
                        5 ans à compter de la fin de la prise en charge du problème d’habitat par le partenaire.
                        <br>
                        Histologe utilise ces données pour détecter des signalements sur une même adresse.
                    </td>
                </tr>
                <tr>
                    <td>
                        Données de création de compte et relatives au suivi du problème d’habitat
                    </td>
                    <td>
                        2 ans à compter de la suppression du compte
                    </td>
                </tr>
                <tr>
                    <td>
                        Données de connexion
                    </td>
                    <td>
                        1 an
                    </td>
                </tr>
                <tr>
                    <td>
                        Cookies
                    </td>
                    <td>
                        13 mois ou jusqu’au retrait du consentement de la personne concernée
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
    <br>
    
    <em>7.6 – Sécurité et confidentialité</em>
    <br>
    <p>
        Toutes les mesures techniques et organisationnelles de sécurité sont adoptées et mises à jour pour
        assurer la confidentialité, l’intégrité et protéger l’accès aux données
    </p>
    <br>
    
    <em>7.7 – Droits des personnes concernées</em>
    <br>
    <p>
        En vertu de l’article 13 du règlement (UE) n°2016/679 du Parlement européen et du Conseil du 27 avril 2016
        relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel
        et à la libre circulation de ces données, il est rappelé à chaque utilisateur dont les données sont
        collectées dans le cadre de l’utilisation ou de la connexion d’Histologe, qu’il dispose des droits suivants
        concernant ses données à caractère personnel :
        <ul>
            <li>Droit d’information ;</li>
            <li>Droit d’accès aux données ;</li>
            <li>Droit de rectification  ;</li>
            <li>Droit au retrait du consentement en matière de cookies uniquement.</li>
        </ul>

        Vous pouvez exercer ces droits en écrivant
        <br>
        <strong>par mail</strong> à dpd.daj.sg@developpement-durable.gouv.fr
        <br><br>

        En raison de l’obligation de sécurité et de confidentialité dans le traitement des données à caractère personnel
        qui incombe au responsable de traitement, votre demande ne sera traitée que si vous rapportez la preuve de
        votre identité. Pour vous aider dans votre démarche, vous trouverez ici
        <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces" target="_blank">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>,
        un modèle de courrier élaboré par la CNIL.
        <br>
        Vous avez la possibilité de vous opposer à un traitement de vos données personnelles. Pour vous aider dans votre
        démarche, vous trouverez ici un modèle de courrier élaboré par la Cnil.
        <br><br>

        Délais de réponse :
        <br>
        La responsable de traitement s’engage à répondre à votre demande d’accès, de rectification ou d’opposition ou toute
        autre demande complémentaire d’informations dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la
        réception de votre demande.
    </p>
    <br>
    
    <em>7.8 – Destinataires</em>
    <br>
    <p>
        Les données collectées et les demandes, ou dossiers réalisés depuis la Plateforme sont traitées par les seules personnes
        juridiquement habilitées à connaître des informations traitées.
        <br>
        Il s’agit des agents, salariés ou autre personne pouvant représenter la personne morale titulaire d’une mission de service
        public qui utilise ou administre le service de la plateforme.
    </p>
    <br>
    
    <em>7.9 – Sous-traitants</em>
    <br>
    <p>
        Certaines des données sont envoyées à des sous-traitants pour réaliser certaines missions. Le responsable de traitement
        s’est assuré de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de
        confidentialité, d’usage et de protection des données.
        <br>
        Seules les données nécessaires au traitement du signalement sont transmises et les sous-traitants sont les
        partenaires d’Histologe.
        <br>

        <table aria-label="Liste des sous-traitants des données">
            <thead>
                <tr>
                    <th>Partenaire</th>
                    <th>Traitement réalisé</th>
                    <th>Pays destinataire</th>
                    <th>Garanties</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        OVH SAS
                    </td>
                    <td>
                        Hébergement
                    </td>
                    <td>
                        France
                    </td>
                    <td>
                        <a href="https://www.ovh.com/fr/support/documents_legaux/Annexe Traitement de données à caractère personnel.pdf" target="_blank">
                            https://www.ovh.com/fr/support/documents_legaux/Annexe Traitement de données à caractère personnel.pdf
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
    <br>
    
    <em>7.10 – Cookies</em>
    <br>
    <p>
        En tant qu’éditeur de la présente Plateforme, le responsable de traitement pourra faire usage de cookies.
        Certains cookies sont dispensés du recueil préalable de votre consentement dans la mesure où ils sont strictement
        nécessaires à la fourniture du service, d’autres sont également dispensés d’un tel recueil lorsqu’ils
        respectent les conditions d’exemption du consentement de l’internaute définies par la recommandation
        « Cookies » de la Commission nationale informatique et libertés (CNIL).
        <br>
        La mesure d’audience (nombre de visites, pages consultées) est réalisée par un outil libre intitulé Matomo spécifiquement
        paramétré, respectant ces conditions.
        <br>
        Ces cookies permettent d’établir des mesures statistiques de fréquentation et d’utilisation du site pouvant
        être utilisées à des fins de suivi et d’amélioration du service :
        <ul>
            <li>Les données collectées ne sont pas recoupées avec d’autres traitements.</li>
            <li>Le cookie déposé sert uniquement à la production de statistiques anonymes.</li>
            <li>Le cookie ne permet pas de suivre la navigation de l’internaute sur d’autres sites.</li>
        </ul>
        Les traceurs ont vocation à être conservés sur le poste informatique de l’Internaute pour une durée allant jusqu’à 13 mois.
    </p>
    <br><br>

    <strong>8 – Mise à jour des conditions d’utilisation</strong>
    <br>
    <p>
        Les termes des présentes conditions d’utilisation peuvent être amendés à tout moment, sans préavis, en fonction
        des modifications apportées à la plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire.
    </p>
    <br>
</div>