<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-8 fr-pr-10v">
        <h2 class="fr-mb-3v tab-panel-title-with-icon">Dossiers à vérifier</h2>
        <p class="fr-mt-1v fr-ml-1v fr-text--lg">Consultez les dossiers en cours, sans activité partenaire depuis au
            moins 30 jours. Accédez aux dossier, relancez les partenaires ou effectuez les actions nécessaires à
            l'avancée du dossier.</p>
    </div>
</div>
