<div id="tabpanel-dossiers-a-verifier-panel"
     class="fr-tabs__panel"
     role="tabpanel"
     aria-labelledby="tabpanel-dossiers-a-verifier"
     tabindex="0">
    {% include 'back/dashboard/tabs/dossiers_a_verifier/_header_dossier_a_verifier.html.twig' %}
    {% if is_granted('VIEW_TAB_PANEL', 'dossiers-sans-activite-partenaire') %}
        <div id="dossiers-sans-activite-partenaire" data-url="{{ path('back_tab_panel_body', {tabBodyType : 'dossiers-sans-activite-partenaire' }) }}">
            Chargement...
        </div>
    {% endif %}
</div>
