{% extends 'base.html.twig' %}

{% block title %}Helper SA identifiant des désordres et précisions de désordres{% endblock %}

{% block body %}
    <main class="fr-container--fluid fr-py-5w fr-px-10w" id="content">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col">
                <h2 class="fr-h3">Liste des identifiants de désordre API</h2>
                {% for critere in desordreCriteres %}
                    {% if critere.desordrePrecisions|length > 1 %}
                        '{{ critere.slugCritere }}',
                        <br>
                    {% else %}
                        '{{ critere.desordrePrecisions.first.desordrePrecisionSlug }}',
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
                
            <div class="fr-col">
                <h2 class="fr-h3">Liste des identifiants de précisions de désordres API</h2>
                {% for critere in desordreCriteres %}
                    {% if critere.desordrePrecisions|length > 1 %}
                            {% for precision in critere.desordrePrecisions %}
                                '{{ precision.desordrePrecisionSlug }}',
                                <br>
                            {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}