{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}
{% block body %}

    <main class="fr-container--fluid">
        <section class="fr-container fr-py-5w">
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--center">
                    <figure>
                        <img src="{{ asset('img/Logohistologe.png') }}" alt="Logo HISTOLOGE" width="200">
                    </figure>
                    <figure class="fr-my-5w fr-mx-0">
                        <figcaption>
                            <h1>Accès refusé</h1>
                        </figcaption>
                        <img src="{{ asset('img/icon-stop-lg.svg') }}" alt="Erreur 403" class="fr-my-5v">
                        <figcaption>
                            Vous n'avez pas les droits nécessaires pour accéder à cette page.<br>
                            Cliquez sur le bouton ci-dessous pour retourner à l'accueil.
                        </figcaption>
                    </figure>
                    <a href="{{ path('home') }}"
                       class="fr-btn fr-btn--orange fr-fi-arrow-right-line fr-btn--icon-right fr-text-label--blue-france fr-rounded fr-text--bold">Aller
                        à l'accueil</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}