<div id="list-tags">
    <h2 class="fr-mb-0" id="desc-table">{{ singular_or_plural(tags|length, 'étiquette trouvée', 'étiquettes trouvées') }}</h2>
    <div class="fr-skiplinks">
        <a class="fr-link fr-link--icon-right fr-icon-arrow-down-line" href="#pagination" aria-label="Accéder à la pagination"
            >Accéder à la pagination</a>
    </div>
</div>