{% extends 'back/base_bo.html.twig' %}

{% block title %}Réactivation du compte{% endblock %}

{% block content %}
    <section class="fr-col-12 fr-p-5v">
            {% include 'back/breadcrumb_bo.html.twig' with {
                'level2Title': 'Outils SA',
                'level2Link': '',
                'level2Label': '',
                'level3Title': 'Comptes archivés',
                'level3Link': path('back_account_index'),
                'level3Label': 'Retour à la liste des comptes archivés',
                'level4Title': 'Réactivation du compte',
                'level4Link': '',
                'level4Label': '',
            } %}
        <h2 class="fr-h2 fr-mb-0">Réactivation du compte {{ user.email|clean_tagged_text(constant('App\\Entity\\User::SUFFIXE_ARCHIVED'), 'left')  }}</h2>
        <div class="fr-pt-5v">
            {{ include('back/account/_form.html.twig') }}
        </div>
    </section>
{% endblock %}